<div class="ui form">
    {% csrf_token %}
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">C</div>
        </div>
        <div class="field">
            <label>What is the main cause of this epilepsy?</label>
            <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_main')">
                {% for epilepsy_cause in epilepsy_causes %}
                    {% if selected_seizure_cause_main == epilepsy_cause.0 %}
                        <option value="{{epilepsy_cause.0}}" selected>{{epilepsy_cause.1}}</option>
                    {% else %}
                        <option value="{{epilepsy_cause.0}}">{{epilepsy_cause.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        {% if selected_seizure_cause_main == "Str" %}
            <div class="field"> 
                <label>Structural Causes</label>
                <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_structural')">
                    {% for structural_cause in structural_causes %}
                        {% if selected_structural_cause == structural_cause.0 %}
                            <option value="{{structural_cause.0}}" selected>{{structural_cause.1}}</option>
                        {% else %}
                            <option value="{{structural_cause.0}}">{{structural_cause.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% elif selected_seizure_cause_main == "Gen" %}

            <div class="two fields">
            
                <div class="field">
                    <label>Genetic Causes</label>
                    <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_genetic')">
                        {% for genetic_cause in genetic_causes %}
                            {% if selected_genetic_cause == genetic_cause.0 %}
                                <option value="{{genetic_cause.0}}" selected>{{genetic_cause.1}}</option>
                            {% else %}
                                <option value="{{genetic_cause.0}}">{{genetic_cause.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="field">
                    <label>Single Gene Causes</label>
                    <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_gene_abnormality')">
                        {% for gene_defect in gene_defects %}
                            {% if selected_seizure_cause_gene_abnormality == gene_defect.0 %}
                                <option value="{{gene_defect.0}}" selected>{{gene_defect.1}}</option>
                            {% else %}
                                <option value="{{gene_defect.0}}">{{gene_defect.1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            {% if selected_seizure_cause_gene_abnormality == "Oth" %}
                <div class="field">
                    <label>Single Gene Causes</label>
                    <input unicorn:model="seizure_cause_genetic_other" unicorn:change="change_seizure_cause_genetic_other"/>
                </div>
            {% endif %}

        {% elif selected_seizure_cause_main == "Inf" %}
            <div class="field">
                <label>Infectious Cause</label>
                <input unicorn:model="seizure_cause_infectious" unicorn:change="change_seizure_cause_infectious"/>
            </div>
        {% elif selected_seizure_cause_main == "Met" %}
            <div class="field">
                <label>Metabolic Causes</label>
                <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_gene_abnormality')">
                    {% for metabolic_cause in metabolic_causes %}
                        {% if selected_seizure_cause_metabolic == metabolic_cause.0 %}
                            <option value="{{metabolic_cause.0}}" selected>{{metabolic_cause.1}}</option>
                        {% else %}
                            <option value="{{metabolic_cause.0}}">{{metabolic_cause.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            {% if selected_seizure_cause_metabolic == "Oth" %}
                <div class="field">
                    <label>Details of other metabolic cause</label>
                    <input unicorn:model="seizure_cause_metabolic_other" unicorn:change="change_seizure_cause_metabolic_other"/>
                </div>
            {% endif %}
        {% elif selected_seizure_cause_main == "Imm" %}
            <div class="field">
                <label>Immune Causes</label>
                <select class="ui dropdown" unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'seizure_cause_immune')">
                    {% for immune_cause in immune_causes %}
                        {% if selected_seizure_cause_immune == immune_cause.0 %}
                            <option value="{{immune_cause.0}}" selected>{{immune_cause.1}}</option>
                        {% else %}
                            <option value="{{immune_cause.0}}">{{immune_cause.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        {% elif selected_seizure_cause_main == "NK" %}
            <div class="field">
                <div class="ui message">
                    <label>Not Known</label>
                </div>
            </div>
        {% else %}

        {% endif %}

    </div>
</div>