<div>
    <form unicorn:submit.prevent="add" class="ui inline form">
        <div class="ui info icon message">
        <i class="info circle icon"></i>
        Write a freehand description of the episode, using as much detail as you can, to a maximum of 5000 characters. Any key words we recognise will automatically be gathered. Remove these from the collection if you feel they are not key words in the context.
        </div>
        <div class="ui field">
            <textarea type="text" rows="8" unicorn:model="description" placeholder="{{name}} had aphasia..." id="description" unicorn:change="textUpdated"/>
        </div>
        <div class="ui red icon button" icon="delete" unicorn:click="$reset">Clear description</div>
        <i class="question circle icon link" id="choicesPopup"></i>
        <div class="ui flowing popup top left transition hidden">
            <p>Some examples of keywords to choose from...</p>
            {% for choice in choices %}
                <div class="ui label" style="margin-bottom: 5px;">{{choice.keyword}}</div>
            {% endfor %}
        </div>
        <label>Characters: {{character_count}}</label>
    </form>

    <hr>
    <p>Keywords used in description:</p>
    <div class="ui message">
        {% if collected_keywords|length > 0 %}
                <div class="ui blue labels">
                    {% for keyword in collected_keywords %}
                        <div class="ui label">
                            {{keyword.keyword}}
                            <i class="icon close" unicorn:click="remove_keyword({{keyword.pk}})"></i>
                        </div>
                    {% endfor %}
                </div>
        {% else %}
        No keywords yet! 🎉
        {% endif %}
    </div>
</div>