    {% csrf_token %}
<div>
    <div class="field">
        <label>How best describes the <i>onset</i> of the epileptic seizure?</label>
        <select unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'epileptic_seizure_onset_type')">
            {% for epileptic_seizure_onset_type in epileptic_seizure_onset_types %}
                {% if desscribe.epileptic_seizure_onset_type == epileptic_seizure_onset_type.0 %}
                    <option value="{{epileptic_seizure_onset_type.0}}" selected>{{epileptic_seizure_onset_type.1}}</option>
                {% else %}
                    <option value="{{epileptic_seizure_onset_type.0}}">{{epileptic_seizure_onset_type.1}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    {% if desscribe.epileptic_seizure_onset_type == "FO" %}
        <h5 class="header">Which feature(s) best describe the focality of onset?</h5>
        <div class="fields">
            <div class="field">
                {% if desscribe.focal_onset_impaired_awareness %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, focal_onset_impaired_awareness)"/>
                        <label>Impaired Awareness</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_impaired_awareness' )"/>
                        <label>Impaired Awareness</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_automatisms %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_automatisms')"/>
                        <label>Automatisms</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_automatisms' )"/>
                        <label>Automatisms</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_atonic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_atonic')"/>
                        <label>Atonic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_atonic' )"/>
                        <label>Atonic</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_clonic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_clonic')"/>
                        <label>Clonic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_clonic' )"/>
                        <label>Clonic</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_left %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_left')"/>
                        <label>Left</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_left' )"/>
                        <label>Left</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_right %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_right')"/>
                        <label>Right</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_right' )"/>
                        <label>Right</label>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="fields">

            <div class="field">
                {% if desscribe.focal_onset_epileptic_spasms %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_epileptic_spasms')"/>
                        <label>Spasms</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_epileptic_spasms' )"/>
                        <label>Spasms</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_hyperkinetic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_hyperkinetic')"/>
                        <label>Hyperkinetic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_hyperkinetic' )"/>
                        <label>Hyperkinetic</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_myoclonic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_myoclonic')"/>
                        <label>Myoclonic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_myoclonic' )"/>
                        <label>Myoclonic</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_tonic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_tonic')"/>
                        <label>Tonic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_tonic' )"/>
                        <label>Tonic</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_autonomic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_autonomic')"/>
                        <label>Autonomic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_autonomic' )"/>
                        <label>Autonomic</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_behavioural_arrest %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_behavioural_arrest')"/>
                        <label>Behavioural Arrest</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_behavioural_arrest' )"/>
                        <label>Behavioural Arrest</label>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="fields">

            <div class="field">
                {% if desscribe.focal_onset_cognitive %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_cognitive')"/>
                        <label>Cognitive</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_cognitive' )"/>
                        <label>Cognitive</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_emotional %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_emotional')"/>
                        <label>Emotional</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_emotional' )"/>
                        <label>Emotional</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_sensory %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_sensory')"/>
                        <label>Sensory</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_sensory' )"/>
                        <label>Sensory</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_centrotemporal %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_centrotemporal')"/>
                        <label>Centrotemporal</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_centrotemporal' )"/>
                        <label>Centrotemporal</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_temporal %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_temporal')"/>
                        <label>Temporal</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_temporal' )"/>
                        <label>Temporal</label>
                    </div>
                {% endif %}
            </div>
            <div class="field">
                {% if desscribe.focal_onset_frontal %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_frontal')"/>
                        <label>Frontal</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_frontal' )"/>
                        <label>Frontal</label>
                    </div>
                {% endif %}
            </div>

        </div>

        <div class="fields">

            <div class="field">
                {% if desscribe.focal_onset_parietal %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_parietal')"/>
                        <label>Parietal</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_parietal' )"/>
                        <label>Parietal</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_occipital %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_occipital')"/>
                        <label>Occipital</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_occipital' )"/>
                        <label>Occipital</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_gelastic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_gelastic')"/>
                        <label>Gelastic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_gelastic' )"/>
                        <label>Gelastic</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_focal_to_bilateral_tonic_clonic %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_focal_to_bilateral_tonic_clonic')"/>
                        <label>Focal to Bilateral Tonic Clonic</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_focal_to_bilateral_tonic_clonic' )"/>
                        <label>Focal to Bilateral Tonic Clonic</label>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                {% if desscribe.focal_onset_other %}
                    <div class="ui toggle checkbox" >
                        <input type="checkbox" checked unicorn:change="changeFocal(False, 'focal_onset_other')"/>
                        <label>Other</label>
                    </div>
                {% else %}
                    <div class="ui toggle checkbox">
                        <input type="checkbox" unicorn:change="changeFocal(True, 'focal_onset_other' )"/>
                        <label>Other</label>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if desscribe.focal_onset_other %}
            <div class="field">
                <label>Other Details</label>
                <input type="text" unicorn:model="focal_onset_other_details" unicorn:change="focal_text_updated"/>
                {% if desscribe.focal_onset_other_details.errors %}
                    <div class="ui pointing red basic label">{{desscribe.focal_onset_other_details.errors}}</div>
                {% endif %}
            </div>
        {% endif %}

    {% elif desscribe.epileptic_seizure_onset_type == "GO" %}
        <div class="field">
                <label>How best describes the <i>type</i> of generalised epileptic seizure?</label>
                <select unicorn:change="epilepsy_dropdown_change_select($event.target.value, 'epileptic_generalised_onset')">
                    {% for epileptic_generalised_onset_type in epileptic_generalised_onset_types %}
                        {% if desscribe.epileptic_generalised_onset == epileptic_generalised_onset_type.0 %}
                            <option value="{{epileptic_generalised_onset_type.0}}" selected>{{epileptic_generalised_onset_type.1}}</option>
                        {% else %}
                            <option value="{{epileptic_generalised_onset_type.0}}">{{epileptic_generalised_onset_type.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
        </div>

        {% if desscribe.epileptic_generalised_onset == "Oth" %}
            <div class="field">
                <label>Please add details if relevant</label>
                <input unicorn:model="epileptic_generalised_onset_other_details" unicorn:change="generalised_text_updated"/>
                {% if desscribe.generalised_onset_other_details.errors %}
                    <div class="ui pointing red basic label">{{desscribe.generalised_onset_other_details.errors}}</div>
                {% endif %}
            </div>
        {% endif %}

    {% elif desscribe.epileptic_seizure_onset_type == "UO" %}
        <div class="ui message">
        Unknown Onset: No further information about seizure type gathered
        </div>
    {% else %}
        <div class="ui message">
        Unclassified: No further information about seizure type gathered
        </div>
    {% endif %}
</div>