<div class="ui form">
    {% csrf_token %}
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">RIBE</div>
        </div>

        <div class="field">
            {% if selected_relevant_impairments_behavioural_educational %}
                <div class="ui toggle checkbox">
                    <input type="checkbox" checked unicorn:change="changeRIBE(False, 'relevant_impairments_behavioural_educational')"/>
                    <label>Are there any relevant <b><i>i</i></b>mpairments: <i><b>b</b></i>ehavioural or <i><b>e</b></i>ducational/<i><b>e</b></i>motional problems?</label>
                </div>
            {% else %}
                <div class="ui toggle checkbox">
                    <input type="checkbox" unicorn:change="changeRIBE(True, 'relevant_impairments_behavioural_educational')"/>
                    <label>Are there any relevant <b><i>i</i></b>mpairments: <i><b>b</b></i>ehavioural or <i><b>e</b></i>ducational/<i><b>e</b></i>motional problems?</label>
                </div>
            {% endif %}

            
            {% if selected_relevant_impairments_behavioural_educational == False %}
                <div class="ui icon message">
                    <i class="info circle icon"></i>
                    <p>
                    Please list these in the Comorbidities section.
                    </p>
                </div>
            {% else %}
                
                    {% if comorbidities|length > 0 %}
                    <div class="ui centred message">
                        <table class="ui very basic celled table">
                            <thead>
                                <th>Comorbidity</th>
                                <th>SNOMED-CT code</th>
                                <th></th>
                            </thead>
                            <tbody>
                                {% for comorbidity in comorbidities %}
                                    <tr>
                                        <td>{{ comorbidity.get_comorbidity_display }}</td>
                                        <td>{{ comorbidity.comorbidity_snomed_code }}</td>
                                        <td><button class="ui circular red round icon button"><i class="trash alternate outline icon"></i></button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{% url 'create_comorbidity' case_id %}"><button class="ui mini blue button" >Add Comorbidity</button></a>
                    </div>
                    {% else %}
                        <div class="ui icon red message">
                            <p>There are no reported comorbidities yet.</p>
                            <a href="{% url 'create_comorbidity' case_id %}"><button class="ui mini blue button" >Add Comorbidity</button></a>
                        </div>
                    {% endif %}
            {% endif %}
            
        </div>

    </div>
</div>