<div class="ui form">
    {% csrf_token %}
    <div class="ui blue segment">
            <div class="ui header">
                <div class="ui blue circular label">S</div>
            </div>
            <div class="field">
                <label>Is there an identifiable epilepsy syndrome?</label>
                <select class="ui dropdown" unicorn:change="change_syndrome_select($event.target.value)">
                        {% for syndrome in syndromes %}
                            {% if desscribe.syndrome == syndrome.0 %}
                                <option value="{{syndrome.0}}" selected>{{syndrome.1}}</option>
                            {% else %}
                                <option value="{{syndrome.0}}">{{syndrome.1}}</option>
                            {% endif %}
                        {% endfor %}
                </select>
            </div>
    </div>
</div>