{
    email {$LETSENCRYPT_EMAIL_ADDRESS}
    acme_ca {$LETSENCRYPT_ENDPOINT:https://acme-v02.api.letsencrypt.org/directory}
}

{$SITE_DOMAIN} {
    reverse_proxy http://django:8000
}

{$SITE_DOMAIN}/flower {
    reverse_proxy http://flower:8888
}

{$SITE_DOMAIN}/tasks {
    reverse_proxy http://flower:8888
}

{$SITE_DOMAIN}/broker {
    reverse_proxy http://flower:8888
}

{$SITE_DOMAIN}/workers {
    reverse_proxy http://flower:8888
}
