# GLOBALS
{
    email {$LETSENCRYPT_EMAIL_ADDRESS}
    acme_ca {$LETSENCRYPT_ENDPOINT}
}

# DJANGO
{$SITE_DOMAIN} {
    tls {$TLS_SOURCE}

    # DJANGO
    reverse_proxy http://django:8000

    # MKDOCS static files are served from a /docs path
    handle_path /docs/* {
        root * /srv/staticdocs
        file_server {
            index index.html
        }
    }

    # FLOWER monitoring is served from a /flower path
    # currently commented out until security is established
    # handle /flower* {
    #     reverse_proxy http://flower:8888
    # }

    log {
        level ERROR # options are DEBUG, INFO, ERROR from most to least verbose
    }
}
