# This file is a template for the required environment variables

# PostgresQL
export POSTGRES_DB="epilepsy12db"
export POSTGRES_DB_PORT="5432:5432"
export POSTGRES_USER="epilepsy12user"
export POSTGRES_PASSWORD="epilepsy12"

# Django
export E12_SECRET_KEY="mysecretkey"