{% autoescape off %}
<div class="indent" style="display: relative; width: 80%; margin: auto;">
    <img alt="" src="data:image/png;base64,{{ base64 }">
    <p style="font-family: 'Montserrat-Regular';">Hello,</p>
    <p style="font-family: 'Montserrat-Regular';">
    We have created an account for you on the Epilepsy12 platform. To initiate the password creation process for your account, click the link below please go to
    </p>
    <p style="font-family: 'Montserrat-Regular';">
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </p>
    <p style="font-family: 'Montserrat-Regular';">
    This link can only be used once. 
    If you need to reset your password again, please visit:
    </p>
    <p style="font-family: 'Montserrat-Regular';">
    {{ protocol }}://{{domain}} and request another reset.
    </p>
    <p style="font-family: 'Montserrat-Regular';">
    Best wishes,
    </p>
    <p style="font-family: 'Montserrat-Regular';">
    The Epilepsy12 Team
    </p>
</div>
    
{% endautoescape %}