{% load static %}
{% autoescape off %}
<div class="indent" style="display: relative; width: 80%; margin: auto;">
  <div class="centered" style="width: 50%; margin: auto;">
    <img alt="RCPCH Epilepsy12 Logo" src='{{ protocol }}://{{ domain }}{% static "images/epilepsy12-logo-1.png" %}'>
  </div>
  <p style="font-family: 'Montserrat', sans-serif;">Welcome to Epilepsy12!</p>
  <p style="font-family: 'Montserrat', sans-serif;">
    We have created an account for you on the Epilepsy12 platform. To initiate the password creation process for your
    account, click the link below:
  </p>
  <p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" target="_blank">
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
  </p>
  <p style="font-family: 'Montserrat', sans-serif;">
    This link can only be used once, and expires in 72 hours. To request a new link, get in touch with your Epilepsy12 local admin
    or get in touch with
    <a href="mailto:epilepsy12@rcpch.ac.uk">The Epilepsy12 Team</a>
    . Alternatively, you can go to {{ protocol }}://{{ domain }}{% url 'password_reset' %} to request a new link.
  </p>
  <br />
  <p style="font-family: 'Montserrat', sans-serif;">
    The Epilepsy12 Team
  </p>
</div>
<style>
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
</style>
{% endautoescape %}
