{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

  <div class='ui container'>

    <div class="ui two column centered grid">
    {% csrf_token %}

      <div class="column">
        
        <div class="ui header">
          <img src='{% static "images/epilepsy12-logo-1.png" %}'>
          <div class="content">
            <h2>Sign In</h2>
          </div>
        </div>

        <form method="post" class="ui rcpch form">
          {% csrf_token %}
            {% for field in form %}
              <p>
                <h5>{{ field.label_tag }}</h5>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <div class='ui red message' style="color: red">{{ error }}</div>
                {% endfor %}
              </p>
            {% endfor %}

          <div class='field'>
            <button class="ui rcpch_primary button" type="submit">Sign in</button>
          </div>
          
          <div class='two fields'>

              <div class="field">
                <a href="/password_reset">Reset Password</a>
              </div>
              <div class="field">
                <a href="/signup">Create Account</a>
              </div>
          
          </div>

        </form>
      
      </div>

    </div>
  
  </div>
  
{% endblock %}