{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='ui rcpch container'>

    <div class="ui two column centered grid">
        {% csrf_token %}
  
        <div class="column">
        
            <div class="ui header">
            <img src='{% static "images/epilepsy12-logo-1.png" %}'>
            <div class="content">
                <h2>Password reset complete</h2>
            </div>
            </div>
        
            <p>Your new password has been set. You can log in now on the <a class="rcpch_link" href="{% url 'two_factor:login' %}">log in page</a>.</p>

        </div>
    </div>
</div>
{% endblock %}