{% extends "base.html" %}
{% load static %}

{% block content %}

<div class='ui container'>

  <div class="ui two column centered grid">
  {% csrf_token %}

    <div class="column">
      
      <div class="ui header">
        <img src='{% static "images/epilepsy12-logo-1.png" %}'>
        <div class="content">
          <h2>Sign In</h2>
        </div>
      </div>


    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post" class="ui rcpch form">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="field">
              {{ form.new_password1.errors }}
              <label for="id_new_password1">New password:</label>
              {{ form.new_password1 }}
            </div>
            <div class="field">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <div class='field'>
              <button class="ui rcpch_primary button" type="submit">Change Password</button>
            </div>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

  </div>
</div>

{% endblock %}