{% load static %}
{% autoescape off %}

    <div class='ui container'>

        <div class="ui two column centered grid">

            <div class="column">

                <div class='row'>
                
                    <div class="ui header">
                        <img src='{% static "images/epilepsy12-logo-1.png" %}'>
                        <div class="content">
                            <h2>Epilepsy12 password reset</h2>
                        </div>
                    </div>

                    <p>Dear {{user}},

                    <p>To reset your password to the Epilepsy12 platform, click the link below:</p>

                    <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>

                    <p>If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.</p>
                    <p>If you did not make this request, please contact the RCPCH Epilepsy12 team.</p>

                    <p>Sincerely,</p>
                    <p>The RCPCH Epilepsy12 team</p>
                
                </div>
            
            </div>
        
        </div>

    </div>

{% endautoescape %}