{% extends "base.html" %}
{% load static %}

{% block content %}

<div class='ui rcpch container'>

  <div class="ui two column centered grid">
  {% csrf_token %}

    <div class="column">
      
      <div class="ui header">
        <img src='{% static "images/epilepsy12-logo-1.png" %}'>
        <div class="content">
          <h2>Sign In</h2>
        </div>
      </div>


    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post" class="ui rcpch form">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="field">
              {{ form.new_password1.errors }}
              <label for="id_new_password1">New password:</label>
              {{ form.new_password1 }}
            </div>
            <div class="field">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <div class='field'>
              <button class="ui rcpch_primary button" type="submit">Change Password</button>
            </div>
        </form>
        <h5>Password Guidance</h5>
        <li><small>Minimum of 10 characters (minimum 16 for RCPCH Audit team)</small></li>
        <li><small>Must contain ONE capital</small></li>
        <li><small>Must contain ONE number</small></li>
        <li><small>Must contain ONE symbol from !@£$%^&*()_-+=|~</small></li>
        <li><small>Must NOT be exclusively numbers</small></li>
        <li><small>Must NOT be same as your email, name, surname</small></li>
        <i><small>Note passwords must be changed every 90 days.</small></i>
        
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used or it has expired after 72 hours. Please request a new password reset.</p> 
    {% endif %}


  </div>
</div>

{% endblock %}