{% extends 'base.html' %}
{% load static %}


{% block content %}

	<!--Reset Password-->
	
<div class='ui rcpch container'>

    <div class="ui two column centered grid">
    {% csrf_token %}
  
        <div class="column">

            <div class='row'>
            
                <div class="ui header">
                    <img src='{% static "images/epilepsy12-logo-1.png" %}'>
                    <div class="content">
                        <h2>Reset Password</h2>
                    </div>
                </div>
                

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}

                <p>Forgotten your password or password expired? Enter your email address below, and we'll email instructions for setting a new one.</p>
                        
            
                <form method="POST" class="ui rcpch form">
                    {% csrf_token %}
                    <div class="field">
                        
                        <label class="small mb-1" for="id_email">Email</label>
                        <input type="email" name="email"  class="form-control"
                                autocomplete="email" maxlength="254" required id="id_email"
                                placeholder="Enter email">
                    </div>

                    <button type="submit" class="ui rcpch_primary button">
                        Submit
                    </button>
                        
                </form>
                <br>
            
            </div>
        
            
            <div class="row">
                <a href="{% url 'two_factor:login' %}">Back To Login</a><br>
            </div>

        </div>
    </div>

</div>

{% endblock %}