{% autoescape off %}
    <div class="indent" style="display: relative; width: 80%; margin: auto;">
        <div class="centered" style="width: 50%; margin: auto;">
        <img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAC0CAIAAACyr5FlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
            bWFnZVJlYWR5ccllPAAAFNZJREFUeNrsnXtMFVcexy/IS/ABWt0IZLsmAmYDVvESkrobgf1D65Zi
            bfzDR9KuVWvTVakaSdwaMX0kNNaqbdNWrbtNfPxhaqs0ffxRwLT+YQVx1ewKuqHbis1iVBBBHir7
            vZx2ejp37tzfnHne4fwC5HJn7szcOZ/5vc45vxPX19d3/fr1gBQpYZKA3+Tk5EmTJsl7IYWX27dv
            x8u7ICWSSDikSDikSDikSDikSDikuB7KSvGmXLt280zTZfxtbLqCfy+1XO3uvqtsLQrm4G9eblZe
            Xtb03Gz8tfwC4vr6+hDRWp7nONVx/3Db4Gft97oGhtg7BRnxa3KTlkxNtPw7PLv6rTONl80cYezY
            0dPzstlr3G78i3udNWWiHXc8qrS0tB+vPV3XcB5Y0D+VmTmhaHbO8qUlVl0zqLAFji3N/e+1DGhu
            AiInylLHJ8Z5Cg4dKSuZEQxOw1/cfbuxgIZ49/3PTX4XXOfzzz1WUV7sRTh0yLCJD1vh4ClZvqwk
            OHuaZ7FQIbJ50yJcs4fggDUpr+uNuhuMyzvFKbEFh2LpX65eZqEWgRsBLA4ebrAJ6Je3L4OVFIPD
            4mil5mI/ZbcjbYPf9zyIRScRFC5eUgO3wCr3YsXqPTaRAYHjMv/xaubPuhzKor2/6bhP3PlI2z36
            kbsGh1443Teztgcerut84FlHi5rng5FhFWd6V7tqDzxcl+H4oWeIvvOFTjpGg8CCKZsLtzyhbxgf
            hqIJlaC1oIH40NRW2brtEIyXm3AYM2kDQwSAHjxR1wudocTDf5g8yiP2Be26tfqQsLZHazl8wYDj
            9R3HYgOOcUlx+nYEUc/cL3p4O7UgO2GOZ+Bg/oeAOYcdcZ4MJnBuDNkXK+HIzzBwNB0dwOyIKh4e
            nxRnYYBj4eMoYI8csyaafNB3tjJ9Pj4xDg/3Z1dJPuOCrARNO/K3s32aXm1VfpKZ1EhFebF+/AkH
            4tqPN9uv3TDkSUB5YH96ZFu5cb8wGXwaNxCWTScmPw7sXecOHMNNmEyBY01e0m/T4lV2pObiQKTs
            GdTMmtwkMxdW8UQxMX+FxobuxRNGvPVnmi5XZBYTn1qBfExZyYzS0oKi2TnhCOIKcfb6+gsUYwG2
            dr+xylDOw2KfoyA9PqryL8iIf21WMv8OAtRwO8IblLcdNCgs/fzFp9XETorGRpLbwZJdRrUdLmPX
            zpWR1B5amqW5Tp2swTXrHw27Ge12sd4hZdnP8RH8TWw9UZbKp0YQjyz/+m5X5OAFBkWlZhwQ+nMG
            Y0T0TuhWIKT/961DcxINFq6TAc26ajXJEEil23LTQcC58rTXCpMVrxPaAm/WlqWGuBl2HZgdgcLQ
            z5uZNyhmVAjlhlIsBbCge4I46dEjVQKdOLjgD/auDe9ywzti/XB2jecAAWjUSO0KO7LlbD8lg/5q
            oZsRCoy9WG5ROEZAK+IpN3MufDwYnKZEy8zuiB3KaXWt2BEKGXBv4cS4CMe4samWHIdIGHyCzZsW
            mT8dCFu+tIQd0Axqzo0Egx15r2WQ2DPHLBG8DXfTGETdDquh4520tLRTwmOBaEJHGGRAxMwBHYLj
            VMf9F073GeqJfbt4dMBtIbqQ+g1AVBtoSGvHE5lXQrbDASC2NPcTM2PeMSg/PfStFnSZnmm6TMGL
            GQJPib1whPJarQNdA0OGPoXAdU1eohfuTvu1GxYQRuiUh5dglUGJATgE7IgiSrjrulASXPqNSuyZ
            Mz/kMzbgELMjiqzJS/JI1yvLo0fdje/vENM9bLC7/+EQsyO8QXE9QlFc0fUb95Hiz9wsfcJM4uUH
            OGBHtjT3mRyp5RGDAltQs+Mj4gC+YNDsePTMKRN8C0doYM7Z/iNtgyaP4+5YHuYcnGm8XNdwnj6u
            k3V9mfRGHZgR4w4cMCIwJcJ2hJeCdBvJWLFqjx2Hjdr50n3nbiBmRTyXADsy98se6AxLyAgMDwCL
            udsXtaM8piVeuCHL63qtHQuOMCe2+LA8p+kfOOy4mhiCA8EnRW1QemfMTHHwqFmxQ77puB8TM+Hg
            h75SvdyqnCZxuFDMwPFqYUpBhi1gwb31PhkH9q4jpq0odsexib4ORSsF6fEn56Uxt/RC5304HxeH
            /5q/oFBJj8Ehj6TPw6UomLPrjZV0nZGVOZEYSNs0f9/NUHbO5FF8cgKswDSc6rhHnzSrzpoMDMHz
            cGtooL4OEChqoJ8/VaSu/rwH4bDYNACUqvykqvxkU7mTFs+5pWz4rsAYXWK/yfHa0y7OdHLUIaVP
            ko4U03phNj0vBw83CMcURbNzou5jaARyzJiVCKbB7BHeaxnQnBInLJGmfuCRpbQ6mzb9wd61AqcO
            BqdRGh77RJ2WR5eWlvZLrVdNjgSwBQ74HJbEtBZOV4k04w2WYvGSGsoREFOg/QTGa+EUMC5RrYYZ
            /sIPtX7jPga9GT5sMSsIN3S2EssoOBPTEnNZTF7fcUys1gqxhcCf+Qn4fO0QHM3M1Ap7fI7IMS3I
            OFGWeq48LSoiLKZ1xtmkj7V5qfqgwCno+gZtaYYPsKuqSoWj1TWc9woc+ilONkkJ9gKI1Jal6iCC
            mPaiU3V8XqleTr/7RkugsDCYrt7Bx7Or3xIIXmD1NOsNgQ8xhWc9HDrFn1RjyucMa5F3ilMi+RbC
            yRIB40IfyI82EKjZAv1ET53Bvsx/vJpuEaAboDBArSZSwkXMrIcjUhwbaUw5m1irOffaySJP0PyR
            ZiGHy/oN+wRqYxhyZkP+6bZDQETH0QGj2Ip9Kjfs1297MT6sL1ILR1JzWhuMiP5ALzYlThmCSq9V
            SqlDemDfuqgpSChkehE3xCC7dq40enPMlKmEelOmZxotMsMEquvokSpitGzLMl6acSxlCOD4xLiq
            /CRoEVif1wqTnS/yxCpz0DW5QCBgZsIjqMIzwH7EMnLg3rWaYJHiWEPlvBgibvWtQPPTc+RQ6UYb
            Cfzt3rkq4JLAKTY0dM0GnyMsxDBZzsthodeDFqs2CetmssiCA063LXCEx7EuVl8RE5BBbzxoeIHi
            r+aLcAic8cDedUYtmsVwhMexb3uvPiTF2aSnJQCHgI8Zaq1965yZH8tYFDiXxXCo4li4ls6X87JE
            oIHpfWAvVR8UyFnBvtBHlJnRgl6p7MP3x3pnbqPYbX1lu4G0qYBxYX4AYkub5jcUBXMAn4c63vg4
            9p0YNCiqJ5uethJLmzLRLwQoFpNDW3ywd61JtWS15vg5jl0yNdFTdcqFm41+fwXSpnxzoi2hRUyO
            wGBYmD8OE4szpFOP3ekaGLJjITcdoQzYER5HA5NB79XE029+KCgIwxnr6y+cabpMpI2t/kev0kwR
            W5bxQjRrxxKQI1NYRXbWOQBM+Zm3yiqW03Oz7Zh4Z9fqkFJ8ILb0rUjxjUg4pEg4pBgXuZZ9SL7r
            uY8fvDjZ8VMW7+G0Ub9LC4XiMzMS02On19ATcBCne2gGXcr00bFj3Kyi19AxcLy9/9ytwYaOKMPc
            QQkQmTs5aWFWMiNmhIhgtGLhItBsdSoE6ADFzPLadCWxu7X3H213OwdERi+DkvW5qQuzU4jq5N33
            P4+aWS8K5picrjKjMPriXJSxcKpoxX2zElqLanh0U+Dn+mvWJnN4LLZfvAMszBwEmuYvp7tebO6u
            zE3dlj9GOqSOggKDtWLVnsVLaoS7KjQFWEytvW6SDEWgdaqHD/hJe7+Ew2kJLeW9ak/lhv3m556f
            67w368sbaEs7VNGTX9+CIul0ZPKVhONXUtdw3uQqrFAVpXU3YQvsu8ifTtF5T8LhhgoR5QPNFnqs
            B2yfNgf4fMlHDCTBGB9iZDh2kUDQf3zERobU6FArh8nwKx8xkz6n19ZBBOE8GTwfLNkq4XA0yqXU
            x0HDuEUGEz9lUW1Mgh3Yp5G2UyZ5NjZdudRy1ZCnebz2dNRpOU9+0ynggaYnxZdMTpqZnvAI15MC
            A/HfnvsNHQP0YGdmRuKbheN8Y1ZshEMzy6l6E84E9AFxAicbP6eTYt/V2ms0agUTT08d/czU0Zqb
            FG30Ydtd+DH69gIKo75sgp966Vw2K2xVXPr0nvr6CxHt/eDQdiOZLtaW+NEkQ7XntvwxzfMfqo6c
            L4fu+fiPGT7rv/WEz8Gm91D2vNR6NdKm3S09dIMCINDYim4gmZ7EOIYIbEf41r8Xj4dVknkOu1QI
            ZTR9pImHUBuwKcRzQQGgLcWechAAZaPiA0eDHxrwnXgoWiFO/NLkg94FX5mXZrI3FVTxfDwTwWWR
            cFgpmZkTKEPsNRfG+pDW3bowO+XNWWPNX6rCBw4ItRHwqXjLTGZlThQYYIYgghKkwGe0sCEZHwFf
            S+wNMA4fgUYcVFGZm2ptNIGj+Xt4qR9Gn5/siF7rGGpjfV5aQMpIg4NiUxBNjNhB5D6B43Z39HA0
            fMA6paOrIjtFNnYMO6Td3Xcp9ZOUWpxMGjpI9fO9nKFqv3ZDrPbLCIJDuH47RbzcU4oAzZtweMis
            nKj9lrKbquuOMrjXUJpciufggNqgzJIKz5L989agbEU/w9HYdIW4yAhlvTQpPvE5DI3nCAyvlybb
            zA9w6DhZrJqR0ZFggeHysap3Hh5JM5tHBBxiUlFeHD4miBKGEMNdKd6NVqKKmWKuvhkRLuHQJkOz
            Q19zXFa4+HK6ooQjJDoLfIa6RpOif4vjV/tkY8dYtEIkQ3+E6cz0hKhexSft/W8ODnmz782Z4i0+
            1ByMDP2x6ZQEaOfAg0+k8vATHMuXllCWkCH2uL7Y3G1tIQ2/luXwOhzQtEePVG3etIgynwVmhRLQ
            Qnlst66ECwzZ1Nrr/vZzveVzIB4pK5kBhWG0mPfC7JRdLT1Rd8M+j6QnmB8sDibYvMvSupuhkcbp
            CRIOu5RE5pQJ8C2KZucIV55cn5tKgQPCplmb4QNkgAk2E4Lx0Txvoi9LUDo9kVoRa4uQom3Q3sR6
            cGb42NXa++LZ2yprBS3is1mytsNhR7lIHdmWP4ZeLBB8HG/vNzTvjRV30IyZWdkn//Hhn9rnUB6V
            RsaXI7KFRwkXNWpmHUAAC+ysk01hfPgsfvGVJwXlgSand6OwcqL4KZmchJ9Hfl3m/GTHwHfD9TmI
            BwQfT359y08znXwFB5oWlgJPsEBcaknPLdMxvpkg6bclNaAA3K2tM9dH41V9uN5KZW6qW9PefTbj
            3p+L8UCxO99IOKPPZtz7djEe1k5WVcKPKrBl0Fg+u4d+XsYLfDjgf7DKDv4jI+D7Nd7QZs3zH7Iv
            tz0zI5FSck7C4VGZmZ6gXwhQWGHgmM3zJvq11y0wQlaHZIUA28onWfWIh4oRzpvo+5WaRtDqkDAu
            zAuBl/ph212BRVhY997TU0ePkGUAR9zSodAicETww1LjSo5cx3zAcJRMTqrITvGxBdEUwdUhKUuH
            mplm4oqoEGFYBEaqgApBOKSMBDjkcuVSRna0IkXCIUXCIUXCIUXCIcW7ktB09j+9vb3p6V3yXkjh
            paenJ65g1lp5I6RIsyJFwiFFwiFFwiFFwiFFwiFFwiFFwiFFwiFFwiFFioRDioRDioRDioRDioRD
            ioRDSgxIgrwFFsrYsaOn52UHhtddp6yubaE8SE4Z/M2U0OPe15fY8aNrcJw/uyfqPu++/7myxtuB
            fes0C9ayZQDr6s/XNZxXTa58/rnH+NmU/Hoi/Nn5s4RLpPPy0th0ZcWqPZonVSS0jnpr+6WWq8dr
            T2s2eWbmBHywrGSGqow/dj7TdPng4QZ8u5e3L6soL1Y2Pbv6rfB1dI8eqVKqOuOeVG7Yf3Xzq+Gn
            G3eqbtypr5R/e/MLu4OPDk6ewu+TdvEsdhvVdStWzQruKRpv86ZFuCn8jfOgPsB1Ll9awhZyUG3F
            lX/xabXm4oRoabYqCF6/vuMYvxTm5o3q42BPhQzsSVloF9rif8/89eaCp1RkQHryC7Ep/P3Y8zlw
            W1UPlmcFTYhLVf4tCubw/2oKWzUX7Q0+VNzwd4BXWlCHURdVBRnXl6zUaX62A/665nNALWsuM473
            NfeHglWWGMYN4teJxUMJXWp0pVmi8OdVva9jGRUNx5sMQHyi9lv2rfkWxZXjFPUNF0IfmTIhGJzG
            PqWcFy8qnihWLB0+i3fY98Vr5fhsIWbFgrAXt+eUhV/h6Mv/VuBI/qEt+fu2YSsz6974DIWPvpzf
            p1486w4cuEeG1o+Fk8Hvj6dHUdS4O0Wzc8CHLXD8+rwU4fc/mNcAm6L8W1pSwODgfRq0KP8RNPzW
            wCGoFp6/mh0fKcfB98V3h/lQaZGXqg9y7sVXkeCI7+/DVvgW2DSqq1PZc0zjqWvrtyq7KaDEnllR
            HhFFl3jTmuBp5nUhC0nCLU74gtkqtcprBaaE8JWrNj3F3xBDYQ5czozPPuL90zCGxDWxWc2h6eHz
            IUBUb8OZ1sUjrhlk0ddVHDtG41Kh5xQg8F127VzJvj5Cm8bGK5paENqF9175RexgYswv491bUMj/
            y2xNTGoOlfMfyVNxXdgjHq4PVDGIAiK0CEA5dbKGdyYUAnjPlN+qeTRjZOQXdpb9mXNK/mUm5+F0
            EiwvN0tZwQmv+VsD26zp27olynXCu1StOaf4mLjmxUtCBGiGWiwGgWrBPqqP856p8mBousyGyEBY
            +0vTDlscp5NgUaMVnRCA5Qw0N/HPk2PRir4liuQn8V8Qr+FU4uIBASIU+NQqkpi/qfKueM9UecfM
            F7wTfJTXGXBXJ358CH/dhMNotBKp5bZWH7JVbQhEK+HCfAJVM/NxLOMPcECR8K5YWekM1aeYh6vw
            h9dm0u23FjzVk/+LqwFTMunIfpNkuGBWWCqaZws3xabw1bxSVF7DwWTXGe4TwG0K1yVgCEGsM6vc
            2USGBXDgFlDyBL88Ma3txEDGzNnDK2HCb4hU+jJS2UzKdUJDwGTgh6Gj8FRaUsCTUVdvC/0PklO6
            /vRnngwWntwJzuHf0Ql07YUDtyDS82FejQufHY2khiMzIhzhOxuK5BXHIlKShlkcO74+IFCRwZwP
            1TvCcMjxHOJCSdKAjBWr99jUJ2C3yPEcpvyn+Y+H+mNLSwum52arghQWH8EdiVEyILKyj5Wi+ECe
            SthIzeEJ8QcT0ueQIuGQIuGQIuGQIuGQIuGQIuGQIuGQIuGQIuGQIkXCISWy/F+AAQCMYx9Sbldc
            IgAAAABJRU5ErkJggg==" style="width: 25%; height: auto;">
        </div>
        <p style="font-family: 'Montserrat', sans-serif;">Dear colleague,
        </p><p style="font-family: 'Montserrat', sans-serif;">A patient has been transferred to {{target_organisation.name}} from {{origin_organisation.name}}.</p>
        <p style="font-family: 'Montserrat', sans-serif;">Please login to view further details and accept or reject the request.</p>
        <p style="font-family: 'Montserrat', sans-serif;">If you have any questions, please contact the RCPCH Epilepsy12 team.</p>
        <p style="font-family: 'Montserrat', sans-serif;">Yours Sincerely,</p>
        <p style="font-family: 'Montserrat', sans-serif;">The RCPCH Epilepsy12 team</p>
      </div>
    <style>
      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
    </style>
{% endautoescape %}