
{% extends "base.html" %} 
{% load static %}
{% block content %}

<div class="ui top attached inverted clearing segment">
<h5 class="ui left floated header">
  {% block audit_section_name %}{% endblock %}
</h5>
<h5 class="ui right floated header">
  {{case_name}}
</h5>
</div>
<div class="ui raised attached segment">
  <form class="ui form" method="post">
      {% csrf_token %}
      {% block audit_section_form %}{% endblock %}
  </form>
</div>
<div class="ui container">
  {% include "./steps.html" with initial_assessment_complete=initial_assessment_complete epilepsy_context_complete=epilepsy_context_complete multiaxial_description_complete=multiaxial_description_complete investigation_management_complete=investigation_management_complete case_id=case_id %}
</div>
<div class="ui bottom attached warning message">
  <i class="warning icon"></i>
  {% block audit_section_instructions %}{% endblock %}
</div>
{% endblock %}