
{% extends "base.html" %} 
{% load static %}
{% block content %}

<div class="ui top attached inverted clearing segment" id="audit_top_attached_segment">
<h5 class="ui left floated header">
  {% block audit_section_title %}{% endblock %}
</h5>
<h5 class="ui right floated header">
  {{ registration.case.first_name }} {{ registration.case.surname }} {{ registration.case.nhs_number}}
</h5>
</div>
<div class="ui raised attached inverted segment" id="audit_body_segment">
  {% block audit_section_form %}{% endblock %}
  {# {% block audit_section_form_2 %}{% endblock %} #}
</div>
<div class="ui bottom attached info icon message" id="info_message">
  <i class="info circle icon"></i>
  {% block audit_section_instructions %}{% endblock %}
</div>
{% block audit_section_list %}{% endblock %}

  {% include "./steps.html" with initial_assessment_complete=initial_assessment_complete assessment=assessment_complete epilepsy_context_complete=epilepsy_context_complete multiaxial_description_complete=multiaxial_description_complete investigation_management_complete=investigation_management_complete case_id=case_id %}

{% endblock %}