{% extends "base.html" %}
{% load static %}
{% block content %}

<div class='ui fluid container'>
    <div class='rcpch_hero'>
        <img src="{% static 'images/CP-Portal-alt-site-header.png' %}"/>
        <div class='rcpch_logos'>
        <img src="{% static 'images/epilepsy12-logo.jpg' %}"/>
        </div>
        <div class='centred_rcpch_title'>
            <h1 class='ui header'>
            <div class='content'>
            The UK National Audit for Childhood Epilepsies.
            <div class='sub header'>A platform for clinicians and families, built by the Royal College of Paediatrics and Child Health</div>
            </div>

            </h1>
        </div>
    </div>
</div>

<div class='ui container'>

    <div class="ui two stackable cards">
        
        <div class="ui raised rcpch_dark_blue card">      
            <div class="content">
                <div class="header">Community & Hospital</div>
                <div class="meta">
                <span class="category">Clinician Access</span>
                </div>
                <div class="description">
                <p></p>
                </div>
                <div class="center aligned image">
                    <i class="huge hospital outline icon"></i>
                </div>
            </div>
            <div class="extra content">
                <a href={% url 'hospital_reports' %}>
                    <button class="ui fluid blue button" id="continue_button">Select</button>
                </a> 
            </div>
        </div>

        <div class="ui rcpch_dark_blue raised card">
            <div class="content">
                <div class="header">Children and Families</div>
                <div class="meta">
                <span class="category">Patient Access</span>
                </div>
                <div class="description">
                <p></p>
                </div>
                <div class="center aligned image">
                    <i class="huge child icon"></i>
                </div>
            </div>
            <div class="extra content">
                <a href={% url 'patient' %}>
                    <button class="ui fluid blue button" id="continue_button">Select</button>
                </a>
            </div>
        </div>

    </div>

        <div class="ui segment">
        <h2>Welcome to the Epilepsy12 data platform</h2>
        <p>
        Epilepsy12 is delivered by the Royal College of Paediatrics and Child Health (RCPCH)
        </p>
        <p>
        The RCPCH mission is to transform child health through knowledge, innovation and expertise.
        </p>
        <p>
        National Data Opt Out Implementation (England only)
        </p>
        <p>
        All healthcare providers in England that participate in the Epilepsy12 audit must comply with the National Data Opt Out
        </p>
        <p>
        Patient data entered into the Epilepsy12 audit is subject to the Opt Out
        </p>
        <p>
        Each patient’s NHS Numbers MUST be screened against the national opt out list at NHS Digital prior to ANY of their data being entered onto the Epilepsy12 platform
        Please check with your Trust's Information Governance team for the local arrangements by which the screen should take place
        </p>
        <h3>
        Childhood epilepsy
        </h3>
        <p>
        Epilepsy affects around one in every 200 children and young people in the UK (aged 18 and under). The condition is one of the most common significant long-term health conditions of childhood. Epilepsy can have a huge impact on children and families. Epileptic seizures can happen in any part of the brain cortex and what happens depends on where in the brain the seizure is happening. Seizures can be distressing but it’s not just the seizures that are the problem. Children and young people may experience issues with learning, behaviour and emotions. That’s why children and parents need support and guidance from healthcare professionals throughout the stages of diagnosis and treatment.
        </p>

        <h3>
        About Epilepsy12
        </h3>

        <p>
        Epilepsy12 (The UK collaborative clinical audit of health care for children and young people with suspected epileptic seizures) is a national clinical audit established in 2009 and has the continued aim of helping epilepsy services, and those who commission health services, to measure and improve the quality of care for children and young people with seizures and epilepsies. As per rounds 1 - 3 of the audit the audit is overseen by a project board and a dedicated project team within the RCPCH.  You can contact the team at: epilepsy12@rcpch.ac.uk or on 020 7092 6157/6056. Dr Colin Dunkley, Consultant Paediatrician, is the current clinical lead for Epilepsy12.
        </p>
    </div>

</div>


{% endblock %}