{% extends './audit_section.html' %} 
{% block audit_section_title %}Epilepsy Context{% endblock %} 
{% block audit_section_form %} 
{% include './forms/epilepsy_context_form.html' %} 
{% endblock %}
{% block audit_section_list %}
    {% include 'epilepsy12/partials/comorbidities.html' with comorbidities=comorbidities %}
{% endblock audit_section_list %}
{% block audit_section_instructions %} Please enter all
information relating to the child or young person's risk factors for epilepsy.
{% endblock %}
