{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="ui center aligned segment rcpch_masthead">
    <div class="row">
        <div class="ui centered text container">
            <img src="{% static 'images/EP12_ID_COLOUR_Digital_full_screen.png' %}" 
            class='ui image epilepsy12_logo' />
        </div>
    </div>
    <div class="row masthead_text_row">
        <div class="masthead_text">
            <h1 class="">The UK national audit for childhood epilepsies.</h1>
            <h2 class=''>
                A platform for clinicians and families, built by the Royal College of Paediatrics and Child Health.
            </h2>
        </div>
    </div>
</div>

<div class='ui fluid rcpch container'>
    <div class='ui fluid rcpch container'>
        <div class="ui two column stackable grid">
            <div class="column">
                <div class="ui raised rcpch_dark_blue card">
                    <div class="content">
                        <div class="header">Community and hospital</div>
                        <div class="meta">
                            <span class="category">Clinician access</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="center aligned image">
                            <i class="huge hospital outline icon"></i>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href={% url 'hospital_reports' %}>
                            <button class="ui fluid rcpch_primary button">Select</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui rcpch_dark_blue raised card">
                    <div class="content">
                        <div class="header">Children and families</div>
                        <div class="meta">
                            <span class="category">Patient access</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="center aligned image">
                            <i class="huge white child icon"></i>
                        </div>
                    </div>
                    <div class="extra content">
                        <a href={% url 'patient' %}>
                            <button class="ui fluid rcpch_primary button">Select</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h2>Welcome to the Epilepsy12 data platform</h2>
            <p>
                Epilepsy12 is delivered by the Royal College of Paediatrics and Child Health (RCPCH). The RCPCH mission
                is to transform child health through knowledge, innovation and expertise.
            </p>
            
            <h3>About Epilepsy12</h3>
            <p>
                Epilepsy12 (The UK collaborative clinical audit of health care for children and young people with
                suspected epileptic seizures) is a national clinical audit established in 2009 and has the continued aim
                of helping epilepsy services, and those who commission health services, to measure and improve the
                quality of care for children and young people with seizures and epilepsies. As per rounds 1 - 3 of the
                audit the audit is overseen by a project board and a dedicated project team within the RCPCH.
            </p>
            <p>
                You can contact the team at: epilepsy12@rcpch.ac.uk or on 020 7092 6157/6056. Dr Colin Dunkley,
                Consultant Paediatrician, is the current clinical lead for Epilepsy12.
            </p>
        </div>
    </div>
    {% endblock %}