{% load static %}
<footer>
    <div class="ui fluid grid rcpch container footer_grid">

        <div class="row stackable footer_all_contents_grid">
            <div class="footer_column">
                <img src="{% static 'images/EP12_ID_MONO_WHITE_Digital_Small.png' %}" class="ui centered image epilepsy12_logo_footer" />
                <img src="{% static 'images/rcpch-logo-mono.8cb184509440.png' %}" alt="Leading the way in Children's Health" class="ui centered image epilepsy12_logo_footer" />
            </div>
            <div class="footer_column" style="margin-left:30px">

                <h2 class="footer_h2 centered">Social Media</h2>

                <div class="row footer_links_container">
                    <div class="row footer_link_row">
                        <div class="column">
                            <a href="https://twitter.com/Epilepsy_12" class="">
                                <i class="twitter square large icon"></i>
                                <span class="">Epilepsy12 on Twitter</span>
                            </a>
                        </div>
                    </div>
                    <div class="row footer_link_row">
                        <div class="column">
                            <a href="https://www.facebook.com/RCPCH/" class="">
                                <i class="facebook square large icon"></i>
                                <span class="">RCPCH on Facebook</span>
                            </a>
                        </div>
                    </div>
                    <div class="row footer_link_row">
                        <div class="column">
                            <a href="https://www.linkedin.com/company/royal-college-of-paediatrics-and-child-health" class="">
                                <i class="linkedin square large icon"></i>
                                <span class="">RCPCH on LinkedIn</span>
                            </a>
                        </div>
                    </div>
                    <div class="row footer_link_row">
                        <div class="column middle aligned content">
                            <a href="https://github.com/rcpch/epilepsy12-server" class="">
                                <i class="github square large icon"></i>
                                <span class="">Follow us on Github</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_column">
                <div class="row">
                    <h2 class="footer_h2">Other Links</h2>
                </div>
                <div class="row footer_links_container">
                    <div class="row footer_link_row">
                        <div class="column">
                            <a href="http://www.rcpch.ac.uk/epilepsy12" target="_blank">
              Epilepsy12
            </a>
                        </div>
                    </div>
                    <div class="row footer_link_row">
                        <div class="column">
                            <a href="https://www.youngepilepsy.org.uk/" target="_blank">
              Young Epilepsy
            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer_column">
                <div class="row">
                    <h2 class="footer_h2">About us</h2>
                </div>
                <div class="row footer_links_container">
                    <div class="row footer_link_row">
                        <p id="footer_text">
                            Epilepsy12 is commissioned by the Healthcare Quality Improvement Partnership (HQIP), as part of the National Clinical Audit and Patient Outcomes Programme (NCAPOP), and is funded by NHS England and the Welsh Government. Round 4 contract is underway and is being delivered by the Royal College of Paediatrics and Child Health (RCPCH) from 1 April 2022 to 31 March 2025.
                        </p>
                    </div>
                    <div class="row footer_link_row">
                        <button class="ui rcpch_website_button_white button" href="https://www.rcpch.ac.uk/about-us">
            RCPCH website
          </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_all_contents_row">
            <div class="column sixteen wide">
                <a href="https://www.rcpch.ac.uk/about-us/website-terms-conditions" class="tcs_link" target="_blank">Terms, conditions and cookies</a
      >
      <a
        href="https://www.rcpch.ac.uk/about-us/accessibility-website"
        class="tcs_link"
        target="_blank"
      >
        Accessibility
      </a>
                <a href="https://www.rcpch.ac.uk/about-us/rights-permissions-copyrighted-material" class="tcs_link" target="_blank">
        Rights and permissions for reuse of our content
      </a>
            </div>
        </div>

        <div class="row footer_all_contents_row">
            <div class="sixteen wide column">
                <div class="copyright">
                    <a href='#'>Built by the RCPCH Incubator 2023. All rights reserved.</a
        >
        <p>
          Copyright © 2021-2022 RCPCH is a registered charity in England and
          Wales (1057744) and in Scotland (SC038299).
        </p>
      </div>
    </div>
  </div>
    </div>

  </div>
</footer>