{% extends './audit_section.html' %} 
{% block audit_section_title %}
Initial Assessment 
{% endblock %} 
{% block audit_section_form %} 
{% include './forms/initial_assessment_form.html' with initial_assessment=initial_assessment %} 
{% endblock %} 
{% block audit_section_instructions %} 
These items must be completed at the first assessment. There are lots of dates gathered here - these are important for
calculating timeliness nationally. The number of dates collected have been carefully considered and kept to a minimum. 
{% endblock %}
