{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ui rcpch container main_content">

        <div class='ui top attached rcpch_dark_blue clearing segment'>

                <h5 class="ui left floated header">
                    Logs for {{epilepsy12_user}}
                </h5>
    
                <div class='back link'>
                    <a href="{% url 'epilepsy12_user_list' organisation_id=organisation.pk %}">
                        <button class="ui rcpch_positive button back">
                          <i class="ui chevron circle left icon icon_white"></i>
                          Return to Epilepsy12 Users
                        </button>
                    </a>
                </div>
            
        </div>

        <div class="ui raised attached segment">

                <div id="log_table">
                    {% include 'epilepsy12/log_table.html' with epilepsy12_user_id=epilepsy12user.pk organisation_id=organisation.pk %}
                </div>
        
        </div>

        <div class="ui bottom attached rcpch_footer message">
            <i class="warning info circle icon"></i>
            Access Logs for Epilepsy12 users
        </div>



    </div>

{% endblock %}