{% extends './audit_section.html' %}
{% csrf_token %}
{% block audit_section_title %}
Multiaxial Description
{% endblock %}
{% block audit_section_form %}
    {% load unicorn %}
    {% unicorn_scripts %}
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">D</div>
        </div>
        <div>
            {% unicorn 'desscribe' case_id=case_id registration=registration %}
        </div>
    </div>
    {% unicorn 'is_epilepsy' %}
    {% include './forms/multiaxial_description_form.html' %} 
{% endblock %}
{% block audit_section_instructions %}
The classification of epilepsy is multiaxial and can be described in five different ways. Work through the DESSCRIBE tool to classify the episodes.
DESSCRIBE is designed to support the care of children with paroxysmal episodes, particularly where epilepsies are being considered.  Without a good description you have almost nothing, worse you may be mislead!  Use ongoing histories, good video and demo. Use words correctly. Understand what others mean and be sure that they understand what you mean! Some children have several different types of episode, each needing consideration. Consider whether each episode is epileptic and how certain you are. There is skill in winning confidence whilst being reasonably uncertain. Avoid being confidently wrong!  Manage the uncertainty by using time, getting more information, discussing with others.  See diagnosis as ongoing refinement rather than a static label you don’t look beyond.
{% endblock %}

{# 
This template relies on the reactivity that django unicorn offers

It is needed in two places

1. The Description element of DESSCRIBE takes free text entered into the desscribe component and template and on change, returns an array of keywords
which are rendered as pills pills below the text of the description. They are also persisted in an array field in the table for analysis later.
2. The E and S of DESSCRIBE comprise dropdowns which are dependent on each other - E defines epilepsy status (whether a child does or doesn't have epilepsy),
while the S defines the episodes in terms of onset and semiology, and the dropdowns offered depend on what type of seizure is selected.

Both of these features require reactivity on the client side, which could be implemented with a lightweight JS framework like Vue or Alpine,
but the effect is to lose the server side rendering and templating that Django provides. Django Unicorn uses ajax under the hood,
so could be vulnerable to latency, but there is not much complexity in these templates so should be fine.

Django Unicorn stores a template and a component file in the Epilepsy12 application in the component folder, and the templates/unicorn folders.
 #}