{% load static %}
{% load epilepsy12_template_tags %}

<div class="ui text menu signin">
  {% if request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff or request.user.is_superuser %}
  <div class="admin-data">
      ADMIN DATA - branch: <a href="https://github.com/rcpch/rcpch-audit-engine/tree/{{active_git_branch}}" target="_blank">{{ active_git_branch }}</a>,
      commit: <a href="https://github.com/rcpch/rcpch-audit-engine/commit/{{latest_git_commit}}" target="_blank">{{ latest_git_commit | truncatechars:7 }}</a>,
      current user: {{ user.email }}</div>
  {% endif %}
    <div class="right menu">
      {% if user.is_authenticated %}
      <div class="ui buttons">
        <!-- <div class="item signin_button" > </div> -->
          <div class="rcpch_logged_in">
            <h5><i class="id badge icon"></i>{{ user.get_full_name }}</h5>
          </div>
          <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="ui rcpch_light_blue button" type="submit">Log out</button>
          </form>
          <div class="ui floating dropdown icon button">
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" onclick="location.href='{% url 'two_factor:profile' %}'"><i class="id badge outline icon"></i> Account settings</div>
            <div class="item" onclick="location.href='{% url 'password_reset' %}'"><i class="key icon"></i> Reset password</div>
          </div>
        </div>
      </div>
      {% else %}
        <a class="ui rcpch_light_blue button" href="{% url 'two_factor:login' %}"><i class="arrow right icon"></i><span class="signin_text">&nbsp;Sign in</span></a>
        {% comment %} <a class="item signin_button" href="{% url 'signup' %}"><i class="arrow right icon"></i><span class="signin_text">&nbsp;Sign up</span></a> {% endcomment %}
      {% endif %}
    </div>
  </div>
  <div class="ui container rcpch fluid nav">
    <div class="ui secondary pointing stackable menu ">
        <a {% if request.resolver_match.url_name|is_in:'index' %} class="active_menu_item active item" {% else %} class="item" {% endif %}
           href="{% url 'index' %}">
          <span>
            <img id="nav-rcpch"
                 src="{% static 'images/rcpch-logo-mobile.4d5b446caf9a.svg' %}"
                 class="item">
          </span>
        </a>
        <h4 class="med">Epilepsy12 Audit Platform</h4>
        <div class='right menu'>
          <a {% if request.resolver_match.url_name|is_in:'index' %}class="active item" id="active_menu_item"{% else %} class="item" {% endif %}
             id="link"
             href="{% url 'index' %}">
            Home
          </a>
        {% if user.is_authenticated %}
          
          <a {% if request.resolver_match.url_name|is_in:'docs' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          id="link"
          href="{% url 'docs' %}">
          Guidance
          </a>

          <!-- <a {% if request.resolver_match.url_name|is_in:'two_factor:profile' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          id="link"
          >
          Settings
          </a>  -->
          
          {% if user.is_superuser %}
          <a {% if request.resolver_match.url_name|is_in:'admin:index'  %} class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          href="{% url 'admin:index' %}">
          Admin
          </a>
          {% endif %}

          

        {% endif %}
  </div>
      </div>
    </div>
  </div>