{% load static %}
{% load epilepsy12_template_tags %}

<div class="ui text menu signin">
  {% if request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff or request.user.is_superuser %}
  <div class="admin-data">
      ADMIN DATA - branch: <a href="https://github.com/rcpch/rcpch-audit-engine/tree/{{active_git_branch}}" target="_blank">{{ active_git_branch }}</a>,
      commit: <a href="https://github.com/rcpch/rcpch-audit-engine/commit/{{latest_git_commit}}" target="_blank">{{ latest_git_commit | truncatechars:7 }}</a>,
      current user: {{ user.email }}</div>
  {% endif %}
    <div class="right menu">
      {% if user.is_authenticated %}
        <a class="item signin_button" href="{% url 'logout' %}"><span class="signin_text">Log out {{ user.get_full_name }}</span></a>
      {% else %}
        <a class="item signin_button" href="{% url 'two_factor:login' %}"><i class="arrow right icon"></i><span class="signin_text">Sign in</span></a>
        {% comment %} <a class="item signin_button" href="{% url 'signup' %}"><i class="arrow right icon"></i><span class="signin_text">Sign up</span></a> {% endcomment %}
      {% endif %}
    </div>
  </div>
  <div class="ui container rcpch fluid nav">
    <div class="ui secondary pointing stackable menu ">
        <a {% if request.resolver_match.url_name|is_in:'index' %} class="active_menu_item active item" {% else %} class="item" {% endif %}
           href="{% url 'index' %}">
          <span>
            <img id="nav-rcpch"
                 src="{% static 'images/rcpch-logo-mobile.4d5b446caf9a.svg' %}"
                 class="item">
          </span>
        </a>
        <h4>Epilepsy12 audit platform</h4>
        <div class='right menu'>
          <a {% if request.resolver_match.url_name|is_in:'index' %}class="active item" id="active_menu_item"{% else %} class="item" {% endif %}
             id="link"
             href="{% url 'index' %}">
            Home
          </a>
        {% if user.is_authenticated %}

          {% if request.user|has_group:"patient_access" %}
            <a {% if request.resolver_match.url_name|is_in:'patient' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
            id="link"
            <!-- href='https://www.rcpch.ac.uk/resources/patient-parent-guide-epilepsy12-audit' -->
            href="{% url 'open_access' %}"
            >
            Patient access
            </a>
          {% endif %}
          
          <a {% if request.resolver_match.url_name|is_in:'docs' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          id="link"
          href="{% url 'docs' %}">
          Guidance
          </a>

          <a {% if request.resolver_match.url_name|is_in:'two_factor:profile' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          id="link"
          href="{% url 'two_factor:profile' %}">
          Settings
          </a> 
          
          {% if user.is_superuser %}
          <a {% if request.resolver_match.url_name|is_in:'admin:index'  %} class="active item" id="active_menu_item" {% else %} class="item" {% endif %}
          href="{% url 'admin:index' %}">
          Admin
          </a>
          {% endif %}

          

        {% endif %}
  </div>
      </div>
    </div>
  </div>