{% extends "base.html" %}
{% load static %}
{% block content %}
<div class='ui rcpch container'>

    {% url 'open_access' organisation_id=organisation.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/rcpch_organisations_select.html' with organisation_list=organisation_list test_positive=organisation.pk hx_post=hx_post hx_name="selected_trust_kpis_open" hx_target="#organisation_summary" %}

    <div class="ui rcpch_info message">
        This represents all the Key Performance Indicators for the selected hospital
    </div>
    <div class="ui top attached tabular rcpch menu" _="init js $('.menu .item').tab();">
        <a class="active item" data-tab="first">Overview</a>
        <a class="item" data-tab="second">Individual Measures</a>
    </div>

    <div 
        class="ui bottom attached active tab segment" data-tab="first"
        id="organisation_summary"
        hx-trigger="load"
        hx-get="{% url 'selected_trust_kpis_open' organisation_id=organisation.pk %}"
        hx-target="#organisation_summary"
        hx-swap="innerHTML"
    >
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        {% include 'epilepsy12/partials/organisation/individual_metrics.html' with individual_kpi_choices=individual_kpi_choices selected_organisation=organisation %}
    </div>
</div>
{% endblock %}