{% extends "base.html" %}  
{% block content %}
<div class="ui rcpch container main_content">
    {% if submission_period.is_open %}
        <h2 class="org-audit-header">Organisational Audit {{submission_period.year}} - {{group_name}}</h2>
        <form class="ui rcpch form" method="POST" hx-post="{{ request.path }}" hx-trigger="input delay:0.5s,submit">
            {% include 'epilepsy12/partials/organisational_audit_form.html' %}
        </form>
    {% else %}
        <h2 class="org-audit-header">Organisational Audit - {{group_name}}</h2>
        <div class="ui rcpch_info icon message">
            <i class="info icon"></i>
            The organisational audit is not currently open for submissions
        </div>
    {% endif %}
</div>
{% endblock %}