{% extends "base.html" %} {% load static %} {% block content %}
<div class="ui raised segment">
  <div class="ui container">
    <form class="ui form" method="post">
      {% csrf_token %}

        <div class="three fields">
          <div class="field">
            <label>Registration Date</label>
            <div class="field">{{form.registration_date}}</div>
            {% if form.registration_date.errors %}
            <div class="ui pointing red basic label">
              {{form.registration_date.errors}}
            </div>
            {% endif %}
          </div>
          <div class="field">
            <label>Registration Close Date</label>
            <div class="disabled field" readonly="">{{form.registration_close_date}}</div>
          </div>
          <div class="field">
            <label>Cohort</label>
            <div class="disabled field" readonly="">{{form.cohort}}</div>
          </div>
        </div>
      
        <div class="field">
          <label>Referring Clinician</label>
          {{form.referring_clinician}} {% if form.referring_clinician.errors %}
          <div class="ui pointing red basic label">
            {{form.referring_clinician.errors}}
          </div>
          {% endif %}
        </div>
      
      <button type="submit" class="ui green button" name="update">Save</button>
      <button type="submit" class="ui red button" name="delete">Delete</button>
      <button type="submit" class="ui blue button">Cancel</button>
    </form>
  </div>
</div>
{% endblock %}
