{% load epilepsy12_template_tags %}
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <div class="ui segment">

                <div class="ui rcpch_info message">
                        <p>Indications for a CT Head:</p>
                        <li>Urgent concern</li>
                        <li>Craniopharyngioma suspected</li>
                </div>
                        
                <div class="field">

                        {% url 'ct_head_scan_status' investigations_id=investigations.pk as hx_post %}
                        {% if not perms.epilepsy12.change_investigations %}
                                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#ct_head_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.ct_head_scan_status label="Has a CT head been performed?" data_position="top left" disabled=True %}
                        {% else %}
                                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#ct_head_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.ct_head_scan_status label="Has a CT head been performed?" data_position="top left" disabled=False %}
                        {% endif %}

                </div>

        </div>
        
</div>