{% load epilepsy12_template_tags %}
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="ui segment">

        <div class="field">

                {% url 'twelve_lead_ecg_status' investigations_id=investigations.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#ecg_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.twelve_lead_ecg_status tooltip_id='ecg_information_tooltip' label=investigations.get_twelve_lead_ecg_status_help_label_text reference=investigations.get_twelve_lead_ecg_status_help_reference_text data_position="top left" enabled=perms.epilepsy12.change_investigations %}

        </div>

    </div>

</div>