<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
    <div class="ui info message">
        <p>Indications for EEG:</p>
        <li>Paroxysmal episode(s)</li>
        <li>Afebrile</li>
    </div>

    <div class="three fields">

        <div class="field">

            {% if investigations.eeg_indicated %}
                <span>
                    <div 
                        class="ui tiny compact toggle button active"
                        hx-target="#eeg_indicated"
                        hx-post="{% url 'eeg_indicated' investigations_id=investigations.pk %}"
                        hx-swap="innerHTML"
                    >Yes</div>
                    <label class='toggle_button_label'>Is an EEG indicated?</label>
                </span>
            {% else %}
                <span>
                    <div 
                        class="ui tiny compact toggle button"
                        hx-target="#eeg_indicated"
                        hx-trigger='click' 
                        hx-post="{% url 'eeg_indicated' investigations_id=investigations.pk %}"
                        hx-swap="innerHTML"
                    >No</div>
                    <label class='toggle_button_label'>Is an EEG indicated?</label>
                </span>
            {% endif %}

        </div>

        {% if investigations.eeg_indicated %}

            <div class="field"
                hx-target="#eeg_indicated"
                hx-trigger='change' 
                hx-post="{% url 'eeg_request_date' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >
                <label class='toggle_button_label'>Date EEG requested</label>
                <input class="ui input" type="date" value="{{investigations.eeg_request_date}}"/>
            </div>
            
            <div class="field"
                hx-target="#eeg_indicated"
                hx-trigger='change' 
                hx-post="{% url 'eeg_performed_date' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >
                <label class='toggle_button_label'>Date EEG performed</label>
                <input class="ui input" type="date" value="{{investigations.eeg_performed_date}}"/>
            </div>
        
        {% endif %}

    </div>

    <div class="ui info message">
        <p>Indications for a 12-Lead ECG:</p>
        <li>Everyone gets one of these</li>
        <li>That's it</li>
    </div>

    <div class="field">

        {% if investigations.twelve_lead_ecg_status %}
            <span>
                <div 
                    class="ui tiny compact toggle button active"
                    hx-target="#eeg_indicated"
                    hx-post="{% url 'twelve_lead_ecg_status' investigations_id=investigations.pk %}"
                    hx-swap="innerHTML"
                >Yes</div>
                <label class='toggle_button_label'>Has an ECG been performed?</label>
            </span>
        {% else %}
            <span>
                <div 
                    class="ui tiny compact toggle button"
                    hx-target="#eeg_indicated"
                    hx-trigger='click' 
                    hx-post="{% url 'twelve_lead_ecg_status' investigations_id=investigations.pk %}"
                    hx-swap="innerHTML"
                >No</div>
                <label class='toggle_button_label'>Has an ECG been performed?</label>
            </span>
        {% endif %}

    </div>

    <div class="ui info message">
        <p>Indications for a CT Head:</p>
        <li>Urgent concern</li>
        <li>Craniopharyngioma suspected</li>
    </div>
    
    <div class="field">

        {% if investigations.ct_head_scan_status %}
            <span>
                <div 
                    class="ui tiny compact toggle button active"
                    hx-target="#eeg_indicated"
                    hx-post="{% url 'ct_head_scan_status' investigations_id=investigations.pk %}"
                    hx-swap="innerHTML"
                >Yes</div>
                <label class='toggle_button_label'>Has a CT head been performed?</label>
            </span>
        {% else %}
            <span>
                <div 
                    class="ui tiny compact toggle button"
                    hx-target="#eeg_indicated"
                    hx-trigger='click' 
                    hx-post="{% url 'ct_head_scan_status' investigations_id=investigations.pk %}"
                    hx-swap="innerHTML"
                >No</div>
                <label class='toggle_button_label'>Has a CT head been performed?</label>
            </span>
        {% endif %}

    </div>

    <div class="ui info message">
        <p>Indications for a brain MRI:</p>
        <li>Focal seizure</li>
        <li>Laterality on EEG</li>
    </div>
    
    {% if investigations.mri_indicated %}
        <span>
            <div 
                class="ui tiny compact toggle button active"
                hx-target="#eeg_indicated"
                hx-post="{% url 'mri_indicated' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >Yes</div>
            <label class='toggle_button_label'>Is an MRI head indicated?</label>
        </span>
    {% else %}
        <span>
            <div 
                class="ui tiny compact toggle button"
                hx-target="#eeg_indicated"
                hx-trigger='click' 
                hx-post="{% url 'mri_indicated' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >No</div>
            <label class='toggle_button_label'>Is a brain MRI indicated?</label>
        </span>
    {% endif %}

    <div class="two fields">


        {% if investigations.mri_indicated %}

            <div class="field"
                hx-target="#eeg_indicated"
                hx-trigger='change' 
                hx-post="{% url 'mri_brain_date' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >
                <label class='toggle_button_label'>MRI brain date</label>
                <input class="ui input" type="date" value="{{investigations.mri_brain_date}}"/>
            </div>
            
            <div class="field"
                hx-target="#eeg_indicated"
                hx-trigger='change' 
                hx-post="{% url 'mri_brain_date' investigations_id=investigations.pk %}"
                hx-swap="innerHTML"
            >
                <label class='toggle_button_label'>MRI brain date</label>
                <input class="ui input" type="date" value="{{investigations.mri_brain_date}}"/>
            </div>
        
        {% endif %}

    </div>

</div>