{% load epilepsy12_template_tags %}
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
    <div class="ui segment">

        <div class="field">

            {% url 'eeg_indicated' investigations_id=investigations.pk as hx_post %}
            {% if not perms.epilepsy12.change_investigations %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.eeg_indicated label=investigations.get_eeg_indicated_help_label_text reference=investigations.get_eeg_indicated_help_reference_text data_position="top left" disabled=True %}   
            {% else %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.eeg_indicated label=investigations.get_eeg_indicated_help_label_text reference=investigations.get_eeg_indicated_help_reference_text data_position="top left" disabled=False %}   
            {% endif %}

        </div>

        {% if investigations.eeg_indicated %}

        <div class="three fields">
            
            {% url 'eeg_request_date' investigations_id=investigations.pk as hx_post %}
            {% if not perms.epilepsy12.change_investigations %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_request_date label=investigations.get_eeg_request_date_help_label_text reference=investigations.get_eeg_request_date_help_reference_text data_position="top left" input_date_field_name='eeg_request_date' disabled=True error_messages=error_messages %}   
            {% else %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_request_date label=investigations.get_eeg_request_date_help_label_text reference=investigations.get_eeg_request_date_help_reference_text data_position="top left" input_date_field_name='eeg_request_date' disabled=False error_messages=error_messages %}   
            {% endif %}
            
            {% url 'eeg_performed_date' investigations_id=investigations.pk as hx_post %}
            {% if not perms.epilepsy12.change_investigations %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_performed_date label=investigations.get_eeg_performed_date_help_label_text reference=investigations.get_eeg_performed_date_help_reference_text data_position="top left" input_date_field_name='eeg_performed_date' disabled=True error_messages=error_messages %}   
            {% else %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_performed_date label=investigations.get_eeg_performed_date_help_label_text reference=investigations.get_eeg_performed_date_help_reference_text data_position="top left" input_date_field_name='eeg_performed_date' disabled=False error_messages=error_messages %}   
            {% endif %}

            <div class="field">
                <label>Time to EEG</label>
                <input class="ui input" disabled value='{{investigations.eeg_wait}}'>
            </div>
   
        </div>
        
        {% if error_message %}
            <div class='ui rcpch_warning message'>
                {{ error_message }}
            </div>
        {% endif %}

        {% endif %}

    </div>

</div>