<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
    <div class="ui segment">
    
        <div class="ui rcpch_info message">
            <p>Indications for EEG:</p>
            <li>Paroxysmal episode(s)</li>
            <li>Afebrile</li>
        </div>

        <div class="field">

            {% url 'eeg_indicated' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.eeg_indicated label="Is an EEG indicated?" data_position="top left" %}   

        </div>

        {% if investigations.eeg_indicated %}

        <div class="three fields">
            
            {% url 'eeg_request_date' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_request_date label="Date EEG requested?" data_position="top left" input_date_field_name='eeg_request_date' %}   
            
            {% url 'eeg_performed_date' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#eeg_information" hx_trigger="change" hx_swap="innerHTML" date_value=investigations.eeg_performed_date label="Date EEG performed?" data_position="top left" input_date_field_name='eeg_performed_date' %}   

            <div class="field">
                <label>Time to EEG</label>
                <input class="ui input" disabled value='{{investigations.eeg_wait}}'>
            </div>
        
        </div>

        {% endif %}

    </div>

</div>