<div class="ui rcpch_pink segment">
    <div class="ui header">{{genome_test.test_name}}</div>

    <div class="two fields">
        <div class="field">
            {% url 'genetic_testing_status_callback' investigations_id=investigations.pk test_name=genome_test.test_name requested_or_achieved="requested" as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="click" hx_swap="innerHTML" test_positive=genome_test.test_requested label="Requested" enabled=can_edit %}

            {% if genome_test.test_requested_date_enabled %}
                {% url 'genetic_testing_date_callback' investigations_id=investigations.pk test_name=genome_test.test_name requested_or_achieved="requested" as hx_post %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="change delay:1s" hx_swap="innerHTML" date_value=genome_test.test_requested_date label="Date Requested" input_date_field_name=genome_test.input_date_field_name error_messages=error_messages enabled=genome_test.test_requested_date_enabled has_permission=can_edit %}
            {% endif %}
        </div>
        <div class="field">
            {% url 'genetic_testing_status_callback' investigations_id=investigations.pk test_name=genome_test.test_name requested_or_achieved="achieved" as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="click" hx_swap="innerHTML" test_positive=genome_test.test_achieved label="Achieved" enabled=genome_test.test_achieved_enabled %}

            {% if genome_test.test_achieved_date_enabled %}
                {% url 'genetic_testing_date_callback' investigations_id=investigations.pk test_name=genome_test.test_name requested_or_achieved="achieved" as hx_post %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="change delay:1s" hx_swap="innerHTML" date_value=genome_test.test_achieved_date label="Date Achieved" input_date_field_name=genome_test.input_achieved_date_field_name error_messages=error_messages enabled=can_edit has_permission=can_edit %}
            {% endif %}
        </div>
    </div>
</div>