{% load epilepsy12_template_tags %}
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="ui segment">

        <div class="field">

            {% url 'genome_sequencing_requested' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.genome_sequencing_requested label=investigations.get_genome_sequencing_requested_help_label_text enabled=can_edit %}

        </div>

        {% if investigations.genome_sequencing_requested %}

            <div class="two fields">

                {% url 'genetic_testing_status_callback' investigations_id=investigations.pk test_name="r14" requested_or_achieved="requested" as hx_post %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.r14_test_requested label=investigations.get_r14_test_requested_help_label_text enabled=can_edit %}

                {% if investigations.r14_test_requested %}
                    {% url 'genetic_testing_date_callback' investigations_id=investigations.pk test_name="r14" requested_or_achieved="requested" as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="change delay:1s" hx_swap="innerHTML" date_value=investigations.r14_test_requested_date label=investigations.get_r14_test_requested_date_help_label_text input_date_field_name='r14_test_requested_date' error_messages=error_messages enabled=can_edit has_permission=can_edit %}

                    {% url 'genetic_testing_status_callback' investigations_id=investigations.pk test_name="r14" requested_or_achieved="achieved" as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.r14_test_achieved label=investigations.get_r14_test_achieved_help_label_text enabled=can_edit %}

                    {% if investigations.r14_test_achieved %}
                        {% url 'genetic_testing_date_callback' investigations_id=investigations.pk test_name="r14" requested_or_achieved="achieved" as hx_post %}
                        {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#genetic_tests_information" hx_trigger="change delay:1s" hx_swap="innerHTML" date_value=investigations.r14_test_achieved_date label=investigations.get_r14_test_achieved_date_help_label_text input_date_field_name='r14_test_achieved_date' error_messages=error_messages enabled=can_edit has_permission=can_edit %}
                    {% endif %}
                {% endif %}

            </div>

        {% endif %}

        {% if error_message %}
            <div class='ui rcpch_warning message'>
                {{ error_message }}
            </div>
        {% endif %}

    </div>

</div>
