{% load epilepsy12_template_tags %}
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    
    <div class="ui segment">

        <div class="field">

            {% url 'mri_indicated' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#mri_brain_information" hx_trigger="click" hx_swap="innerHTML" test_positive=investigations.mri_indicated tooltip_id='mri_indicated_tooltip' label=investigations.get_mri_indicated_help_label_text reference=investigations.get_mri_indicated_help_reference_text data_position="top left" enabled=perms.epilepsy12.change_investigations %}   

        </div>

        {% if investigations.mri_indicated %}

        <div class="three fields">
            
            {% url 'mri_brain_requested_date' investigations_id=investigations.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#mri_brain_information" hx_trigger="change delay:300ms" hx_swap="innerHTML" date_value=investigations.mri_brain_requested_date label=investigations.get_mri_brain_requested_date_help_label_text reference=investigations.get_mri_brain_requested_date_help_reference_text data_position="top left" input_date_field_name='mri_brain_requested_date' error_messages=error_messages enabled=perms.epilepsy12.change_investigations has_permission=perms.epilepsy12.change_investigations %}

            {% if mri_brain_declined %}
                <div class="field">
                    <label>{{investigations.get_mri_brain_reported_date_help_label_text}}
                        <span 
                            id="mri_brain_declined"
                            data-title="Reference"
                            data-content="MRI Brain could not be performed."
                            data-position="top left"
                            data-variation="basic"
                            _="init js $('#mri_brain_declined').popup(); end"
                        >
                            <i class="rcpch question circle icon"></i>
                        </span>
                    </label>
                    <div class="ui rcpch_primary disabled fluid padded_form button">DECLINED</div>
                </div>
                <div class="padded_field field">
                    {% url 'mri_brain_declined' investigations_id=investigations.pk confirm='edit' as hx_post %}
                    <div 
                        class="ui rcpch_primary fluid padded_form button"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                        name="edit_mri_brain_declined"
                        hx-post="{{hx_post}}"
                        hx-trigger="click"
                        hx-target="#mri_brain_information"
                    >Edit date</div>
                </div>

            {% else %}

                {% url 'mri_brain_reported_date' investigations_id=investigations.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#mri_brain_information" hx_trigger="change delay:300ms" hx_swap="innerHTML" date_value=investigations.mri_brain_reported_date label=investigations.get_mri_brain_reported_date_help_label_text reference=investigations.get_mri_brain_reported_date_help_reference_text data_position="top left" input_date_field_name='mri_brain_reported_date' error_messages=error_messages enabled=perms.epilepsy12.change_investigations has_permission=perms.epilepsy12.change_investigations %}
            
                {% if investigations.mri_brain_requested_date and investigations.mri_brain_reported_date %}
                    <div class="field">
                        <label>Time to MRI Brain</label>
                        <input class="ui input" disabled value='{% wait_days_and_weeks investigations.mri_wait %}'>
                    </div>
                {% endif %}

                {% if investigations.mri_brain_reported_date is None %}

                    {% comment %}
                    Only show the MRI declined button if the mri_brain_reported date has neither been declined already
                    nor has already been set
                    {% endcomment %} 

                    <div class="padded field">
                        {% url 'mri_brain_declined' investigations_id=investigations.pk confirm='decline' as hx_post %}
                        <div 
                            class="ui rcpch_primary button"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                            name="mri_brain_requested_date"
                            hx-post="{{hx_post}}"
                            hx-trigger="click"
                            hx-target="#mri_brain_information"
                        >MRI Brain declined</div>
                    </div>


                {% endif %}

            {% endif %}

   
        </div>
        
        {% if error_message %}
            <div class='ui rcpch_warning message'>
                {{ error_message }}
            </div>
        {% endif %}

        {% endif %}

    </div>

</div>