

            {% if site %}
                    <h5>Primary Centre for Epilepsy12</h5>
                    <div class="field">
                        <label>Current Secondary NHS Trust/Health Board</label>

                        <div class="ui right action left icon input">
                            {% if site.organisation.trust %}
                                <input disabled value="{{site.organisation.name}} ({{site.organisation.trust.name}})">
                            {% else %}
                                <input disabled value="{{site.organisation.name}} ({{site.organisation.local_health_board.name}})">
                            {% endif %}
                            
                            <i class="rcpch_pink check circle outline icon"></i>

                            {% if perms.epilepsy12.can_edit_epilepsy12_lead_centre or perms.epilepsy12.can_transfer_epilepsy12_lead_centre %}

                                <div class="ui buttons">
                                        <button
                                            {% if perms.epilepsy12.can_transfer_epilepsy12_lead_centre %}
                                                class="ui rcpch_primary button"
                                            {% else %}
                                                class="ui rcpch_primary disabled button"
                                            {% endif %}
                                            hx-post="{% url 'transfer_lead_site' registration_id=registration.pk site_id=site.pk %}"
                                            hx-target="#lead_site"
                                            hx-swap="innerHTML"
                                            hx-trigger="click"
                                        >Transfer</button>
                                </div>    
                            
                            {% endif %}
                            
                        </div>

                    </div>
                
                

                
                
            {% else %}

                <div class="field" id="allocate_lead_centre" >
                    <label>There is currently no secondary care NHS Trust allocated to {{registration.case.first_name}} {{registration.case.surname}}</label>
                    <div class="field" >
                        {% url 'allocate_lead_site' registration_id=registration.pk as hx_post %}
                        {% include 'epilepsy12/partials/page_elements/organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#lead_site" hx_trigger="click" hx_swap="innerHTML" hx_name="allocate_lead_site" test_positive=None label="Allocate Secondary Care NHS Trust Site" hx_default_text="Search organisations..." data_position="top left" enabled=perms.epilepsy12.can_allocate_epilepsy12_lead_centre hx_confirm="Please confirm that you wish to allocate {{registration.case}} to this organisation." %}
                    </div>
                </div>

            {% endif %}

