<div 
    hx-get="{% url 'previous_sites' registration_id=registration.pk %}"
    hx-target="#previous_sites"
    hx-trigger="add_previously_registered_site from:body"
    name="previous_sites"
    class="ui rcpch_info message"
>
        
            {% if previously_registered_sites %}
                
                <h5>
                Previous centres leading care:
                </h5>
                <ul>
                    {% for previously_registered_site in previously_registered_sites %}
                        {% if previously_registered_site.organisation.trust %}
                            <li>{{previously_registered_site.organisation.trust.trust_name}} ({{previously_registered_site.organisation.name}})</li>
                        {% else %}
                            <li>{{previously_registered_site.organisation.local_health_board.name}} ({{previously_registered_site.organisation.name}})</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                    
            {% else %}
            <p>No organisations have previously led the care of {{registration.case}}</p>
            {% endif %}
            
</div>
