{% load epilepsy12_template_tags %}
{% url 'referring_clinician' registration_id=registration.pk as hx_post %}
{% if not perms.epilepsy12.can_register_child_in_epilepsy12 %}
    {% include 'epilepsy12/partials/page_elements/input.html' with hx_post=hx_post hx_target='#referring_clinician' hx_trigger="keyup" hx_swap='innerHTML' label='Referring Clinician' hx_default_text='Colin Dunkley' test_positive=registration.referring_clinician hx_name='referring_clinician' data_position='top left' hx_editable=hx_editable model_instance_id=registration.pk show_buttons=False %}
{% else %}
    {% include 'epilepsy12/partials/page_elements/input.html' with hx_post=hx_post hx_target='#referring_clinician' hx_trigger="keyup" hx_swap='innerHTML' label='Referring Clinician' hx_default_text='Colin Dunkley' test_positive=registration.referring_clinician hx_name='referring_clinician' data_position='top left' hx_editable=hx_editable model_instance_id=registration.pk show_buttons=True %}
{% endif %}