<form class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<div class="field" >
    <span>
      {% if initial_assessment.general_paediatrics_referral_made %}
            
              <div 
                  class="ui tiny compact toggle button active"
                  hx-target="#general_paediatrics_referral_made"
                  hx-post="{% url 'general_paediatrics_referral_made' initial_assessment_id=initial_assessment.pk %}"
                  hx-swap="innerHTML"
              >
              Yes
              </div>
              <label class="toggle_button_label">Has a referral to general paediatrics been made?</label>
              
            
          {% else %}
            
              <div 
                  class="ui tiny compact toggle button"
                  hx-target="#general_paediatrics_referral_made"
                  hx-trigger='click' 
                  hx-post="{% url 'general_paediatrics_referral_made' initial_assessment_id=initial_assessment.pk %}"
                  hx-swap="innerHTML"
              >No</div>
              <label class="toggle_button_label">Has a referral to general paediatrics been made?</label>
            
          
      {% endif %}

      
    </span>
</div>
{% if initial_assessment.general_paediatrics_referral_made %}
  <div id="date_of_referral_to_general_paediatrics" class="field">
        {% include 'epilepsy12/partials/initial_assessment/date_of_referral_to_general_paediatrics.html' with initial_assessment=initial_assessment %}
  </div>
{% endif %}

</div>