{% load epilepsy12_template_tags %}
<form class='ui form'>

  <div class='field' >

        {% url 'general_paediatrics_referral_made' initial_assessment_id=initial_assessment.pk as hx_post %}
        {% if not perms.epilepsy12.change_initial_assessment %}
          {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#general_paediatrics_referral_made' hx_trigger='click' hx_swap='innerHTML' test_positive=initial_assessment.general_paediatrics_referral_made label='Has a referral to general paediatrics been made?' data_position='top left' disabled=False %}
        {% else %}
          {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#general_paediatrics_referral_made' hx_trigger='click' hx_swap='innerHTML' test_positive=initial_assessment.general_paediatrics_referral_made label='Has a referral to general paediatrics been made?' data_position='top left' disabled=True %}
        {% endif %}

  </div>

  {% if initial_assessment.general_paediatrics_referral_made %}

    <div id='date_of_referral_to_general_paediatrics' class='field'>
        {% include 'epilepsy12/partials/initial_assessment/date_of_referral_to_general_paediatrics.html' with initial_assessment=initial_assessment %}
    </div>

  {% endif %}

</form>