<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >
    

        {% url 'when_the_first_epileptic_episode_occurred' initial_assessment_id=initial_assessment.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="change" label="Date of first episode" date_value=initial_assessment.when_the_first_epileptic_episode_occurred data_position="top left" input_date_field_name="when_the_first_epileptic_episode_occurred" %}
        
        
        {% if initial_assessment.when_the_first_epileptic_episode_occurred %}
            <div class="inline field">
                <label>Epilepsy years</label>
                <input disabled value="{{initial_assessment.epilepsy_decimal_years}}"/>
            </div>

            {% url 'when_the_first_epileptic_episode_occurred_confidence' initial_assessment_id=initial_assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=when_the_first_epileptic_episode_occurred_confidence_selection hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.when_the_first_epileptic_episode_occurred_confidence label="Confidence in reported date of first episode" data_position="top left" %}

        {% endif%}

    

    {% if initial_assessment.when_the_first_epileptic_episode_occurred %}
        <div class="ui segment">
            <div class="header">
                During the time period from the patient's first paroxysmal episode considered epileptic to the first paediatric assessment select where there is documentation of the following:
            </div>
            <div class="two fields">


                    {% url 'has_description_of_the_episode_or_episodes_been_gathered' initial_assessment_id=initial_assessment.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.has_description_of_the_episode_or_episodes_been_gathered label="A description of the episode(s)" data_position="top left" %}
                    
                    {% url 'has_number_of_episodes_since_the_first_been_documented' initial_assessment_id=initial_assessment.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.has_number_of_episodes_since_the_first_been_documented label="The number of episodes" data_position="top left" %}
                
            </div>

            <div class="two fields">

                    {% url 'general_examination_performed' initial_assessment_id=initial_assessment.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.general_examination_performed label="Clinical examination has been performed." data_position="top left" %}
                    
                    {% url 'neurological_examination_performed' initial_assessment_id=initial_assessment.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.neurological_examination_performed label="A neurological examination has been performed." data_position="top left" %}
                    
            </div>

            <div class="two fields">

                {% url 'developmental_learning_or_schooling_problems' initial_assessment_id=initial_assessment.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.developmental_learning_or_schooling_problems label="Learning, developmental or educational difficulties have been sought." data_position="top left" %}

                {% url 'behavioural_or_emotional_problems' initial_assessment_id=initial_assessment.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#when_the_first_epileptic_episode_occurred" hx_trigger="click" hx_swap="innerHTML" test_positive=initial_assessment.behavioural_or_emotional_problems label="Emotional or behavioural problems have been sought." data_position="top left" %}

            </div>

    {% endif %}

        <h5 class="header">
        Case Definition
        </h5>

        
        <div class="field" 
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
            hx-post="{% url 'diagnostic_status' initial_assessment_id=initial_assessment.pk %}" 
            hx-target="#diagnostic_status_result" 
            hx-trigger="load, change"
            hx-swap="innerHTML"
            >
            <label>Diagnostic status</label>
            <select 
                class="ui dropdown" 
                name="diagnostic_status"
            >
                {% for item in diagnostic_status_selection %}
                    {% if initial_assessment.diagnostic_status == item.0 %}
                        <option selected value={{item.0}}>{{item.1}}</option>
                    {% else %}
                        <option value={{item.0}}>{{item.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div hidden id="diagnostic_status_result"></div>
        </div>
        
        <div class="field" 
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
            hx-post="{% url 'episode_definition' initial_assessment_id=initial_assessment.pk %}" 
            hx-target="#episode_definition_result" 
            hx-trigger="load, change"
            hx-swap="innerHTML"
            >
            <label>Episode definition</label>
            <select 
                class="ui dropdown" 
                name="episode_definition"
            >
                {% for item in episode_definition_selection %}
                    {% if initial_assessment.episode_definition == item.0 %}
                        <option selected value={{item.0}}>{{item.1}}</option>
                    {% else %}
                        <option value={{item.0}}>{{item.1}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div hidden id="episode_definition_result"></div>
        </div>

    
</div>