<canvas id="cases_aggregated_by_ethnicity"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
<script>
  var rcpch_red='#e60700';
    var rcpch_light_red='#ffe7e6';
    var rcpch_orange='#ff8000';
    var rcpch_light_orange='#ffdab5';
    var rcpch_yellow='#fdc300';
    var rcpch_gold='#c2a712';
    var rcpch_vivid_green='#c8d400';
    var rcpch_aqua_green='#00dbaa';
    var rcpch_purple='#7159aa';
    var rcpch_magenta='#E00087';
    var rcpch_strong_green='#66cc33';
    var rcpch_dark_red='#9a0500';
            var ctx = document.getElementById('cases_aggregated_by_ethnicity').getContext('2d');
            var myChart = new Chart(ctx, { 
                type: 'pie',
                data: {
                    labels: [{% for data in cases_aggregated_by_ethnicity %}'{{ data.ethnicity_display }}',{% endfor %}], //loop through queryset, 
                    datasets: [{
                        data: [{% for case in cases_aggregated_by_ethnicity %}{{ case.ethnicities }},{% endfor %}],
                        backgroundColor: [
                            rcpch_light_red,
                            rcpch_orange,
                            rcpch_light_orange,
                            rcpch_yellow,
                            rcpch_gold,
                            rcpch_vivid_green,
                            rcpch_aqua_green,
                            rcpch_purple,
                            rcpch_magenta,
                            rcpch_strong_green,
                            rcpch_dark_red,
                        ],
                        borderColor: [
                            rcpch_light_red,
                            rcpch_orange,
                            rcpch_light_orange,
                            rcpch_yellow,
                            rcpch_gold,
                            rcpch_vivid_green,
                            rcpch_aqua_green,
                            rcpch_purple,
                            rcpch_magenta,
                            rcpch_strong_green,
                            rcpch_dark_red,
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      title: {
                        display: false,
                        text: "Ethnicity Distribution",
                        position: 'top',
                        align: 'start'
                      },
                      legend: {
                        display: false,
                      }
                    },
                }
            });
</script>