{% load epilepsy12_template_tags %}
<div>
  <canvas id="{{data_id}}"></canvas>
</div>
  <script>
    var myChart = new Chart(document.getElementById('{{data_id}}'), {
      type: 'bar',
      data: {
        labels: [{% for item in data %}'{{ item.region.1 }}',{% endfor %}],
        datasets: [{
          label: 'KPIs',
          data: [{% for val in data %}{% kpi_for_kpi_name val kpi_name %},{% endfor %}],
          borderWidth: 1,
          backgroundColor: ['#3366cc']
        }]
      },
      options: {
        plugins: {
          title: {
            text: '{{data_title}}',
            display: true
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>