<canvas id="open_uk_region_ranked_by_kpi_measure"></canvas>
<script>
  var ctx = document.getElementById('open_uk_region_ranked_by_kpi_measure').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      labels:[],
      data: {
        datasets: [
          {
            label: 'OpenUK Regions',
            data: all_aggregated_kpis_by_open_uk_region_in_current_cohort,
            backgroundColor: ['rgba(17, 167, 242, 1.0)', ]
          }
        ]
      },
      options: {
          responsive: true,
          maintainAspectRatio: true,
          plugins: {
            title: {
              display: true,
              text: "Hospitals ranked",
              position: 'top',
              align: 'start'
            },
            legend: {
              display: true,
              position: 'right'
            },
          },
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
      }
    });
</script>
