<canvas id="hospitals_ranked_by_kpi_measure"></canvas>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
  integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI="
  crossorigin="anonymous"
></script>
<script>
  var ctx = document.getElementById('hospitals_ranked_by_kpi_measure').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: [{% for data in ranked %}'{{ data.hospital.OrganisationName }}',{% endfor %}], //loop through queryset,
          datasets: [{
              label: '{{series_name}}',
              data: [{% for kpi in ranked %}{{ kpi.kpi }},{% endfor %}],
              backgroundColor: [
                  'rgba(17, 167, 242, 1.0)',
              ],
              borderColor: [
                  'rgba(17, 167, 242, 1.0)',
              ],
              borderWidth: 1,
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            title: {
              display: true,
              text: "Hospitals ranked",
              position: 'top',
              align: 'start'
            },
            legend: {
              display: true,
              position: 'right'
            },
          }
      }
  });
</script>
