{% load leaflet_tags %}

{% leaflet_map "{{abstraction_level}}" callback="our_layers" %}

<script>
    
    function our_layers(map,options){
        var datasets = new L.GeoJSON.AJAX("{% url 'uk_shapes' abstraction_level=abstraction_level %}",{
                        style: function (feature) {
                            return {
                                color: '{{abstraction_level_border_colour}}',
                                weight: 1
                            };
                        },
                        onEachFeature: function(feature, layer){
                            layer.on({
                                'mouseover': function (e) {
                                    highlight(e.target, feature);
                                },'mouseout': function(e){
                                    dehighlight(e.target);
                                }});
                        }
                    });
        console.log(datasets);
        datasets.addTo(map);

    }

    function highlight (layer, feature) {
			layer.setStyle({
				weight: 3,
				color: '#e00087'
			});
            layer.bindTooltip(feature.properties.nhser22nm).openPopup();
			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}
		}
    function dehighlight (layer) {
        layer.setStyle({
            weight: 1,
            color: '{{abstraction_level_border_colour}}',
        })
    }

</script>