{% load leaflet_tags %}

{% leaflet_map "{{abstraction_level}}" callback="our_layers" %}

<script>
    
    function our_layers(map,options){
        var datasets = new L.GeoJSON.AJAX("{% url 'uk_shapes' abstraction_level=abstraction_level %}",{
                        style: function (feature) {
                            return {
                                color: '{{abstraction_level_border_colour}}'
                            };
                        }
                    }).bindPopup(function (layer) {
                        return layer.feature.properties.nhser20nm;
                    });
        // datasets=L.geoJSON(JSON.parse('{{nhsregion_tiles|escapejs}}'), )
        datasets.addTo(map);
    }

</script>