{% load epilepsy12_template_tags %}
<h3>Clinical Team</h3>
<table class="ui rcpch table">
  <thead>
    <tr>
      <th>Indicator</th>
      <th class="right aligned">Performance</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if case.registration.kpi.paediatrician_with_expertise_in_epilepsies == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="paediatrician_with_expertise_in_epilepsies"
          data-title="Paediatrician with expertise in epilepsies"
          data-content="{{case.registration.kpi.get_paediatrician_with_expertise_in_epilepsies_help_reference_text}}"
          data-position="top right"
          _="init js $('#paediatrician_with_expertise_in_epilepsies').popup(); end"
        ></i>
        {{case.registration.kpi.get_paediatrician_with_expertise_in_epilepsies_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.paediatrician_with_expertise_in_epilepsies|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.epilepsy_specialist_nurse == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="epilepsy_specialist_nurse"
          data-title="Epilepsy specialist nurse"
          data-content="{{case.registration.kpi.get_epilepsy_specialist_nurse_help_reference_text}}"
          data-position="top right"
          _="init js $('#epilepsy_specialist_nurse').popup(); end"
        ></i>
        {{case.registration.kpi.get_epilepsy_specialist_nurse_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.epilepsy_specialist_nurse|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.tertiary_input == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="tertiary_input"
          data-title="Tertiary Input"
          data-content="{{case.registration.kpi.get_tertiary_input_help_reference_text}}"
          data-position="top right"
          _="init js $('#tertiary_input').popup(); end"
        ></i>
        {{case.registration.kpi.get_tertiary_input_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.tertiary_input|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.epilepsy_surgery_referral == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="epilepsy_surgery_referral"
          data-title="Epilepsy surgery referral"
          data-content="{{case.registration.kpi.get_epilepsy_surgery_referral_help_reference_text}}"
          data-position="top right"
          _="init js $('#epilepsy_surgery_referral').popup(); end"
        ></i>
        {{case.registration.kpi.get_epilepsy_surgery_referral_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.epilepsy_surgery_referral|icon_for_score}}
      </td>
    </tr>
  </tbody>
</table>

<h3>Investigations</h3>
<table class="ui rcpch table">
  <thead>
    <tr>
      <th>Indicator</th>
      <th class="right aligned">Performance</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if case.registration.kpi.ecg == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="ecg"
          data-title="ECG"
          data-content="{{case.registration.kpi.get_ecg_help_reference_text}}"
          data-position="top right"
          _="init js $('#ecg').popup(); end"
        ></i>
        {{case.registration.kpi.get_ecg_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.ecg|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.mri == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="mri"
          data-title="MRI"
          data-content="{{case.registration.kpi.get_mri_help_reference_text}}"
          data-position="top right"
          _="init js $('#mri').popup(); end"
        ></i>
        {{case.registration.kpi.get_mri_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.mri|icon_for_score}}
      </td>
    </tr>
  </tbody>
</table>

<h3>Mental Health</h3>
<table class="ui rcpch table">
  <thead>
    <tr>
      <th>Indicator</th>
      <th class="right aligned">Performance</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if case.registration.kpi.assessment_of_mental_health_issues == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="assessment_of_mental_health_issues"
          data-title="Assessment of mental health issues"
          data-content="{{case.registration.kpi.get_assessment_of_mental_health_issues_help_reference_text}}"
          data-position="top right"
          _="init js $('#assessment_of_mental_health_issues').popup(); end"
        ></i>
        {{case.registration.kpi.get_assessment_of_mental_health_issues_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.assessment_of_mental_health_issues|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.mental_health_support == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="mental_health_support"
          data-title="Mental health support"
          data-content="{{case.registration.kpi.get_mental_health_support_help_reference_text}}"
          data-position="top right"
          _="init js $('#mental_health_support').popup(); end"
        ></i>
        {{case.registration.kpi.get_mental_health_support_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.mental_health_support|icon_for_score}}
      </td>
    </tr>
  </tbody>
</table>

<h3>Care Planning</h3>
<table class="ui rcpch table">
  <thead>
    <tr>
      <th>Indicator</th>
      <th class="right aligned">Performance</th>
    </tr>
  </thead>
  <tbody>
    <tr {% if case.registration.kpi.comprehensive_care_planning_agreement == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i 
          class='rcpch question circle icon'
          id="comprehensive_care_planning_agreement"
          data-title="Comprehensive care planning agreement"
          data-content="{{case.registration.kpi.get_comprehensive_care_planning_agreement_help_reference_text}}"
          data-position="top left"
          _="init js $('#comprehensive_care_planning_agreement').popup(); end"
        ></i>{{case.registration.kpi.get_comprehensive_care_planning_agreement_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.comprehensive_care_planning_agreement|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.patient_held_individualised_epilepsy_document == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="patient_held_individualised_epilepsy_document"
          data-title="Parent-held individualised epilepsy document"
          data-content="{{case.registration.kpi.get_patient_held_individualised_epilepsy_document_help_reference_text}}"
          data-position="top right"
          _="init js $('#patient_held_individualised_epilepsy_document').popup(); end"
        ></i>
        {{case.registration.kpi.get_patient_held_individualised_epilepsy_document_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.patient_held_individualised_epilepsy_document|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.care_planning_has_been_updated_when_necessary == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
        class="rcpch question circle icon"
        id="care_planning_has_been_updated_when_necessary"
        data-title="Care planning has been updated when necessary"
        data-content="{{case.registration.kpi.get_care_planning_has_been_updated_when_necessary_help_reference_text}}"
        data-position="top right"
        _="init js $('#care_planning_has_been_updated_when_necessary').popup(); end"
        ></i>
        {{case.registration.kpi.get_care_planning_has_been_updated_when_necessary_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.care_planning_has_been_updated_when_necessary|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.comprehensive_care_planning_content == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="comprehensive_care_planning_content"
          data-title="Comprehensive care planning content"
          data-content="{{case.registration.audit_procomprehensive_care_planning_contentiary_input_help_reference_text}}"
          data-position="top right"
          _="init js $('#comprehensive_care_planning_content').popup(); end"
        ></i>
        {{case.registration.kpi.get_comprehensive_care_planning_content_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.comprehensive_care_planning_content|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.parental_prolonged_seizures_care_plan == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="parental_prolonged_seizures_care_plan"
          data-title="Parental care plan for prolonged seizures"
          data-content="{{case.registration.kpi.get_parental_prolonged_seizures_care_plan_help_reference_text}}"
          data-position="top right"
          _="init js $('#parental_prolonged_seizures_care_plan').popup(); end"
        ></i>
        {{case.registration.kpi.get_parental_prolonged_seizures_care_plan_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.parental_prolonged_seizures_care_plan|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.water_safety == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="water_safety"
          data-title="Water safety"
          data-content="{{case.registration.kpi.get_water_safety_help_reference_text}}"
          data-position="top right"
          _="init js $('#water_safety').popup(); end"
        ></i>
        {{case.registration.kpi.get_water_safety_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.water_safety|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.first_aid == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="first_aid"
          data-title="First aid"
          data-content="{{case.registration.kpi.get_first_aid_help_reference_text}}"
          data-position="top right"
          _="init js $('#first_aid').popup(); end"
        ></i>
        {{case.registration.kpi.get_first_aid_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.first_aid|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.general_participation_and_risk == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="general_participation_and_risk"
          data-title="General participation and risk"
          data-content="{{case.registration.kpi.get_general_participation_and_risk_help_reference_text}}"
          data-position="top right"
          _="init js $('#general_participation_and_risk').popup(); end"
        ></i>
        {{case.registration.kpi.get_general_participation_and_risk_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.general_participation_and_risk|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.service_contact_details == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="service_contact_details"
          data-title="Service contact details"
          data-content="{{case.registration.kpi.service_contact_details.get_service_contact_details_help_reference_text}}"
          data-position="top right"
          _="init js $('#service_contact_details').popup(); end"
        ></i>
        {{case.registration.kpi.get_service_contact_details_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.service_contact_details|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.sudep == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="sudep"
          data-title="Sudden unexplained death in epilepsy"
          data-content="{{case.registration.kpi.get_sudep_help_reference_text}}"
          data-position="top right"
          _="init js $('#sudep').popup(); end"
        ></i>
        {{case.registration.kpi.get_sudep_help_label_text}}</td>
      <td class="right aligned">
        {{case.registration.kpi.sudep|icon_for_score}}
      </td>
    </tr>
    <tr {% if case.registration.kpi.school_individual_healthcare_plan == 2 %} class='kpi_unscored' {% endif %}>
      <td class="left aligned">
        <i
          class="rcpch question circle icon"
          id="school_individual_healthcare_plan"
          data-title="School individual health care plan"
          data-content="{{case.registration.kpi.get_school_individual_healthcare_plan_help_reference_text}}"
          data-position="top right"
          _="init js $('#school_individual_healthcare_plan').popup(); end"
        ></i>
        {{case.registration.kpi.get_school_individual_healthcare_plan_help_label_text}}
      </td>
      <td class="right aligned">
        {{case.registration.kpi.school_individual_healthcare_plan|icon_for_score}}
      </td>
    </tr>
  </tbody>
</table>
