{% extends "base.html" %} {% load static %} {% load epilepsy12_template_tags %}
{% csrf_token %} {% block content %}
<div class="ui rcpch container main_content">
  <h1>KPI downloading for E12 team</h1>
  <p>
    KPIs are re-aggregated everytime a user enters their organisation's summary
    page. This ensures that the aggregations are as up to date as possible. The
    aggregate data itself can be calculated for different levels of location -
    from organisationally to nationally.
  </p>
  <h2>Structure of the KPI report</h2>
  <p>
    The KPI report is separated into 8 separate pages on an excel document. The
    structure of the 8 pages is as follows:
    <ol>
      <li>Individual Organisation Level</li>
      <li>Trust or Local Health Board Level</li>
      <li>ICB Level</li>
      <li>NHS region Level</li>
      <li>Network Level</li>
      <li>National Level</li>
      <li>Reference</li>
      <li>National Comparison</li>
    </ol>
  </p>
  <span class="ui buttons">
    <div id="kpi_download_button">
        <button 
          class="ui rcpch_positive button jump"
          hx-post="{% url 'kpi_download' organisation_id=organisation_id %}"
          hx-target="#kpi_download_button"
          hx-swap="innerHTML"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        >
          Download most recent KPI report
        </button>
      </a>
    </div>
    <div id="organisation_return" class="ui rcpch_grey button bold">
        <a href="{% url 'selected_organisation_summary' organisation_id=organisation_id %}">
          Return to Organisation View
        </a>
    </div>
  </span>
</div>

{% endblock content %}
