{% load epilepsy12_template_tags %}
<div class="ui segment">

    {% url 'has_an_aed_been_given' management_id=management.pk as hx_post %}
    {% if perms.epilepsy12.change_management %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_an_aed_been_given hx_post=hx_post hx_swap="innerHTML" hx_target="#aeds" hx_trigger="click" label="Has an Antiepilepsy Drug been given?" disabled=False %}
    {% else %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_an_aed_been_given hx_post=hx_post hx_swap="innerHTML" hx_target="#aeds" hx_trigger="click" label="Has an Antiepilepsy Drug been given?" disabled=True %}
    {% endif %}

    {% if management.has_an_aed_been_given %}
        <div class="three fields">
            <div class="field">
                <label>Add a new antiepilepsy medicine</label>
                <div class="field">
                    <div class="ui input" >
                    <input 
                        type="text" 
                        placeholder="Search..." 
                        name="antiepilepsy_medicine_search" 
                        hx-target="#antiepilepsy_medicine_select" 
                        hx-get="{% url 'antiepilepsy_medicine_search' management_id=management.pk %}" 
                        hx-trigger="keyup"
                        hx-swap="innerHTML">
                    </div>
                </div>
            </div>
            <div class="field" id="antiepilepsy_medicine_select"></div>
        </div>
    {% endif %}
        
    <div id="antiepilepsy_medicine_list" class="field">
        {% include 'epilepsy12/partials/medicines/antiepilepsy_medicine_list.html' with management_id=management.pk valproate_pregnancy_advice_needs_addressing=valproate_pregnancy_advice_needs_addressing %}
    </div>

</div>