<div class='two fields'>
    <div class='field'>
        {% url 'has_been_referred_for_mental_health_support' management_id=management.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#mental_health_support' hx_trigger='click' hx_swap='innerHTML' test_positive=management.has_been_referred_for_mental_health_support tooltip_id='has_been_referred_for_mental_health_support_tooltip' label=management.get_has_been_referred_for_mental_health_support_help_label_text reference=management.get_has_been_referred_for_mental_health_support_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_management %}
    </div>

    <div class='field'>
        {% url 'has_support_for_mental_health_support' management_id=management.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#mental_health_support' hx_trigger='click' hx_swap='innerHTML' test_positive=management.has_support_for_mental_health_support tooltip_id='has_support_for_mental_health_support_tooltip' label=management.get_has_support_for_mental_health_support_help_label_text reference=management.get_has_support_for_mental_health_support_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_management %}
    </div>
</div>
