<div class="ui segment">
    <div class="two fields">
      

    <div class="field" >
        <span>
            {% if management.has_rescue_medication_been_prescribed %}
                    
                    <div 
                        class="ui tiny compact toggle button active"
                        hx-target="#rescue_medicines"
                        hx-post="{% url 'rescue_medication_prescribed' management_id=management.pk %}"
                        hx-swap="innerHTML"
                    >
                    Yes
                    </div>
                    <label class="toggle_button_label">Has a rescue medicine been prescribed?</label>   
                    
            {% else %}
                    
                    <div 
                        class="ui tiny compact toggle button"
                        hx-target="#rescue_medicines"
                        hx-trigger='click' 
                        hx-post="{% url 'rescue_medication_prescribed' management_id=management.pk %}"
                        hx-swap="innerHTML"
                    >No</div>
                    <label class="toggle_button_label">Has a rescue medicine been prescribed?</label>
                    
            {% endif %}
        </span>
    </div>

  </div>
</div>

  