{% load epilepsy12_template_tags %}
<div class="ui segment">

        <div class="field">
            {% url 'rescue_medication_prescribed' management_id=management.pk as hx_post %}
            {% if perms.epilepsy12.change_management %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_rescue_medication_been_prescribed hx_post=hx_post hx_swap="innerHTML" hx_target="#rescue_medicines" hx_trigger="click" label="Has a rescue medicine been prescribed?" disabled=False %}
            {% else %}
                {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_rescue_medication_been_prescribed hx_post=hx_post hx_swap="innerHTML" hx_target="#rescue_medicines" hx_trigger="click" label="Has a rescue medicine been prescribed?" disabled=True %}
            {% endif %}
        </div>

        {% if management.has_rescue_medication_been_prescribed %}
        <div class="three fields">
            <div class="field">
                <label>Add a new rescue medicine</label>
                <div class="field">
                    <div class="ui input" >
                    <input 
                        type="text" 
                        placeholder="Search..." 
                        name="rescue_medicine_search" 
                        hx-target="#rescue_medicine_select" 
                        hx-get="{% url 'rescue_medicine_search' management_id=management.pk %}" 
                        hx-trigger="keyup"
                        hx-swap="innerHTML">
                    </div>
                </div>
            </div>
            <div class="field" id="rescue_medicine_select"></div>
        </div>
        {% endif %}
        
        <div id="rescue_medicine_list" class="field">
            {% include 'epilepsy12/partials/medicines/rescue_medicine_list.html' with management_id=management.pk %}
        </div>
    
</div>  