<div class="ui segment">

    <div class="field" >
        <span>
            {% if management.has_rescue_medication_been_prescribed %}
                    
                    <div 
                        class="ui tiny compact toggle button active"
                        hx-target="#rescue_medicines"
                        hx-post="{% url 'rescue_medication_prescribed' management_id=management.pk %}"
                        hx-swap="innerHTML"
                    >
                    Yes
                    </div>
                    <label class="toggle_button_label">Has a rescue medicine been prescribed?</label>   
                    
            {% else %}
                    
                    <div 
                        class="ui tiny compact toggle button"
                        hx-target="#rescue_medicines"
                        hx-trigger='click' 
                        hx-post="{% url 'rescue_medication_prescribed' management_id=management.pk %}"
                        hx-swap="innerHTML"
                    >No</div>
                    <label class="toggle_button_label">Has a rescue medicine been prescribed?</label>
                    
            {% endif %}
        </span>
    </div>

    {% if management.has_rescue_medication_been_prescribed %}
    <div class="three fields">
        <div class="field">
            <label>Add a new rescue medicine</label>
            <div class="field">
                <div class="ui input" >
                <input 
                    type="text" 
                    placeholder="Search..." 
                    name="rescue_medicine_search" 
                    hx-target="#rescue_medicine_select" 
                    hx-get="{% url 'rescue_medicine_search' management_id=management.pk %}" 
                    hx-trigger="keyup"
                    hx-swap="innerHTML">
                </div>
            </div>
        </div>
        <div class="field" id="rescue_medicine_select"></div>
    </div>
    {% endif %}

    
    <div id="rescue_medicine_list">
        {% include 'epilepsy12/partials/medicines/rescue_medicine_list.html' with management_id=management.pk %}
    </div>
    


</div>

  