<form class="ui form" method="post">
  {% csrf_token %}
  
  <div id="consultant_paediatrician" class="field">
    {% include 'epilepsy12/partials/assessment/consultant_paediatrician.html' with assessment=registration.assessment %}
  </div>

  <div id="paediatric_neurologist" class="field">
    {% include 'epilepsy12/partials/assessment/paediatric_neurologist.html' with assessment=registration.assessment %}
  </div>

  <div id="childrens_epilepsy_surgical_service" class="field">
    {% include 'epilepsy12/partials/assessment/epilepsy_surgery.html' with assessment=registration.assessment %}
  </div>
  
  <div id="epilepsy_specialist_nurse" class="field">
    {% include 'epilepsy12/partials/assessment/epilepsy_nurse.html' with assessment=registration.assessment %}
  </div>
 
  {% include 'epilepsy12/partials/assessment/seizure_length_checkboxes.html' with registration_id=registration.pk assessment=registration.assessment %} 

</form>
