{% load epilepsy12_template_tags %}
<form class="ui form" method="post">
  {% csrf_token %}
    <div class="two fields">
      <div class="field">
        <label>First Name</label>
        <div class="field">{{form.first_name}}</div>
        {% if form.first_name.errors %}
        <div class="ui pointing red basic label">
          {{form.first_name.errors}}
        </div>
        {% endif %}
      </div>
      <div class="field">
        <label>Surname</label>
        <div class="field">{{form.surname}}</div>
        {% if form.surname.errors %}
        <div class="ui pointing red basic label">{{form.surname.errors}}</div>
        {% endif %}
      </div>
    </div>
    {% if request.user|has_group:"trust_audit_team_full_access, trust_audit_team_edit_access, epilepsy12_audit_team_edit_access, epilepsy12_audit_team_full_access" %}
    <div class="field">
      <label>Date of Birth</label>
      {{form.date_of_birth}} {% if form.date_of_birth.errors %}
      <div class="ui pointing red basic label">
        {{form.date_of_birth.errors}}
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="two fields">
      <div class="field">
        <label>Sex</label>
        {{form.sex}} {% if form.sex.errors %}
        <div class="ui pointing red basic label">{{form.sex.errors}}</div>
        {% endif %}
      </div>
      <div class="field">
        <label>Opt Out</label>
        {{form.locked}} {% if form.locked.errors %}
        <div class="ui pointing red basic label">{{form.locked.errors}}</div>
        {% endif %}
        {% if form.locked %}
          <label>{{fom.locked_at}}</label>
        {% endif %}
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <label>Postcode 
        <i class="question circle icon link" id="postcodeIdPopup"></i>
        <div class="ui flowing popup top left transition hidden">
            <p>Post code at the time of registration in Epilepsy12</p>
        </div>
        </label>
        {{form.postcode}}  {% if form.postcode.errors %}
        <div class="ui pointing red basic label">
          {{form.postcode.errors}}
        </div>
        {% endif %}
      </div>
      {% if request.user|has_group:"trust_audit_team_full_access, trust_audit_team_edit_access, epilepsy12_audit_team_edit_access, epilepsy12_audit_team_full_access" %}
        <div class="field">
          <label>NHS/CHI Number</label>
          {{form.nhs_number}} {% if form.nhs_number.errors %}
          <div class="ui pointing red basic label">
            {{form.nhs_number.errors}}
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
    <div class="field">
      <label>Ethnicity</label>
      {{form.ethnicity}} {% if form.ethnicity.errors %}
      <div class="ui pointing red basic label">{{form.ethnicity.errors}}</div>
      {% endif %}
    </div>
    {% if not perms.epilepsy12.change_case or not perms.epilepsy12.add_case %}
      <button type="submit" class="ui green button" name="update">Save</button>
    {% endif %}
    {% if not perms.epilepsy12.delete_case %}
    <button type="submit" class="ui red button" name="delete">Delete</button>
    {% endif %}
    <button type="submit" class="ui blue button">Cancel</button>
  </form>