{% load epilepsy12_template_tags %}
<form class="ui form" method="post">
    {% csrf_token %}

            <div id="previous_febrile_seizure" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/previous_febrile_seizure.html' with choices=uncertain_choices epilepsy_context=epilepsy_context %}
            </div>
            
            <div id="previous_acute_symptomatic_seizure" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/previous_acute_symptomatic_seizure.html' with choices=uncertain_choices epilepsy_context=epilepsy_context %}
            </div>
            
            
            
            <div id="is_there_a_family_history_of_epilepsy" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/is_there_a_family_history_of_epilepsy.html' with choices=uncertain_choices epilepsy_context=epilepsy_context %}
            </div>
            
            <div id="previous_neonatal_seizures" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/previous_neonatal_seizures.html' with choices=uncertain_choices epilepsy_context=epilepsy_context %}
            </div>

            <div id="were_any_of_the_epileptic_seizures_convulsive" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/were_any_of_the_epileptic_seizures_convulsive.html' with epilepsy_context=epilepsy_context %}
            </div>
            
            <div id="experienced_prolonged_generalized_convulsive_seizures" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/experienced_prolonged_generalized_convulsive_seizures.html' with epilepsy_context=epilepsy_context %}
            </div>
            
            <div id="experienced_prolonged_focal_seizures" class="field">
                {% include 'epilepsy12/partials/epilepsy_context/experienced_prolonged_focal_seizures.html' with epilepsy_context=epilepsy_context %}
            </div>

        <div id="diagnosis_of_epilepsy_withdrawn" class="field">
            {% include 'epilepsy12/partials/epilepsy_context/epilepsy_diagnosis_withdrawn.html' with epilepsy_context=epilepsy_context %}
        </div>

</form>