{% load epilepsy12_template_tags %}
<form class='ui form'>

  {% csrf_token %}

  <div id='first_paediatric_assessment_in_acute_or_nonacute_setting' class='field'>
    {% include 'epilepsy12/partials/first_paediatric_assessment/first_paediatric_assessment_in_acute_or_nonacute_setting.html' with first_paediatric_assessment=first_paediatric_assessment choices=chronicity_selection %}
  </div>

  <div id='when_the_first_epileptic_episode_occurred'>
    {% include 'epilepsy12/partials/first_paediatric_assessment/when_the_first_epileptic_episode_occurred.html' with first_paediatric_assessment=first_paediatric_assessment when_the_first_epileptic_episode_occurred_confidence_selection=when_the_first_epileptic_episode_occurred_confidence_selection diagnostic_status_selection=diagnostic_status_selection %}
  </div>

  
</form>