<form class='ui form'>

  {% csrf_token %}

  <div class='ui rcpch_info message'>
  The initial assessment must be completed with x weeks of the reported episode.
  </div>

  <div id='date_of_initial_assessment' class='field'>
    {% include 'epilepsy12/partials/initial_assessment/date_of_initial_assessment.html' with initial_assessment=initial_assessment %}
  </div>
  
  <div id='first_paediatric_assessment_in_acute_or_nonacute_setting' class='field'>
    {% url 'first_paediatric_assessment_in_acute_or_nonacute_setting' initial_assessment_id=initial_assessment.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with hx_post=hx_post hx_target='#first_paediatric_assessment_in_acute_or_nonacute_setting' hx_trigger='click' label='Is the first paediatric assessment in an acute or nonacute setting?' test_positive=initial_assessment.first_paediatric_assessment_in_acute_or_nonacute_setting data_position='top left' choices=chronicity_selection %} 
  </div>


  <h5 class='header'>
  Involving General Paediatrics
  </h5>

  <div id='general_paediatrics_referral_made' class="field">
    {% include 'epilepsy12/partials/initial_assessment/general_paediatrics_referral_made.html' with initial_assessment=initial_assessment %}
  </div>

  <h5 class='header'>
    The first episode
  </h5>

  <div id='when_the_first_epileptic_episode_occurred'>
    {% include 'epilepsy12/partials/initial_assessment/when_the_first_epileptic_episode_occurred.html' with initial_assessment=initial_assessment when_the_first_epileptic_episode_occurred_confidence_selection=when_the_first_epileptic_episode_occurred_confidence_selection diagnostic_status_selection=diagnostic_status_selection %}
  </div>
  
  <div id='has_number_of_episodes_since_the_first_been_documented'>
    {% include 'epilepsy12/partials/initial_assessment/has_number_of_episodes_since_the_first_been_documented.html' with initial_assessment=initial_assessment  %}
  </div>
  
  <div id='general_examination_performed'>
    {% include 'epilepsy12/partials/initial_assessment/general_examination_performed.html' with initial_assessment=initial_assessment  %}
  </div>
  
  <div id='neurological_examination_performed'>
    {% include 'epilepsy12/partials/initial_assessment/neurological_examination_performed.html' with initial_assessment=initial_assessment  %}
  </div>
  
  <div id='developmental_learning_or_schooling_problems'>
    {% include 'epilepsy12/partials/initial_assessment/developmental_learning_or_schooling_problems.html' with initial_assessment=initial_assessment  %}
  </div>
  
  <div id='behavioural_or_emotional_problems'>
    {% include 'epilepsy12/partials/initial_assessment/behavioural_or_emotional_problems.html' with initial_assessment=initial_assessment  %}
  </div>


  
</form>