{% load epilepsy12_template_tags %}
<form class='ui form'>

  {% csrf_token %}

  <div id='first_paediatric_assessment_in_acute_or_nonacute_setting' class='field'>
    {% url 'first_paediatric_assessment_in_acute_or_nonacute_setting' initial_assessment_id=initial_assessment.pk as hx_post %}
    {% if not perms.epilepsy12.change_initial_assessment %}
      {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with hx_post=hx_post hx_target='#first_paediatric_assessment_in_acute_or_nonacute_setting' hx_trigger='click' label=initial_assessment.get_first_paediatric_assessment_in_acute_or_nonacute_setting_help_label_text reference=initial_assessment.get_first_paediatric_assessment_in_acute_or_nonacute_setting_help_reference_text test_positive=initial_assessment.first_paediatric_assessment_in_acute_or_nonacute_setting data_position='top left' choices=chronicity_selection disabled=True %}
    {% else %} 
      {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with hx_post=hx_post hx_target='#first_paediatric_assessment_in_acute_or_nonacute_setting' hx_trigger='click' label=initial_assessment.get_first_paediatric_assessment_in_acute_or_nonacute_setting_help_label_text reference=initial_assessment.get_first_paediatric_assessment_in_acute_or_nonacute_setting_help_reference_text test_positive=initial_assessment.first_paediatric_assessment_in_acute_or_nonacute_setting data_position='top left' choices=chronicity_selection disabled=False %} 
    {% endif %}
  </div>

  <div id='when_the_first_epileptic_episode_occurred'>
    {% include 'epilepsy12/partials/initial_assessment/when_the_first_epileptic_episode_occurred.html' with initial_assessment=initial_assessment when_the_first_epileptic_episode_occurred_confidence_selection=when_the_first_epileptic_episode_occurred_confidence_selection diagnostic_status_selection=diagnostic_status_selection %}
  </div>
  
</form>