<form class="ui form" method="post">
    {% csrf_token %}
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_form.eeg_indicated }}
            <label>Is an EEG indicated?</label>
        </div>
        {% if investigation_form.eeg_indicated.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_form.eeg_indicated.errors}}
            </div>
        {% endif %}
    </div>
    <div class="ui message">
        <p>
        This is a list of indictions for an EEG to be performed
        </p>
        <li>Child has had a seizure</li>
        <li>An EEG service exists</li>
        <li>People are available that can interpret the wavy lines</li>
    </div>
    <div class="two fields">
        <div class="field">
            <label>When was an EEG requested?</label>
            <div class="field">{{investigation_form.eeg_request_date}}</div>
            {% if investigation_form.eeg_request_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_form.eeg_request_date.errors}}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label>When was an EEG performed?</label>
            <div class="field">{{investigation_form.eeg_performed_date}}</div>
            {% if investigation_form.eeg_performed_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_form.eeg_performed_date.errors}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_form.twelve_lead_ecg_status }}
            <label>Has an ECG been performed?</label>
        </div>
        {% if investigation_form.twelve_lead_ecg_status.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_form.twelve_lead_ecg_status.errors}}
            </div>
        {% endif %}
    </div>
    <div class="ui message">
        <p>
        NICE guidance states an ECG must be performed where a seizure is suspected <i>link here to refererence</i>.
        Situations where an ECG is not indicated include:
        </p>
        <li>Child has not had a seizure</li>
        <li>Child does not have a heart</li>
        <li>ECG machine is broken or on PICU and they won't lend it to us</li>
    </div>
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_form.ct_head_scan_status }}
            <label>Has a CT Head been performed?</label>
        </div>
        {% if investigation_form.ct_head_scan_status.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_form.ct_head_scan_status.errors}}
            </div>
        {% endif %}
    </div>
    <div class="ui message">
        <p>
        NICE guidance states a CT must be considered where a seizure is suspected <i>link here to refererence</i>.
        Situations where a CT head is not indicated include:
        </p>
        <li>Child has not had a seizure</li>
        <li>Child does not have a head</li>
        <li>CT machine is broken or radiologist is cross and refuses.</li>
    </div>
    <div class="field">
        <label>When was an MRI performed?</label>
        <div class="field">{{investigation_form.mri_brain_date}}</div>
        {% if investigation_form.mri_brain_date.errors %}
        <div class="ui pointing red basic label">
            {{investigation_form.mri_brain_date.errors}}
        </div>
        {% endif %}
    </div>
    <div class="ui message">
        <p>
        NICE guidance states an MRI brain must be considered where a seizure is suspected <i>link here to refererence</i>.
        Situations where an MRI head is not indicated include:
        </p>
        <li>Child has not had a seizure</li>
        <li>Child does not have a head</li>
        <li>MRI machine is on the other side of the UK.</li>
    </div>

    <button type="submit" class="ui green button" name="update">Save</button>
    <button type="submit" class="ui red button" name="delete">Delete</button>
    <button type="submit" class="ui blue button">Cancel</button>
</form>