<form class="ui form" method="post">
    {% csrf_token %}
    <h3 class="header">
    Investigation Milestones
    </h3>
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_management_form.eeg_indicated }}
            <label>Is an EEG indicated?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                        This is a list of indictions for an EEG to be performed
                    </p>
                    <li>Child has had a seizure</li>
                    <li>An EEG service exists</li>
                    <li>People are available that can interpret the wavy lines</li>
                </div>
            </label>
        </div>
        {% if investigation_management_form.eeg_indicated.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.eeg_indicated.errors}}
            </div>
        {% endif %}
    </div>

    <div class="two fields">
        <div class="field">
            <label>When was an EEG requested?
            <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                An EEG should always have a documented request date.
                </div>
            </label>
            <div class="field">{{investigation_management_form.eeg_request_date}}</div>
            {% if investigation_management_form.eeg_request_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_management_form.eeg_request_date.errors}}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label>When was an EEG performed?</label>
            <div class="field">{{investigation_management_form.eeg_performed_date}}</div>
            {% if investigation_management_form.eeg_performed_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_management_form.eeg_performed_date.errors}}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_management_form.twelve_lead_ecg_status }}
            <label>Has an ECG been performed?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                    NICE guidance states an ECG must be performed where a seizure is suspected <i>link here to refererence</i>.
                    Situations where an ECG is not indicated include:
                    </p>
                    <li>Child has not had a seizure</li>
                    <li>Child does not have a heart</li>
                    <li>ECG machine is broken or on PICU and they won't lend it to us</li>            
                </div>
            </label>
        </div>
        {% if investigation_management_form.twelve_lead_ecg_status.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.twelve_lead_ecg_status.errors}}
            </div>
        {% endif %}
    </div>
    
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_management_form.ct_head_scan_status }}
            <label>Has a CT Head been performed?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                    NICE guidance states a CT must be considered where a seizure is suspected <i>link here to refererence</i>.
                    Situations where a CT head is not indicated include:
                    </p>
                    <li>Child has not had a seizure</li>
                    <li>Child does not have a head</li>
                    <li>CT machine is broken or radiologist is cross and refuses.</li>
                </div>
            </label>
        </div>
        {% if investigation_management_form.ct_head_scan_status.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.ct_head_scan_status.errors}}
            </div>
        {% endif %}
    </div>
    
    <div class="field">
        <label>When was an MRI performed?
            <i class="question circle icon link" id="investigationsManagementPopup"></i>
            <div class="ui fluid inverted popup top left transition hidden">
                <p>
                NICE guidance states an MRI brain must be considered where a seizure is suspected <i>link here to refererence</i>.
                Situations where an MRI head is not indicated include:
                </p>
                <li>Child has not had a seizure</li>
                <li>Child does not have a head</li>
                <li>MRI machine is on the other side of the UK.</li>
            </div>
        </label>
        <div class="field">{{investigation_management_form.mri_brain_date}}</div>
        {% if investigation_management_form.mri_brain_date.errors %}
        <div class="ui pointing red basic label">
            {{investigation_management_form.mri_brain_date.errors}}
        </div>
        {% endif %}
    </div>

    <h3 class="header">
    Medication Milestones
    </h3>

    <div class="field">
        <label>Type of rescue medicine prescribed
            <i class="question circle icon link" id="investigationsManagementPopup"></i>
            <div class="ui fluid inverted popup top left transition hidden">
                <p>Please document something</p>
            </div>
        </label>
            {{ investigation_management_form.rescue_medicine_type }}
        {% if investigation_management_form.rescue_medicine_type.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.rescue_medicine_type.errors}}
            </div>
        {% endif %}
    </div>
    <div class="field">
        <label>Other documented rescue medicine previously not specified.
            <i class="question circle icon link" id="investigationsManagementPopup"></i>
            <div class="ui fluid inverted popup top left transition hidden">
                <p>Please document something</p>
            </div>
        </label>
            {{ investigation_management_form.rescue_medicine_other }}
        {% if investigation_management_form.rescue_medicine_other.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.rescue_medicine_other.errors}}
            </div>
        {% endif %}
    </div>
    
    <div class="field">
        <div class="ui toggle checkbox">
            {{ investigation_management_form.rescue_medicine_status }}
            <label>Has a rescue medication been prescribed?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                    NICE guidance states rescue medication must be prescribed where a seizure is suspected <i>link here to refererence</i>.
                    Situations where an rescue medication is not indicated include:
                    </p>
                    <li>Child has not had a seizure</li>
                    <li>Pharmacist is too busy</li>
                    <li>Medications are past their sell-by date</li>
                </div>
            </label>
        </div>
        {% if investigation_management_form.rescue_medicine_status.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.rescue_medicine_status.errors}}
            </div>
        {% endif %}
    </div>

    <div class="two fields">
        <div class="field">
            <label>When was rescue medicine started?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                    Medicine start and stop dates should be always documented
                    </p>
                </div>
            </label>
            <div class="field">{{investigation_management_form.rescue_medicine_start_date}}</div>
            {% if investigation_management_form.rescue_medicine_start_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_management_form.rescue_medicine_start_date.errors}}
            </div>
            {% endif %}
        </div>
        <div class="field">
            <label>When was rescue medicine stopped?
                <i class="question circle icon link" id="investigationsManagementPopup"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                    <p>
                    Medicine start and stop dates should be always documented
                    </p>
                </div>
            </label>
            <div class="field">{{investigation_management_form.rescue_medicine_stop_date}}</div>
            {% if investigation_management_form.rescue_medicine_stop_date.errors %}
            <div class="ui pointing red basic label">
                {{investigation_management_form.rescue_medicine_stop_date.errors}}
            </div>
            {% endif %}
        </div>
    </div>

    
    <div class="field">
        <label>Rescue medication additional notes
            <i class="question circle icon link" id="investigationsManagementPopup"></i>
            <div class="ui fluid inverted popup top left transition hidden">
            <p>
                Please add any additional context here if necessary.
            </p>
            </div>
        </label>
            {{ investigation_management_form.rescue_medicine_notes }}
        {% if investigation_management_form.rescue_medicine_notes.errors %}
            <div class="ui pointing red basic label">
                {{ investigation_management_form.rescue_medicine_notes.errors}}
            </div>
        {% endif %}
    </div>
{{investigation_management.pk}}
    <div class="field"
        
        hx-target="#medication_dropdown"
        hx-trigger="keyup"
        hx-swap="innerHTML"
    >
        <input type="text" placeholder="Enter a medication..." name="medication_input"/>
    </div>
    <div id="medication_dropdown"></div>

    <button type="submit" class="ui green button" name="update">Save</button>
    <button type="submit" class="ui red button" name="delete">Delete</button>
    <button type="submit" class="ui blue button">Cancel</button>
</form>