<form class="ui form" method="post">
    {% csrf_token %}
    <h5 class="header">
    Antiepilepsy and rescue medicines
    </h5>
    <div class="field" id="aeds">
        {% include 'epilepsy12/partials/management/antiepilepsy_medicines/antiepilepsy_medicines.html' with management=management antiepilepsy_medicines=antiepilepsy_medicines %}
    </div>
    <div class="field" id="rescue_medicines">
        {% include 'epilepsy12/partials/management/antiepilepsy_medicines/rescue_medicines.html' with management=management rescue_medicines=rescue_medicines %}
    </div>

    <h5 class="header">
    Individualised Care Plan
    </h5>
    <div class="field" id="individualised_care_plan">
        {% include 'epilepsy12/partials/management/individualised_care_plan.html' with management=management %}
    </div>
    
    <h5 class="header">
    Support with Mental health
    </h5>
    <div class="field" id="mental_health_support">
        {% include 'epilepsy12/partials/management/mental_health_support.html' with management=management %}
    </div>
</form>