<form class="ui form" method="post">
    {% csrf_token %}
    <h5 class="header">
    Antiepilepsy and rescue medicines
    </h5>
    <div class="field" id="aeds">
        {% include 'epilepsy12/partials/management/antiepilepsy_medicines/antiepilepsy_medicines.html' with management=management valproate_pregnancy_advice_needs_addressing=valproate_pregnancy_advice_needs_addressing antiepilepsy_medicines=antiepilepsy_medicines %}
    </div>
    <div class="field" id="rescue_medicines">
        {% include 'epilepsy12/partials/management/rescue_medicines.html' with management=management %}
    </div>

    <h5 class="header">
    Individualised Care Plan
    </h5>
    <div class="field" id="individualised_care_plan">
        {% include 'epilepsy12/partials/management/individualised_care_plan.html' with management=management %}
    </div>
</form>