<form class="ui form" method="post">
    {% csrf_token %}
    <h5 class="header">
    Antiepilepsy and rescue medicines
    </h5>
    <div class="field" id="aeds">
        {% include 'epilepsy12/partials/management/aeds.html' with management=management valproate_pregnancy_advice_needs_addressing=valproate_pregnancy_advice_needs_addressing %}
    </div>
    <div class="field" id="rescue_medicines">
        {% include 'epilepsy12/partials/management/rescue_medicines.html' with management=management %}
    </div>
</form>