<form class="ui form" method="post">
    {% csrf_token %}

    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">D</div>
        </div>
        {% include 'epilepsy12/partials/desscribe/description.html' with desscribe=desscribe choices=choices %}
    </div>
    
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">E</div>
        </div>
        {% include 'epilepsy12/partials/desscribe/epilepsy_nonepilepsy_status_dropdown.html' with desscribe=desscribe epilepsy_or_nonepilepsy_status_choices=epilepsy_or_nonepilepsy_status_choices %}
    </div>

    <div class="ui segment">
        <div class="ui header">
            <div class="ui blue circular label">S</div>
        </div>
        <div class="ui form" method="post">
            <div class="field">
                <label>Is there an identifiable epilepsy syndrome?</label>
                <select 
                    class='ui dropdown'
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-post="{% url 'syndrome_select' desscribe_id=desscribe.pk %}" 
                    hx-target="#syndrome_select_result" 
                    hx-trigger="change" 
                    hx-swap="outerHTML"
                    name='syndrome_select'>
                    {% for item in syndrome_selection %}
                        {% if desscribe.syndrome == item.0 %}
                            <option selected value={{item.0}}>{{item.1}}</option>
                        {% else %}
                            <option value={{item.0}}>{{item.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div id="syndrome_select_result"></div>
            </div>
        </div>
        
    </div>
    
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">C</div>
        </div>
        <div class="ui form" method="post">
            <div class='field' >
                <label>What is the cause of this epilepsy?</label>
                <select 
                    class='ui dropdown'
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-post="{% url 'seizure_cause_main' desscribe_id=desscribe.pk %}" 
                    hx-target='#seizure_cause_main_result'
                    hx-trigger='load, change'
                    hx-swap='innerHTML'
                    name='seizure_cause_main'>
                    {% for item in seizure_cause_selection %}
                        {% if desscribe.seizure_cause_main == item.0 %}
                            <option selected value={{item.0}}>{{item.1}}</option>
                        {% else %}
                            <option value={{item.0}}>{{item.1}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="ui message">
                    <div id='seizure_cause_main_result'></div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="ui blue segment">
        <div class="ui header">
            <div class="ui blue circular label">RIBE</div>
        </div>
            
        <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <div class="ui toggle checkbox" 
                name='ribe'
            >
            {% if desscribe.relevant_impairments_behavioural_educational %}
                <input 
                    type="checkbox" 
                    checked 
                    name='ribe'
                    hx-post="{% url 'ribe' desscribe_id=desscribe.id %}" 
                    hx-target="#ribe_result" 
                    hx-trigger="load, change">
            {% else %}
                <input 
                    type="checkbox" 
                    hx-post="{% url 'ribe' desscribe_id=desscribe.id %}" 
                    name='ribe'
                    hx-target="#ribe_result" 
                    hx-trigger="load, change">
            {% endif %}
                <label>Are there any <b><i>r</i></b>elevant <b><i>i</b></i>mpairments: <i><b>b</b></i>ehavioural or <i><b>e</b></i>ducational/<i><b>e</b></i>motional problems?</label>
            </div>
        </div>
        
        <div id="ribe_result"></div>
        
        
    </div>
    

</form>