{% load epilepsy12_template_tags %}
<form class="ui form" method="post">
    {% csrf_token %}

    <div class="ui rcpch_pink segment">

        <span class='desscribe_letters'>
            <div class='ui rcpch_pink circular label'>D</div>
            <div class='ui rcpch_pink circular label'>E</div>
            <div class='ui rcpch_pink circular label'>S</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class="ui rcpch_light_grey circular label">C</div>
            <div class="ui rcpch_light_grey circular label">R</div>
            <div class="ui rcpch_light_grey circular label">I</div>
            <div class="ui rcpch_light_grey circular label">B</div>
            <div class="ui rcpch_light_grey circular label">E</div>                
        </span>
        
        <div class="ui rcpch header">
            <div class='content'>
                Episodes
                <div class='sub header'>
                Description, Epilepsy Status and Seizure type of seizure episodes
                </div>
            </div>
        </div>

        <div class='ui rcpch_info message'>

        A child or young person's epilepsy may comprise one or more episodes. Add or review all episodes, completing the initial D, E, S stages of the DESSCRIBE tool. There must be at least one episode which is considered to be epilepsy for this section to be included.
        </div>

        <div id='episodes' class='fade-out fade-in field'>
            {% include 'epilepsy12/partials/multiaxial_diagnosis/episodes.html' with episodes=episodes there_are_epileptic_episodes=there_are_epileptic_episodes multiaxial_diagnosis=multiaxial_diagnosis %}
        </div>

    </div>

    <div class="ui rcpch_pink segment">

        <span class='desscribe_letters'>
            <div class="ui rcpch_light_grey circular label">D</div>
            <div class="ui rcpch_light_grey circular label">E</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class='ui rcpch_pink circular label'>S</div>
            <div class="ui rcpch_light_grey circular label">C</div>
            <div class="ui rcpch_light_grey circular label">R</div>
            <div class="ui rcpch_light_grey circular label">I</div>
            <div class="ui rcpch_light_grey circular label">B</div>
            <div class="ui rcpch_light_grey circular label">E</div> 
        </span>

        <div class="ui rcpch header">
            <div class='content'>
                Syndrome
                <div class='sub header'>
                Maintain a list of applicable syndromes
                </div>
            </div>
        </div>


        <div class="field" id='syndrome_section'>
            
            {% include 'epilepsy12/partials/multiaxial_diagnosis/syndrome_section.html' with multiaxial_diagnosis=multiaxial_diagnosis %}

        </div>

    </div>


    <div class="ui rcpch_pink segment">

        <span class='desscribe_letters'>
            <div class="ui rcpch_light_grey circular label">D</div>
            <div class="ui rcpch_light_grey circular label">E</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class="ui rcpch_pink circular label">C</div>
            <div class="ui rcpch_light_grey circular label">R</div>
            <div class="ui rcpch_light_grey circular label">I</div>
            <div class="ui rcpch_light_grey circular label">B</div>
            <div class="ui rcpch_light_grey circular label">E</div>
        </span>

        <div class="ui rcpch header">
            <div class='content'>
                    Cause
                <div class='sub header'>
                Has a cause for the epilepsy been identified?
                </div>
            </div>
        </div>

        <div id="epilepsy_cause_section">
            {% include 'epilepsy12/partials/multiaxial_diagnosis/epilepsy_causes/epilepsy_cause_section.html' with multiaxial_diagnosis=multiaxial_diagnosis %}
        </div>

    </div>
    
    <div class="ui rcpch_pink segment">
        
        <span class='desscribe_letters'>
            <div class="ui rcpch_light_grey circular label">D</div>
            <div class="ui rcpch_light_grey circular label">E</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class="ui rcpch_light_grey circular label">S</div>
            <div class="ui rcpch_light_grey circular label">C</div>
            <div class="ui rcpch_pink circular label">R</div>
            <div class="ui rcpch_pink circular label">I</div>
            <div class="ui rcpch_pink circular label">B</div>
            <div class="ui rcpch_pink circular label">E</div>
        </span>

        <div class="ui rcpch header">
            <div class='content'>
                Relevant Impairments (behavioural or education)
                <div class='sub header'>
                Are there any relevant impairments (behavioural or educational)?
                </div>
            </div>
        </div>
        
        <div id='comorbidity_section' class='field'>
            {% include 'epilepsy12/partials/multiaxial_diagnosis/comorbidities/comorbidity_section.html' with comorbidities=comorbidities %}
        </div>

        <div id='mental_health_section' class='field'>
            {% include 'epilepsy12/partials/multiaxial_diagnosis/mental_health_section.html' with multiaxial_diagnosis=multiaxial_diagnosis mental_health_issues_choices=mental_health_issues_choices %}
        </div>
        
    </div>

</form>