<form class="ui form" method="post">
    {% csrf_token %}
    <div class="ui message">
        <h5>Eligibility Criteria</h5>
        <p>The following criteria must <b>all</b> be fulfilled before registering for Epilepsy12</p>
        <ul>
          <li>NHS patient</li>
          <li>Child must have had 2 or more seizures more than 24 hours apart</li>
          <li>Child has an epilepsy diagnosis for another reason</li>
          <li>If the child had a previous EEG or paediatric assessments for similar episode(s) or epilepsy prior to this initial assessment</li>
        </ul>
    </div>
    <div id="registration_date_results">
      {% include 'epilepsy12/partials/registration_dates.html' with case_id=case_id registration=registration %}
    </div>
      
    <div class="field">
      <label>Referring Clinician</label>
      {% if registration %}
        {{registration.referring_clinician}} 
      {% else %}
        <p>Hello</p>
      {% endif %}
    </div>

    <div class="ui grid">
      <div class="six wide column">  
        <div class="ui buttons">
          <button type="submit" class="ui blue button" name="update">Save</button>
          <button type="submit" class="ui red button" name="delete">Delete</button>
          <button type="submit" class="ui basic button">Cancel</button>
        </div>
      </div>
    </div>
      
  </form>