{% load epilepsy12_template_tags %}
<form class="ui form" method="post">
    {% csrf_token %}
    <div class="ui rcpch_important message">

        <h5>Eligibility Criteria</h5>
        <h5>Inclusion</h5>
        <p>The following criteria must <b>ALL</b> be fulfilled to verify registration for Epilepsy12</p>
        <ul>
          <li>Is a patient within NHS England or Wales</li>
          <p><b>AND</b></p>
          <li>Has had a first paediatric assessment* for an episode(s) that was ultimately deemed to be epileptic</li>
          <p><b>AND</b></p>
          <li>Has had two or more epileptic seizure episodes at least 24 hours apart <b>OR</b> diagnosed with epilepsy for any other reason</li>
        </ul> 
        <h5>Exclusion</h5>
        <p>The child or young person has had <b>ONE OR MORE</b> of the following exclusion criteria:</p>
        <ul>
          <li>previously been diagnosed with epilepsy before the first paediatric assessment</li>
          <li>previously had a paediatric assessment for earlier seizure episodes considered to be epileptic</li>
          <li>previously been registered in the Epilepsy12 audit</li>
          <li>has gone on to have ongoing care within the first year of care for their epilepsy provided by adult or non-NHS services by an inpatient our outpatient, hospital or community paediatric service, or a dedicated paediatric team based in ED.</li>
        </ul>
        <p>* paediatric service, or a dedicated paediatric team based in A&E. They should not have been referred or assessed by an adult service/team.</p>
        
          {% if registration.eligibility_criteria_met %}
            {% include 'epilepsy12/partials/registration/is_eligible_label.html' with has_error=False message="Eligibility Criteria Confirmed." %}
          {% else %}
            <div id='eligibility_result'>
              <button 
                class="ui rcpch_primary button" 
                hx-post="{% url 'confirm_eligible' registration_id=registration.pk %}" 
                hx-target='#eligibility_result'
                hx-trigger="click">I confirm all criteria are present
                {% if not perms.epilepsy12.can_register_child_in_epilepsy12 %}
                disabled
                {% endif %}
              </button>
            </div>
          {% endif %}
        
    </div>
    
    <div id="lead_site" class="field">
      {% if not perms.epilepsy12.can_register_child_in_epilepsy12 %}
        {% include 'epilepsy12/partials/registration/lead_site.html' with registration=registration site=site edit=False transfer=False hospital_list=hospital_list show_buttons=False %}
      {% else %}
        {% include 'epilepsy12/partials/registration/lead_site.html' with registration=registration site=site edit=False transfer=False hospital_list=hospital_list show_buttons=True %}
      {% endif %}
    </div>

    <div id="previous_sites" class="ui segment">
        {% include 'epilepsy12/partials/registration/previous_sites.html' with previously_registered_sites=previously_registered_sites registration=registration %}
    </div>

    <div id="registration_date_results">
      {% include 'epilepsy12/partials/registration/registration_dates.html' with case_id=case_id registration=registration %}
    </div>
      
  </form>