<form class="ui form" method="post">
    {% csrf_token %}
    <div class="ui message">
        <h5>Eligibility Criteria</h5>
        <p>The following criteria must <b>all</b> be fulfilled before registering for Epilepsy12</p>
        <ul>
          <li>NHS patient</li>
          <li>Child must have had 2 or more seizures more than 24 hours apart</li>
          <li>Child has an epilepsy diagnosis for another reason</li>
          <li>If the child had a previous EEG or paediatric assessments for similar episode(s) or epilepsy prior to this initial assessment</li>
        </ul>
    </div>
    <div id="registration_date_results">
      {% include 'epilepsy12/partials/registration_dates.html' with case_id=case_id registration=registration %}
    </div>

    <div class="three fields">
      
      <div class="field">
        <label>Referring Clinician</label>
        {% if registration and registration.referring_clinician is not None %}
          <input type="text" placeholder="{{registration.referring_clinician}}"/>
        {% else %}
          {% if registration %}
            <input type="text" placeholder="Enter Surname of referring clinician"/>
          {% else %}
            <input type="text" disabled placeholder="Enter Surname of referring clinician"/>
          {% endif %}
        {% endif %}
      </div>
      
      <div class="field">
        <label>Lead Centre</label>
        {% if registration %}
          <div class="ui input">
            <input placeholder="Search hospitals..." type="text" name="lead_hospital" hx-get="{% url 'lead_centre' registration_id=registration.pk %}" hx-target="#lead_hospital_select" hx-trigger="keyup, load"/>
          </div>
        {% else %}
          <div class="ui input">
            <input disabled placeholder="Search hospitals..." type="text" />
          </div>
        {% endif %}
      </div>

      {% if registration %}
        <div class="field" id="lead_hospital_select">
          <label>Lead Centre</label>
          {% include 'epilepsy12/partials/hospital_list_select.html' with registration_id=registration.pk %}
        </div>
      {% endif %}
    
    </div>
      
  </form>