{% comment %}
    This date field is used in multiple places
    It accepts the following parameters
        hx_post: the url posted to including parameters
        hx_target: the id of the html element to target the server response
        hx_trigger: usually 'change' but can be any event
        label: this is the label text
        date_value: date value
        data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
        input_date_field_name: the name of the input element - should match the field name being updated
    NOTE - in the view, the value of the date can be retrieved by request.POST.get(FIELD_NAME_AS_A_STRING)
{% endcomment %}


    <div class="inline field">
        {% if date_value is None %}
            <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                <i class="rcpch_light_blue dot circle outline icon"></i>
            </span>
        {% else %}
            <i class="rcpch_pink check circle outline icon"></i>
        {% endif %}
        
        <input type="date"
            hx-swap="innerHTML"
            name="{{input_date_field_name}}"
            hx-post="{{hx_post}}" 
            hx-target="{{hx_target}}" 
            hx-trigger="{{hx_trigger}}"
            value="{{date_value|date:'Y-m-d'}}"/>
        <label>{{label}}</label>
    </div>
