{% comment %}
This partial template is a dropdown of all the hospital trusts
It relies on a little bit of jquery unfortunately because that is semantic-ui
On load (in its parent) it triggers a get request with retrieves a filtered list of hospitals_select
and some parameters from it parent partial template.
It's view (which makes the HospitalTrust query, is in views.py)
The parent partial template (either paediatric_neurology or epilepsy_surgery) send parameter is the header
which include the name of the hidden input where the selected hospital id is stored and retrieved
on POST request on button click to which ever view (depending on the hx_url passed in)
Parameters:
hx_name: [paediatric_neurology_centre, epilepsy_surgery_centre]
hx_url: the url complete with parameters to POST
label: received from the parent - text for the button
default_text: placeholder text for the search select dropdown
hx_target: the id of the html element to be replaced 
{% endcomment %}

<div class="field">
    <span>
        <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="top left">
            <i class="blue dot circle outline icon"></i>
        </span>
        <div class="ui compact search selection dropdown">
                <i class="dropdown icon"></i>
                <input type="hidden" name={{hx_name}}>
                <div class="default text">{{default_text}}</div>
                <div class="menu" >
                {% for item in hospital_list %}
                    {% if item.OrganisationName == site.hospital_trust.OrganisationName %}
                        <div class="item" selected='selected' data-value={{item.pk}}>{{item.OrganisationName}}</div>
                    {% else %}
                        <div class="item" data-value={{item.pk}}>{{item.OrganisationName}}</div>
                    {% endif %}
                {% endfor %}
                </div>
        </div>
        <button 
            class="ui tiny positive right attached button"
            hx-post="{{hx_post}}"
            hx-target="{{hx_target}}"
            hx-swap="innerHTML"
            hx-trigger="click"
            name="hospital_trust_button"
        >{{label}}</button>
    </span>
</div>

<script>
$('.ui.dropdown').dropdown();
</script>