{% comment %}
    This is a single choice select which is reused in multiple places.
    Note requires jquery to work.
    This select accepts the following parameters:
        model_instance_id
        hx_editable: edit enabled
        hx_post: the url posted to including parameters
        hx_target: the id of the html element to target the server response
        hx_trigger: usually 'change' but can be any event
        hx_swap: usually 'innerHTML'
        hx_name: the model field to update
        test_positive: the model boolean field 
        label: this is the label text
        hx_default_text: default text of an unselected element
        data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
        hx_editable
        show_buttons - show or hide the edit button
    The chosen value is stored as the name of the button and accessed in the view as request.htmx.trigger_name
    Which choices are selected from is obvious because the endpoint posted to is specific to the choices.
{% endcomment %}

<div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <h5 class="rcpch_plain_label">
                {{label}}
        </h5>

        <div class='ui left icon input'>

            {% if hx_editable %}

                <input 
                    type='text'
                    class="ui input"
                    name={{hx_name}}
                    placeholder="{{hx_default_text}}"
                    value="{{test_positive}}"
                >
            
            {% else %}

                <input 
                    type='text'
                    class="ui input"
                    name='{{hx_name}}'
                    placeholder="{{hx_default_text}}"
                    value="{{test_positive}}"
                    disabled
                >

            {% endif %}

            {% if test_positive %}
                <i class="rcpch_pink check circle outline icon"></i>
            {% else %}
                <i class="rcpch_light_blue dot circle outline icon"></i>
            {% endif %}
    
            {% if show_buttons %}
            
                <div class="ui buttons">
                    {% if hx_editable %}
                        
                        <button 
                            class="ui rcpch_primary button"
                            hx-post="{{hx_post}}"
                            hx-target="{{hx_target}}"
                            hx-swap="{{hx_swap}}"
                            name='{{hx_name}}'
                            hx-trigger="click"
                        >Update {{label}}</button>

                        <button 
                            class="ui rcpch_negative button"
                            hx-post="{% url 'editable' model_instance_id 'disable' %}"
                            hx-target="{{hx_target}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger="click"
                            name='{{hx_name}}'
                        >Cancel</button>

                    {% else %}

                        <button 
                            class="ui rcpch_primary button"
                            hx-post="{% url 'editable' model_instance_id 'enable' %}"
                            hx-target="{{hx_target}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger="click"
                            name='{{hx_name}}'
                        >Edit</button>
                    
                    {% endif %}
                    
                </div>

            {% endif %}

        </div>


</div>