{% comment %}
        This is a single choice multiple option toggle button which is reused in multiple places following
        an audit design decision to constrain as many fields as possible
        to boolean values. This means that each selection has 3 potential values: 
        unselected, true and false. Unselected is important because 
        the epilepsy team want default values to be unselected, 
        encouraging users actively to choose if a given field is true or false.
        This also means that unselected fields can be counted and register that model as incomplete
        This toggle button accepts the following parameters:
            choices: these are the choices available
            hx_post: the url posted to including parameters
            hx_target: the id of the html element to target the server response
            hx_trigger: usually 'click' but can be any event
            hx_swap: usually 'innerHTML'
            test_positive: the model boolean field 
            label: this is the label text
            data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
            enabled: this is only true if view_only groups are seeing the form
        The chosen value is stored as the name of the button and accessed in the view as request.htmx.trigger_name
        Which choices are selected from is obvious because the endpoint posted to is specific to the choices.
    {% endcomment %}
        {% load epilepsy12_template_tags %}

        <label class="toggle_button_label">{{label}}</label>
        <div class="field multiple_toggle_buttons_wrapper" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                {% if test_positive is None %}
                    
                        <div class="column">
                            {% for choice in choices %}
                                <div
                                    {% if enabled %}
                                        class="ui   rcpch_dark_blue button"
                                    {% else %}
                                        class="ui  rcpch_dark_blue disabled button"
                                    {% endif %}
                                    hx-target="{{hx_target}}"
                                    hx-post="{{hx_post}}"
                                    hx-swap="{{hx_swap}}"
                                    hx-trigger='{{hx_trigger}}'
                                    name="{{choice.0}}"
                                >
                                {{choice.1}}
                                </div>
                            {% endfor %}
                        </div>

                        
                {% else %}
                

                        {% for choice in choices %}
                                {% match_two_values test_positive choice.0 as match %}
                                {% if match %}
                           
                                        <button
                                            class="ui  positive rcpch_dark_blue button"
                                        >{{choice.1}}</button>
                                    
                                {% else %}

                                            <button
                                                {% if enabled %}
                                                    class="ui  rcpch_dark_blue button"
                                                {% else %}
                                                    class="ui  disabled rcpch_dark_blue button"
                                                {% endif %}
                                                hx-target="{{hx_target}}"
                                                hx-post="{{hx_post}}"
                                                hx-swap="{{hx_swap}}"
                                                hx-trigger='{{hx_trigger}}'
                                                name="{{choice.0}}"
                                            >{{choice.1}}
                                            <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                                            </button>


                                {% endif %}
                            {% endfor %}


                {% endif %}
            
        </div>
        {% if not enabled %}
            <div class='ui rcpch_warning basic label'>You do not have permission to update this field</div>
        {% endif %}

    