{% comment %}
        This is a single choice multiple option toggle button which is reused in multiple places following
        an audit design decision to constrain as many fields as possible
        to boolean values. This means that each selection has 3 potential values: 
        unselected, true and false. Unselected is important because 
        the epilepsy team want default values to be unselected, 
        encouraging users actively to choose if a given field is true or false.
        This also means that unselected fields can be counted and register that model as incomplete
        This toggle button accepts the following parameters:
            choices: these are the choices available
            hx_post: the url posted to including parameters
            hx_target: the id of the html element to target the server response
            hx_trigger: usually 'click' but can be any event
            hx_swap: usually 'innerHTML'
            test_positive: the model boolean field
            tooltip_id: the nname of the field to update with the suffix _tooltip
            label: this is the label text (passed in from the model help label text)
            reference: this is the reference text (passed in from the model help reference text)
            data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
            enabled: this is only true if view_only groups are seeing the form
        The chosen value is stored as the name of the button and accessed in the view as request.htmx.trigger_name
        Which choices are selected from is obvious because the endpoint posted to is specific to the choices.
    {% endcomment %}

    
        <h5 class="toggle_button_label">
            {{label}}
            
                <span
                    id="{{tooltip_id}}"
                    data-title="Reference"
                    data-content="{{reference}}"
                    data-position="{{data_position}}"
                    data-variation="basic"
                    _="init js $('#{{tooltip_id}}').popup(); end"
                    >
                    <i class="rcpch question circle icon"></i>
                </span>

        </h5>
        <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <span>
                {% if test_positive is None %}
                    <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                        <i class="rcpch_light_blue dot circle outline icon"></i>
                    </span>
                    <div class="ui rcpch_dark_blue buttons">
                        {% for choice in choices %}
                            <div 
                                {% if enabled %}
                                    class="ui mini compact rcpch_dark_blue button"
                                {% else %}
                                    class="ui mini compact rcpch_dark_blue disabled button"
                                {% endif %}
                                hx-target="{{hx_target}}"
                                hx-post="{{hx_post}}"
                                hx-swap="{{hx_swap}}"
                                hx-trigger='{{hx_trigger}}'
                                name="{{choice.0}}"
                            >
                            {{choice.1}}
                            </div>
                        {% endfor %}
                    </div>
                       

                {% elif test_positive %}
                        
                        <i class="rcpch_pink check circle outline icon"></i>
                        
                        <div class="ui rcpch_dark_blue buttons">
                            {% for choice in choices %}
                                {% if choice.0 == test_positive %}
                                    <div 
                                        {% if enabled %}
                                            class="ui mini compact positive rcpch_dark_blue button"
                                        {% else %}
                                            class="ui mini compact positive rcpch_dark_blue disabled button"
                                        {% endif %}
                                    >{{choice.1}}</div>
                                {% else %}
                                    <div 
                                        {% if enabled %}
                                            class="ui mini compact rcpch_dark_blue button"
                                        {% else %}
                                            class="ui mini compact rcpch_dark_blue disabled button"
                                        {% endif %}
                                        hx-target="{{hx_target}}"
                                        hx-post="{{hx_post}}"
                                        hx-swap="{{hx_swap}}"
                                        hx-trigger='{{hx_trigger}}'
                                        name="{{choice.0}}"
                                    >{{choice.1}}
                                    <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                {% else %}
                    <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                        <i class="rcpch_light_blue dot circle outline icon"></i>
                    </span>
                    
                    <div class="ui rcpch_dark_blue buttons">
                        {% for choice in choices %}
                            {% if choice == test_positive %}
                                <div 
                                    class="ui mini compact positive rcpch_dark_blue button"
                                >{{choice}}</div>
                            {% else %}
                                <div 
                                    {% if enabled %}
                                        class="ui mini compact rcpch_dark_blue button"
                                    {% else %}
                                        disabled
                                        class="ui mini compact disabled rcpch_dark_blue button"
                                    {% endif %}
                                    hx-target="{{hx_target}}"
                                    hx-post="{{hx_post}}"
                                    hx-swap="{{hx_swap}}"
                                    hx-trigger='{{hx_trigger}}'
                                    name="{{choice.0}}"
                                >{{choice.1}}
                                <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </span>
            {% if error_message %}
            <div class='ui rcpch message'>
                {{error_message}}
            </div>
            {% endif %}
        </div>

    