{% load epilepsy12_template_tags %}
{% comment %}
        This is a single choice select which is reused in multiple places.
        Note requires jquery to work.
        This select accepts the following parameters:
            choices: these are the choices available
            hx_post: the url posted to including parameters
            hx_target: the id of the html element to target the server response
            hx_trigger: usually 'change' but can be any event
            hx_swap: usually 'innerHTML'
            hx_name: the model field to update
            test_positive: the model boolean field 
            label: this is the label text
            hx_default_text: default text of an unselected element
            data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
        The chosen value is stored as the name of the button and accessed in the view as request.htmx.trigger_name
        Which choices are selected from is obvious because the endpoint posted to is specific to the choices.
    {% endcomment %}
    <label class="rcpch_plain_label">
        {{label}}
    </label>
    <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <span>

            {% if disabled %}
                <div class="ui rcpch_light_blue search selection fluid disabled dropdown">
            {% else %}
                <div class="ui rcpch_light_blue search selection fluid dropdown">
            {% endif %}
                    {% if test_positive %}
                        <i class="rcpch_pink check circle outline icon"></i>
                    {% else %}
                        <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="top left">
                            <i class="rcpch_light_blue dot circle outline icon"></i>
                        </span>
                    {% endif %}
                    <i class="dropdown icon"></i>
                    <input type="hidden" 
                        name='{{hx_name}}'
                        hx-post="{{hx_post}}"
                        hx-target="{{hx_target}}"
                        hx-swap="{{hx_swap}}"
                        hx-trigger="{{hx_trigger}}"
                        value="{{test_positive}}"
                    >
                    <div class="default text">{{hx_default_text}}</div>
                    <div class="menu" >
                        {% for item in choices %}
                            <div class="item" data-value="{{item.conceptId}}">{{item.preferredTerm}}</div>
                        {% endfor %}
                    </div>
            </div>

        </span>

    </div>

<script>
    $('.ui.rcpch_light_blue.selection.dropdown').dropdown();
</script>