
    {% comment %}
        This is a toggle button which is reused in multiple places following
        an audit design decision to constrain as many fields as possible
        to boolean values. This means that each question has 3 potential values: 
        unselected, true and false. Unselected is important because 
        the epilepsy team want default values to be unselected, 
        encouraging users actively to choose if a given field is true or false.
        This also means that unselected fields can be counted and register that model as incomplete
        This toggle button accepts the following parameters:
            hx_post: the url posted to including parameters
            hx_target: the id of the html element to target the server response
            hx_trigger: usually 'click' but can be any event
            hx_swap: usually 'innerHTML'
            test_positive: the model boolean field 
            label: this is the label text
            data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
    {% endcomment %}

    
        <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
            <span>
                {% if test_positive is None %}
                    <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                        <i class="blue dot circle outline icon"></i>
                    </span>
                    <div class="ui buttons">
                            <div 
                                class="ui mini compact button"
                                hx-target="{{hx_target}}"
                                hx-post="{{hx_post}}"
                                hx-swap="{{hx_swap}}"
                                hx-trigger='{{hx_trigger}}'
                                name="button-true"
                            >
                            Yes
                            </div>
                            <div 
                                class="ui mini compact button"
                                hx-target="{{hx_target}}"
                                hx-post="{{hx_post}}"
                                hx-swap="{{hx_swap}}"
                                hx-trigger='{{hx_trigger}}'
                                name="button-false"
                            >
                            No
                            </div>
                    </div>
                       

                {% elif test_positive %}
                        
                        <i class="green check circle outline icon"></i>
                        <div class="ui fluid inverted popup top left transition hidden">
                        Completed field.
                        </div>
                        <div class="ui buttons">
                            <div 
                                class="ui mini compact positive button"
                            >
                            Yes
                            </div>
                            <div 
                                class="ui mini compact button"
                                hx-target="{{hx_target}}"
                                hx-post="{{hx_post}}"
                                hx-swap="{{hx_swap}}"
                                hx-trigger='{{hx_trigger}}'
                                name="button-false"
                            >
                            No
                            </div>
                        </div>
                        
                {% else %}
                    <i class="green check circle outline icon"></i>
                    <div class="ui fluid inverted popup top left transition hidden">
                    Completed field.
                    </div>
                    <div class="ui buttons">
                        <div 
                            class="ui mini compact button"
                            hx-target="{{hx_target}}"
                            hx-post="{{hx_post}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger='{{hx_trigger}}'
                            name="button-true"
                        >
                        Yes
                        </div>
                        <div 
                            class="ui mini compact button positive"
                        >No</div>
                    </div>
                {% endif %}
                <span>
                    <label class="toggle_button_label">{{label}}</label>
                </span>
            </span>
        </div>

    