
    {% comment %}
        This is a toggle button which is reused in multiple places following
        an audit design decision to constrain as many fields as possible
        to boolean values. This means that each question has 3 potential values: 
        unselected, true and false. Unselected is important because 
        the epilepsy team want default values to be unselected, 
        encouraging users actively to choose if a given field is true or false.
        This also means that unselected fields can be counted and register that model as incomplete
        This toggle button accepts the following parameters:
            hx_post: the url posted to including parameters
            hx_target: the id of the html element to target the server response
            hx_trigger: usually 'click' but can be any event
            hx_swap: usually 'innerHTML'
            tooltip_id: this is the name of the field to update
            test_positive: the model boolean field 
            label: this is the label text pulled in from the the model help text
            reference: this is the reference text pulled in from the the model help text
            data_position: this is the position of the popup label (js independent) ['top left', 'top center', 'top right', 'bottom left', 'bottom center', 'bottom right', 'right center', 'left center']
            enabled: buttons are disabled if users have view-only access
    {% endcomment %}
    
    <h5 class="toggle_button_label">
        {{label}}&nbsp;
            
        <span
            id="{{tooltip_id}}"
            data-title="Reference"
            data-content="{{reference}}"
            data-position="{{data_position}}"
            data-variation="basic"
            _="init js $('#{{tooltip_id}}').popup(); end"
            >
            <i class="rcpch question circle icon"></i>
        </span>
        
    </h5>
    <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <span>
            {% if test_positive is None %}
                <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                    <i class="rcpch_light_blue dot circle outline icon"></i>
                </span>
                <div class="ui rcpch_dark_blue buttons">
                        <div
                            {% if enabled %} 
                                class="ui mini compact rcpch_dark_blue button"
                            {% else %}
                                class="ui mini compact rcpch_dark_blue disabled button"
                            {% endif %}
                            hx-target="{{hx_target}}"
                            hx-post="{{hx_post}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger='{{hx_trigger}}'
                            name="button-true"
                        >
                        Yes
                        </div>
                        <div 
                            {% if disabled %} 
                                class="ui mini compact rcpch_dark_blue disabled button"
                            {% else %}
                                class="ui mini compact rcpch_dark_blue button"
                            {% endif %}
                            hx-target="{{hx_target}}"
                            hx-post="{{hx_post}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger='{{hx_trigger}}'
                            name="button-false"
                        >
                        No
                        <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                        </div>
                </div>
                    

            {% elif test_positive %}
                    
                    <i class="rcpch_pink check circle outline icon"></i>
                    <div class="ui fluid inverted popup top left transition hidden">
                    Completed field.
                    </div>
                    <div class="ui rcpch_dark_blue buttons">
                        <div 
                            class="ui mini compact positive rcpch_dark_blue button"
                        >
                        Yes
                        </div>
                        <div 
                            {% if enabled %} 
                                class="ui mini compact rcpch_dark_blue button"
                            {% else %}
                                class="ui mini compact rcpch_dark_blue disabled button"
                            {% endif %}
                            hx-target="{{hx_target}}"
                            hx-post="{{hx_post}}"
                            hx-swap="{{hx_swap}}"
                            hx-trigger='{{hx_trigger}}'
                            name="button-false"
                        >
                        No
                        <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                        </div>
                    </div>
                    
            {% else %}
                <i class="rcpch_pink check circle outline icon"></i>
                <div class="ui fluid inverted popup top left transition hidden">
                Completed field.
                </div>
                <div class="ui buttons">
                    <div 
                        {% if enabled %} 
                            class="ui mini compact rcpch_dark_blue button"
                        {% else %}
                            class="ui mini compact rcpch_dark_blue disabled button"
                        {% endif %}
                        hx-target="{{hx_target}}"
                        hx-post="{{hx_post}}"
                        hx-swap="{{hx_swap}}"
                        hx-trigger='{{hx_trigger}}'
                        name="button-true"
                    >
                    Yes
                    <i class="htmx-indicator spinner loading icon" id="spinner"></i>
                    </div>
                    <div 
                        {% if enabled %} 
                            class="ui mini compact rcpch_dark_blue positive button"
                        {% else %}
                            class="ui mini compact rcpch_dark_blue disabled button"
                        {% endif %}
                    >No</div>
                </div>
            {% endif %}
            
        </span>
        {% if error_message %}
        <div class='ui rcpch message'>
            {{error_message}}
        </div>
        {% endif %}
    </div>

    