{% comment %}
<div class="two fields">
    <div class="field">
        <label>Antiepilepsy Medicines</label>
        {% if perms.change_antiepilepsymedicine %}
        <select class="ui search dropdown" name="selected_antiepilepsy_medicine">
        {% else %}
        <select class="ui search disabled dropdown" name="selected_antiepilepsy_medicine">
        {% endif %}
            {% for item in items %}
                <option value="{{item.conceptId}}">{{item.term}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label>Action</label>
        <div 
            class="ui button"
            hx-post="{% url 'save_selected_antiepilepsy_medicine' management_id=management_id %}"
            hx-trigger="click"
            hx-target="#antiepilepsy_medicine_list"
            hx-swap="outerHTML"
        >Save Medicine</div>
    </div>
</div>
{% endcomment %}
{% url 'save_selected_antiepilepsy_medicine' management_id=management_id as hx_post %}
{% include 'epilepsy12/partials/page_elements/snomed_select.html' with choices=snomed_items hx_post hx_target='#antiepilepsy_medicine_list' hx_trigger='change' hx_swap='innerHTML' hx_name='save_selected_antiepilepsy_medicine' test_positive= label hx_default_text data_position %}