{% load epilepsy12_template_tags %}
<div class="ui segment">

    {% url 'has_rescue_medication_been_prescribed' management_id=management.pk as hx_post %}
    {% if perms.epilepsy12.change_management %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_rescue_medication_been_prescribed hx_post=hx_post hx_swap="innerHTML" hx_target="#rescue_medicines" hx_trigger="click" label=management.get_has_rescue_medication_been_prescribed_help_label_text reference=management.get_has_rescue_medication_been_prescribed_help_reference_text disabled=False %}
    {% else %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=management.has_rescue_medication_been_prescribed hx_post=hx_post hx_swap="innerHTML" hx_target="#rescue_medicines" hx_trigger="click" label=management.get_has_rescue_medication_been_prescribed_help_label_text reference=management.get_has_rescue_medication_been_prescribed_help_reference_text disabled=True %}
    {% endif %}

    {% if management.has_rescue_medication_been_prescribed %}
        <div id='rescue_medicine_list'>
            {% include 'epilepsy12/partials/management/antiepilepsy_medicines/antiepilepsy_medicine_list.html' with management_id=management.pk medicines=rescue_medicines is_rescue_medicine=True %}
        </div>
    {% endif %}

</div>