

<div class="ui pink message" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="ui rcpch_pink segment">
        <div class='field'>
            <h5 class="ui header">
                <div class='content'>
                    When
                    <div class='sub header'>
                    When was the comorbidity diagnosed?
                    </div>
                </div>
            </h5>
        </div>
        <div class="field">
            {% url 'comorbidity_diagnosis_date' comorbidity_id=comorbidity.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target='#comorbidities' hx_trigger='change delay:1s' hx_swap="innerHTML" date_value=comorbidity.comorbidity_diagnosis_date label=comorbidity.get_comorbidity_diagnosis_date_help_label_text reference=comorbidity.get_comorbidity_diagnosis_date_help_reference_text input_date_field_name='comorbidity_diagnosis_date' enabled=perms.epilepsy12.change_comorbidity has_permission=perms.epilepsy12.change_comorbidity %}
        </div>
        {% if error_message %}
            <div class='ui rcpch_warning message'>
                {{ error_message }}
            </div>
        {% endif %}

        <div class="field">
            {% url 'comorbidity_diagnosis' comorbidity_id=comorbidity.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select_model.html' with choices=comorbidity_choices hx_post=hx_post hx_target="#comorbidities" hx_trigger='change' hx_swap="innerHTML" hx_name='comorbidityentity' field_name='preferredTerm' field_name2='term' hx_default_text="Select a comorbidity..." test_positive=comorbidity.comorbidityentity.pk label=comorbidity.get_comorbidity_diagnosis_help_label_text reference=comorbidity.get_comorbidity_diagnosis_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_comorbidity %}
        </div>

        <div class='field'>
            <button class='ui rcpch_primary button'
                hx-trigger='click'
                hx-post='{% url "close_comorbidity" comorbidity_id=comorbidity.pk %}'
                hx-swap='innerHTML swap:500ms'
                name='comorbidity_return'
                hx-target='#comorbidities'
            >
            Comorbidity entry complete for {{comorbidity.multiaxial_diagnosis.registration.case}}
            </div>
        </div>

    </div>
    
    

</div>