{% load epilepsy12_template_tags %}
<div>
    {% if comorbidities|length > 0 %}
        <table class="ui rcpch basic table">
            <thead>
                <tr>
                    <th>Diagnosis Date</th>
                    <th>Comorbidity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for comorbidity in comorbidities %}
            <tr>
                <td>
                    {% if comorbidity.comorbidity_diagnosis_date and comorbidity.comorbidityentity.conceptId %}
                        <i class="rcpch_pink check circle outline icon"></i>
                    {% endif %}
                    {% if comorbidity.comorbidity_diagnosis_date %}
                        {{comorbidity.comorbidity_diagnosis_date}}
                    {% else %}
                        <span data-tooltip="Incomplete field. This must be scored to complete the record." data-inverted="" data-position="top left">
                            <i class="rcpch_light_blue dot circle outline icon"></i>
                        </span>
                        None
                    {% endif %}
                </td>
                <td>
                    {% if comorbidity.comorbidityentity %}
                        {{comorbidity.comorbidityentity.preferredTerm}} ({{comorbidity.comorbidityentity.term }})
                    {% else %}
                        <span data-tooltip="Incomplete field. This must be scored to complete the record." data-inverted="" data-position="top left">
                            <i class="rcpch_light_blue dot circle outline icon"></i>
                        </span>
                        None
                    {% endif %}
                </td>
                <td>
                    <div 
                        class="ui rcpch_light_blue buttons">
                        <button 
                            {% if not perms.epilepsy12.change_comorbidity %}
                                class="ui rcpch_primary disabled button"
                            {% else %}
                                class="ui rcpch_primary button"
                            {% endif %}
                            hx-post='{% url "edit_comorbidity" comorbidity_id=comorbidity.pk %}'
                            hx-target='#comorbidities'
                            hx-trigger='click'
                            hx-swap='innerHTML'
                        >
                            Edit
                        </button>
                        <button
                            {% if not perms.epilepsy12.delete_comorbidity %}
                                class="ui rcpch_red icon disabled button"
                            {% else %}
                                class="ui rcpch_red icon button"
                            {% endif %}
                            hx-post='{% url "remove_comorbidity" comorbidity_id=comorbidity.pk %}'
                            hx-target='#comorbidities'
                            hx-trigger='click'
                            hx-swap='innerHTML'
                        >
                            <i class='trash alternate outline icon'></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class='field'>
            <span data-tooltip="Incomplete field. This must be scored to complete the record." data-inverted="" data-position="top left">
                <i class="rcpch_light_blue dot circle outline icon"></i>
            </span>
            There are no documented comorbidities so far...
        </div>
    {% endif %}
    <div class='field'>
        <button
            {% if not perms.epilepsy12.add_comorbidity %}
            class="ui rcpch_primary disabled button"
            {% else %}
            class="ui rcpch_primary button"
            {% endif %}
            hx-post="{% url 'add_comorbidity' multiaxial_diagnosis_id=multiaxial_diagnosis.pk %}"
            hx-target="#comorbidities"
            hx-swap='innerHTML swap:500ms settle:500ms'
            hx-trigger='click'
        >
        Add a new Comorbidity
        </button>
    </div>
</div>
{% if not perms.epilepsy12.add_comorbidity or not perms.epilepsy12.change_comorbidity or not perms.epilepsy12.delete_comorbidity %}
    <small class='rcpch_warning_label'>{% permission_text perms.epilepsy12.add_comorbidity perms.epilepsy12.change_comorbidity perms.epilepsy12.delete_comorbidity 'comorbidities' %}</small>
{% endif %}