{% extends "base.html" %}  {% block content %}

<h5 class="ui top attached inverted header" id="cases_list_segment_header">
  Children and Young People
</h5>
<div class="ui raised attached segment" id="cases_list_segment">
  <div id="case_table">
    {% include '../partials/case_table.html' with case_list=case_list paginated=paginated %}
  </div>
  <hr />
  <div class="ui grid">
    
      <div class="twelve wide column">
          <a href="{% url 'create_case'%}"><button class="ui button" id="action_button">Add a new Child/Young Person</button></a>
          
          <div class="ui icon input" data-tooltip="Start typing to Filter by name or NHS Number.">
            <input type="text" class="prompt" placeholder="Search..." name='filtered_case_list' hx-target="#case_table" hx-trigger="keyup" hx-get="{% url 'filter_case_list' %}" hx-swap="innerHTML">
            <i class="inverted circular search link icon"></i>
          </div>
          
          
      </div>
      
      <div class="four wide column">
          <div class="ui two mini statistics">
            <div class="blue statistic">
              <div class="value">
                {{total_cases}}
              </div>
              <div class="label">
                Total
              </div>
            </div>
            <div class="blue statistic">
              <div class="value">
                {{total_registrations}}
              </div>
              <div class="label">
                Registered
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="ui bottom attached rcpch_footer message">
  <i class="warning info circle icon"></i>
  These are all the children and young people registered in all audits since 2022.
</div>
{% endblock %}