{% url 'unknown_postcode' hospital_id=hospital_id as hx_post %}
{% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=choices hx_post=hx_post hx_target='#unknown_postcode' hx_name='unknown_postcode'  hide_completion_fields=True enabled=perms.epilepsy12.create_case test_positive=test_positive hx_swap='innerHTML' %}
<input 
    value="{{test_positive}}" 
    name="unknown_postcode"
    hidden
    {% if test_positive %}
        _="on load set id_postcode.value to '{{test_positive}}'"
    {% endif %}
/>