h1, h2, h3 {
    color: black;
}

.card .image{
    background: black !important;
    padding: 40px;
}

.icon{
    text-align:center;
}

.ui.button {
    background-color: #11a7f2;
}
.ui.button:hover {
    background-color: #3366cc;
}
.icon {
    color: #47a7ec;
}

#logo {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    display: block;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }