{% load epilepsy12_template_tags %}
<div class='field'>
    {% url 'date_of_first_paediatric_assessment' first_paediatric_assessment_id=first_paediatric_assessment.pk as hx_post %}
    {% if perms.epilepsy12.change_first_paediatric_assessment %}
        {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target='#date_of_first_paediatric_assessment' hx_trigger='change' label='What is the date of the first paediatric assessment?' date_value=first_paediatric_assessment.date_of_first_paediatric_assessment data_position='top left' input_date_field_name='date_of_first_paediatric_assessment' disabled=False %} 
    {% else %}
        {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target='#date_of_first_paediatric_assessment' hx_trigger='change' label='What is the date of the first paediatric assessment?' date_value=first_paediatric_assessment.date_of_first_paediatric_assessment data_position='top left' input_date_field_name='date_of_first_paediatric_assessment' disabled=True %}
    {% endif %}
</div>