{% load epilepsy12_template_tags %}
<form class='ui form'>

  <div class='field' >

        {% url 'general_paediatrics_referral_made' first_paediatric_assessment_id=first_paediatric_assessment.pk as hx_post %}
        {% if perms.epilepsy12.change_first_paediatric_assessment %}
          {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#general_paediatrics_referral_made' hx_trigger='click' hx_swap='innerHTML' test_positive=first_paediatric_assessment.general_paediatrics_referral_made label='Has a referral to general paediatrics been made?' data_position='top left' disabled=False %}
        {% else %}
          {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#general_paediatrics_referral_made' hx_trigger='click' hx_swap='innerHTML' test_positive=first_paediatric_assessment.general_paediatrics_referral_made label='Has a referral to general paediatrics been made?' data_position='top left' disabled=True %}
        {% endif %}

  </div>

  {% if first_paediatric_assessment.general_paediatrics_referral_made %}

    <div id='date_of_referral_to_general_paediatrics' class='field'>
        {% include 'epilepsy12/partials/first_paediatric_assessment/date_of_referral_to_general_paediatrics.html' with first_paediatric_assessment=first_paediatric_assessment %}
    </div>

  {% endif %}

</form>