<form class="ui form">
    {% url 'epilepsy_or_nonepilepsy_status' desscribe_id=desscribe.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=epilepsy_or_nonepilepsy_status_choices hx_post=hx_post hx_target="#epilepsy_or_nonepilepsy_status" hx_trigger="click" hx_swap="innerHTML" test_positive=desscribe.epilepsy_or_nonepilepsy_status label="Is a diagnosis of epilepsy definite, or uncertain?" data_position="top left" %}

    {% if desscribe.epilepsy_or_nonepilepsy_status == 'E' %}
        <div id="epilepsy" class="field">
            {% include 'epilepsy12/partials/desscribe/epilepsy.html' with desscribe=desscribe epileptic_seizure_onset_types=epileptic_seizure_onset_types epilepsy_generalised_onset_types=epilepsy_generalised_onset_types focal_epilepsy_motor_manifestations=focal_epilepsy_motor_manifestations focal_epilepsy_nonmotor_manifestations=focal_epilepsy_nonmotor_manifestations focal_epilepsy_eeg_manifestations=focal_epilepsy_eeg_manifestations %}
        </div>
    {% elif desscribe.epilepsy_or_nonepilepsy_status == 'NE'%}
        <div id="nonepilepsy" class="field">
            {% include 'epilepsy12/partials/desscribe/nonepilepsy.html' with desscribe=desscribe nonepilepsy_generalised_onset_types=nonepilepsy_generalised_onset_types %}
        </div>
    {% else %}
        <div class="ui warning message">
            <h5>Epilepsy Diagnosis Unclear</h5>
            <p>Data collected will not be included in reporting against national epilepsy standards</p>
        </div>
    {% endif %}
</div>