
    <div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="sixteen wide field">
        {% url 'epilepsy_onset_changed' desscribe_id=desscribe_id as EPILEPSY_ONSET_URL %}
        <label>How best would describe the <i>onset</i> of the epileptic episode?</label>
        <select class="ui dropdown" hx-trigger='load, change' name='epilepsy_onset_changed' hx-post={{EPILEPSY_ONSET_URL}} hx-target="#epilepsy_onset_results" hx-swap="innerHTML">
            {% for item in epilepsy_onset_types %}
                <option value={{item.0}}>{{item.1}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <div hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="epilepsy_onset_results"></div>
    </div>