{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ui rcpch container">

        <div class='ui top attached rcpch_dark_blue clearing segment'>
        
            <h5 class="ui left floated header">
                Epilepsy12 Users
            </h5>
            
            <div id='epilepsy12_user_list_view_preference'>
                {% include 'epilepsy12/partials/cases/view_preference.html' with organisation=organisation test_positive=request.user.view_preference rcpch_choices=rcpch_choices template_name='epilepsy12_user_list' hx_target='#epilepsy12_user_list_view_preference' %}
            </div>
            
        </div>

        <div class="ui raised attached segment">
            <div class="ui grid">
                
                <div class="twelve wide column">
    
                    <a href="{% url 'create_epilepsy12_user' organisation_id=organisation.pk %}"><button class="ui rcpch_primary button">Add a new User to {{organisation.OrganisationName}}</button></a>
                    
                    <div class="ui rcpch icon input" data-tooltip="Start typing to Filter by name or NHS Number.">
                        <input type="text" class='prompt' placeholder="Search..." name='filtered_epilepsy12_user_list' hx-target="#epilepsy12_user_table" hx-trigger="keyup" hx-get="{% url 'filtered_epilepsy12_user_list' organisation_id=organisation.pk %}" hx-swap="innerHTML">
                        <i class="ui rcpch_light_blue circular search link icon"></i>
                    </div>
                    
                </div>
                
                {% comment %} <div class="four wide column" id='case_statistics'>
                    {% include 'epilepsy12/partials/cases/case_statistics.html' with organisation=organisation total_cases=total_cases total_registrations=total_registrations %}
                </div> {% endcomment %}
            </div>
            <div id="epilepsy12_user_table">
                {% include 'registration/user_management/epilepsy12_user_table.html' with epilepsy12_user_list=epilepsy12_user_list paginated=paginated organisation=organisation %}
            </div>
        
        </div>
        <div class="ui bottom attached rcpch_footer message">
        <i class="warning info circle icon"></i>
        These are all users registered to Epilepsy12.
        </div>

    </div>
{% endblock %}