
.card .image{
    background: black !important;
    padding: 40px;
}
    
.icon{
    text-align:center;
}

.ui.button {
    background-color: #11a7f2;
}
.ui.button:hover {
    background-color: #3366cc;
}
.icon {
    color: #47a7ec;
}