
.card .image{
    background: black !important;
    padding: 40px;;
}

.icon{
    text-align:center;
}

.ui.button {
    background-color: #11a7f2;
}
.ui.button:hover {
    background-color: #3366cc;
}
.icon {
    color: #47a7ec;
}

@media (min-height: 320px) {
    .ui.footer.page { /* Increased specificity for SO snippet priority */
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      padding: 10px;
      text-align: left;
    }
  }