<form class="ui form">
  <div class="ui rcpch_important message">
    Optional Question - Please include a freehand description of each episode as recorded in the patient notes, using as much detail as you can (2000 character max).
    Key words with an agreed ILAE meaning will be automatically labelled and facilitate future word analyses to help broaden ILAE description lists.
  </div>

  <div
    class="field"
    hx-post="{% url 'edit_description' episode_id=episode.pk %}"
    hx-target="#description_results"
    hx-swap="innerHTML"
    hx-trigger="keyup"
  >
    <div class="ui left icon input">

      <textarea
        {% if not perms.epilepsy12.change_multiaxialdiagnosis %}
        disabled
        {% endif %}
        type="text"
        class="ui rcpch textarea"
        rows="3"
        maxlength="2000"
        name="description"
        placeholder="While watching television {{episode.multiaxial_diagnosis.registration.case}} fell to the floor... "
      >
{{episode.description}}</textarea
      >
    </div>

    {% if not perms.epilepsy12.change_multiaxialdiagnosis %}
    <small class="rcpch_warning_label"
      >You do not have permission to update this field</small
    >
    {% endif %}
  </div>

  <div id="description_results">
    {% include 'epilepsy12/partials/multiaxial_diagnosis/description_labels.html' with episode=episode %}
  </div>
</form>
