{% url 'epileptic_seizure_onset_type' episode_id=episode.pk as hx_post %}
{% if perms.epilepsy12.change_multiaxialdiagnosis %}
    {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=epileptic_seizure_onset_types hx_post=hx_post hx_target="#epilepsy" hx_trigger="click" hx_swap="innerHTML" test_positive=episode.epileptic_seizure_onset_type label=episode.get_epileptic_seizure_onset_type_help_label_text reference=episode.get_epileptic_seizure_onset_type_help_reference_text data_position="top left" disabled=False %}
{% else %}
    {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=epileptic_seizure_onset_types hx_post=hx_post hx_target="#epilepsy" hx_trigger="click" hx_swap="innerHTML" test_positive=episode.epileptic_seizure_onset_type label=episode.get_epileptic_seizure_onset_type_help_label_text reference=episode.get_epileptic_seizure_onset_type_help_reference_text data_position="top left" disabled=True %}
{% endif %}


{% if episode.epileptic_seizure_onset_type == 'GO' %}
    <h5>Generalised Onset Epilepsy</h5>
    <div id="generalised_epilepsy" class="field">
        {% include 'epilepsy12/partials/multiaxial_diagnosis/generalised_onset_epilepsy.html' with episode=episode  %}
    </div>
{% elif episode.epileptic_seizure_onset_type == 'FO' %}
    <h5>Focal Onset Epilepsy</h5>
    <div id="focal_epilepsy">
        {% include 'epilepsy12/partials/multiaxial_diagnosis/focal_onset_epilepsy.html' with episode=episode FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS=FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS=FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS FOCAL_EPILEPSY_EEG_MANIFESTATIONS=FOCAL_EPILEPSY_EEG_MANIFESTATIONS %}
    </div>
{% elif episode.epileptic_seizure_onset_type == 'UC' %}
    <div class="ui message">
        <h3>Unclassified Onset Epilepsy</h3>
        <p>This epilepsy cannot be classified.</p>
    </div>
{% elif episode.epileptic_seizure_onset_type == 'UO' %}
    <div class="ui rcpch_info message">
        <h3>Unknown Onset Epilepsy</h3>
        <p>Not enough is known about the onset of this epilepsy to give it a classification.</p>
    </div>
{% endif %}