

<div class="ui rcpch pink message" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="ui rcpch_pink segment">

            <h5 class="ui header">
                <div class='content'>
                    When
                </div>
            </h5>

        <div class="field">
            {% url 'seizure_onset_date' episode_id=episode.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target='#episodes' hx_trigger='change delay:1s' hx_swap="innerHTML" date_value=episode.seizure_onset_date label=episode.get_seizure_onset_date_help_label_text reference=episode.get_seizure_onset_date_help_reference_text input_date_field_name='seizure_onset_date' enabled=perms.epilepsy12.change_episode has_permission=perms.epilepsy12.change_episode %}
        </div>
        {% if error_message %}
            <div class='ui rcpch_warning message'>
                {{ error_message }}
            </div>
        {% endif %}

        <div class="field">
            {% url 'seizure_onset_date_confidence' episode_id=episode.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=seizure_onset_date_confidence_selection hx_post=hx_post hx_target='#episodes' hx_trigger='click' hx_swap='innerHTML' test_positive=episode.seizure_onset_date_confidence tooltip_id='seizure_onset_date_confidence_tooltip' label=episode.get_seizure_onset_date_confidence_help_label_text reference=episode.get_seizure_onset_date_confidence_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_episode %}
        </div>

        <div class='field'>
            {% url 'episode_definition' episode_id=episode.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with hx_post=hx_post hx_target='#episodes' hx_swap='innerHTML' hx_trigger='change' choices=episode_definition_selection test_positive=episode.episode_definition data_position='top left' label=episode.get_episode_definition_help_label_text reference=episode.get_episode_definition_help_reference_text hx_default_text='Select an episode definition...' hx_name='episode_definition' enabled=perms.epilepsy12.change_episode %}
        </div>

    </div>

    <div class="ui rcpch_pink segment">

        <h5 class="ui header desscribe_title">
            <span class='desscribe_letters'>
                <div class="ui rcpch_pink circular label">D</div>
            </span>
            <div class='content'>
                    Description
            </div>
        </h5>

        <div class="field">
            {% url 'has_description_of_the_episode_or_episodes_been_gathered' episode_id=episode.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target='#episodes' hx_trigger='click' hx_swap='innerHTML' test_positive=episode.has_description_of_the_episode_or_episodes_been_gathered tooltip_id='has_description_of_the_episode_or_episodes_been_gathered_tooltip' label=episode.get_has_description_of_the_episode_or_episodes_been_gathered_help_label_text reference=episode.get_has_description_of_the_episode_or_episodes_been_gathered_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_episode %}
        </div>

        {% if episode.has_description_of_the_episode_or_episodes_been_gathered %}

                <div class="field">
                    {% include 'epilepsy12/partials/multiaxial_diagnosis/description.html' with episode=episode choices=keyword_selection %}
                </div>
            </div>

        {% endif %}
    </div>

    <div class="ui rcpch_pink segment">

        <h5 class="ui header desscribe_title">
            <span class='desscribe_letters'>
                <div class="ui rcpch_pink circular label">E</div>
            </span>
            <div class='content'>
                Epilepsy
            </div>
        </h5>

        <div id="epilepsy_or_nonepilepsy_status">
            {% include 'epilepsy12/partials/multiaxial_diagnosis/epilepsy_or_nonepilepsy_status.html' with episode=episode epilepsy_or_nonepilepsy_status_choices=epilepsy_or_nonepilepsy_status_choices epileptic_seizure_onset_types=epileptic_seizure_onset_types LATERALITY=LATERALITY FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS=FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS=FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS FOCAL_EPILEPSY_EEG_MANIFESTATIONS=FOCAL_EPILEPSY_EEG_MANIFESTATIONS GENERALISED_SEIZURE_TYPE=GENERALISED_SEIZURE_TYPE episode=episode nonepilepsy_onset_types=nonepilepsy_onset_types nonepilepsy_types=nonepilepsy_types syncopes=syncopes behavioural=behavioural sleep=sleep paroxyms=paroxyms migraines=migraines nonepilepsy_miscellaneous=nonepilepsy_miscellaneous %}
        </div>

    </div>

    <div class='field'>
        <div
            class='ui rcpch_primary button'
            hx-post='{% url "close_episode" episode_id=episode.pk %}'
            hx-target='#episodes'
            hx-swap='innerHTML swap:500ms'
            hx-trigger='click'
        >Save new Episode</div>
    </div>

</div>


