<div class="ui grid">
    {% if not perms.epilepsy12.change_episode %}
        <div class="sixteen wide column">
            <div class='ui rcpch_warning basic label'>You do not have permission to update this field</div>
        </div>
    {% endif %}
    <div class="four wide column">
        
            <h5>
                {% if episode.focal_onset_right or episode.focal_onset_left %}
                    <i class="rcpch_pink check circle outline icon"></i>
                {% else %}
                    <span data-tooltip="Incompleted field. This must be scored to complete the record." data-inverted="" data-position="{{data_position}}">
                        <i class="rcpch_light_blue dot circle outline icon"></i>
                    </span>
                {% endif %}
                Laterality (patient)
            </h5>
        
            <div class="container">
                <div class="radio-tile-group">
                {% url 'focal_onset_epilepsy_checked_changed' episode_id=episode.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/check_box_group.html' with hx_post=hx_post hx_target="#focal_epilepsy" hx_model=episode hx_field_list=LATERALITY hx_field_list_name="LATERALITY" enabled=perms.epilepsy12.change_episode %}
                </div>
            </div>
    
    </div>

    <div class="four wide column">
        <h5>
        Motor manifestations
        </h5>

            {% url 'focal_onset_epilepsy_checked_changed' episode_id=episode.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/check_box_group.html' with hx_post=hx_post hx_target="#focal_epilepsy" hx_model=episode hx_field_list=FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS hx_field_list_name="FOCAL_EPILEPSY_MOTOR_MANIFESTATIONS" enabled=perms.epilepsy12.change_episode %}
    </div>

    <div class="four wide column">

        <h5>
        Non-motor manifestations
        </h5>

            <div class="container">
                <div class="radio-tile-group">
                    {% url 'focal_onset_epilepsy_checked_changed' episode_id=episode.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/check_box_group.html' with hx_post=hx_post hx_target="#focal_epilepsy" hx_model=episode hx_field_list=FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS hx_field_list_name="FOCAL_EPILEPSY_NONMOTOR_MANIFESTATIONS" enabled=perms.epilepsy12.change_episode %}
                </div>
            </div>
    
    </div>

    <div class="four wide column">

        <h5>
        EEG findings
        </h5>

            <div class="container">
                <div class="radio-tile-group">
                    {% url 'focal_onset_epilepsy_checked_changed' episode_id=episode.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/check_box_group.html' with hx_post=hx_post hx_target="#focal_epilepsy" hx_model=episode hx_field_list=FOCAL_EPILEPSY_EEG_MANIFESTATIONS hx_field_list_name="FOCAL_EPILEPSY_EEG_MANIFESTATIONS" enabled=perms.epilepsy12.change_episode %}
                </div>
            </div>
    
    </div>

</div>