<div class="field">
    {% url 'nonepilepsy_generalised_onset' episode_id=episode.id as hx_post %}
    {% if perms.epilepsy12.change_multiaxial_diagnosis %}
        {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=nonepilepsy_onset_types hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="click" label=episode.get_nonepileptic_seizure_unknown_onset_help_label_text reference=episode.get_nonepileptic_seizure_unknown_onset_help_reference_text test_positive=episode.nonepileptic_seizure_unknown_onset hx_swap="innerHTML" data_position='top left' disabled=False %}
    {% else %}
        {% include 'epilepsy12/partials/page_elements/single_choice_multiple_toggle_button.html' with choices=nonepilepsy_onset_types hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="click" label=episode.get_nonepileptic_seizure_unknown_onset_help_label_text reference=episode.get_nonepileptic_seizure_unknown_onset_help_reference_text test_positive=episode.nonepileptic_seizure_unknown_onset hx_swap="innerHTML" data_position='top left' disabled=True %}
    {% endif %}
</div>

<div class="field">
    {% url 'nonepileptic_seizure_type' episode_id=episode.id as hx_post %}
    {% include 'epilepsy12/partials/page_elements/select.html' with choices=nonepilepsy_types hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_type_help_label_text reference=episode.get_nonepileptic_seizure_type_help_reference_text hx_default_text='Select a nonepilepsy seizure type...' test_positive=episode.nonepileptic_seizure_type hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_type' %}
</div>

{% if episode.nonepileptic_seizure_type %}


    {% if episode.nonepileptic_seizure_type == 'SAS' %}
        
        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=syncopes hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_syncope_help_label_text|safe reference=episode.get_nonepileptic_seizure_syncope_help_reference_text|safe hx_default_text='Select a syncope type...' test_positive=episode.nonepileptic_seizure_syncope hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_syncope' %}
            
        </div>

    {% elif episode.nonepileptic_seizure_type == 'BPP' %} 

        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=behavioural hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_behavioural_help_label_text reference=episode.get_nonepileptic_seizure_behavioural_help_reference_text hx_default_text='Select a behavioural type...' test_positive=episode.nonepileptic_seizure_behavioural hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_behavioural' %}
        </div>

    {% elif episode.nonepileptic_seizure_type == 'SRC' %}
        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=sleep hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_sleep_help_label_text reference=episode.get_nonepileptic_seizure_sleep_help_reference_text hx_default_text='Select a sleep disturbance type...' test_positive=episode.nonepileptic_seizure_sleep hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_sleep' %}
        </div>

    {% elif episode.nonepileptic_seizure_type == 'PMD' %}
        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=paroxysms hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_paroxysmal_help_label_text reference=episode.get_nonepileptic_seizure_paroxysmal_help_reference_text hx_default_text='Select a paroxysm type...' test_positive=episode.nonepileptic_seizure_paroxysmal hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_paroxysmal' %}
        </div>

    {% elif episode.nonepileptic_seizure_type == 'MAD' %}
        
        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=migraines hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_migraine_help_label_text reference=episode.get_nonepileptic_seizure_migraine_help_reference_text hx_default_text='Select a migraine type...' test_positive=episode.nonepileptic_seizure_migraine hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_migraine' %}
        </div>

    {% elif episode.nonepileptic_seizure_type == 'ME' %}

        <div class="field">
            {% url 'nonepileptic_seizure_subtype' episode_id=episode.id as hx_post %}
            {% include 'epilepsy12/partials/page_elements/select.html' with choices=nonepilepsy_miscellaneous hx_post=hx_post hx_target="#nonepilepsy" hx_trigger="change" hx_swap="innerHTML" label=episode.get_nonepileptic_seizure_miscellaneous_help_label_text reference=episode.get_nonepileptic_seizure_miscellaneous_help_reference_text hx_default_text='Select a subtype...' test_positive=episode.nonepileptic_seizure_miscellaneous hx_swap="innerHTML" data_position='top left' hx_name='nonepileptic_seizure_miscellaneous' %}
        </div>

    {% elif episode.nonepileptic_seizure_type == 'Oth' %}
        
        <div class="field">
            <div class="ui message">
            Epilepsy12 is not collecting further information on this item currently.
            </div>
        </div>

    {% else %}
        <div class="ui warning message">
        Uh oh!
        </div>

    {% endif %}

{% endif %}