{% load epilepsy12_template_tags %}
{% url 'syndrome_present' multiaxial_diagnosis_id=multiaxial_diagnosis.pk as hx_post %}
{% include 'epilepsy12/partials/page_elements/toggle_button.html' with hx_post=hx_post hx_target="#syndrome_section" hx_trigger='click' hx_swap="innerHTML" test_positive=multiaxial_diagnosis.syndrome_present tooltip_id='syndrome_present_tooltip' label=multiaxial_diagnosis.get_syndrome_present_help_label_text reference=multiaxial_diagnosis.get_syndrome_present_help_reference_text data_position='top left' enabled=perms.epilepsy12.change_syndrome %}

{% if multiaxial_diagnosis.syndrome_present %}

    <div class='ui rcpch_info message'>
    A child or young person's epilepsy may fulfill criteria for an epilepsy syndrome. This list may evolve over time.
    </div>

    <div id='syndromes' class='fade-out fade-in field'>
        {% include 'epilepsy12/partials/multiaxial_diagnosis/syndromes.html' with syndromes=syndromes multiaxial_diagnosis=multiaxial_diagnosis %}
    </div>

{% endif %}