<div class="ui rcpch_pink segment">
    <h5 class="ui header">
        <span class='desscribe_letters'>
            <div class="ui rcpch_pink circular label">S</div>
        </span>
        <div class='content'>
                Syndrome
            <div class='sub header'>
            Does it fulfil criteria for an epilepsy syndrome?
            </div>
        </div>
    </h5>

    
    <div class="field">
        {% url 'syndrome_diagnosis_date' syndrome_id=syndrome.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_target="#syndrome" hx_trigger='change' hx_swap="innerHTML" hx_name='syndrome_diagnosis_date' date_value=syndrome.syndrome_diagnosis_date label='Date diagnosis of syndrome made' input_date_field_name='syndrome_diagnosis_date' data_position='top left' %}
    </div>

    <div class="field">
        {% url 'syndrome_name' syndrome_id=syndrome.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/select.html' with choices=syndrome_selection hx_post=hx_post hx_target="#syndrome" hx_trigger='change' hx_swap="innerHTML" hx_name='syndrome_name' hx_default_text="Select a syndrome..." test_positive=syndrome.syndrome_name label='Select the epilepsy syndrome' data_position='top left' %}
    </div>
    
    <div class="field">
        {% url 'syndrome_diagnosis_active' syndrome_id=syndrome.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with  hx_post=hx_post hx_target="#syndrome" hx_trigger='click' hx_swap="innerHTML" test_positive=syndrome.syndrome_diagnosis_active test_positive=syndrome.syndrome_diagnosis_active label='Is the diagnosis active?' data_position='top left' %}
    </div>

    <div class='field'>
        <a href='{% url "multiaxial_diagnosis" case_id=syndrome.multiaxial_diagnosis.registration.case.pk %}'><button class='ui rcpch_primary button'>Complete the DESSCRIBE definition for {{syndrome.multiaxial_diagnosis.registration.case}}</div></a>
    </div>
    
    
</div>