{% load epilepsy12_template_tags %}
<div>
    {% if syndromes|length > 0 %}
        <table class="ui rcpch basic table">
            <thead>
                <tr>
                    <th>Syndrome Diagnosis Date</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

        {% for syndrome in syndromes %}
            <tr>
                <td>
                    {% if syndrome.syndrome_diagnosis_date %}
                        {{syndrome.syndrome_diagnosis_date}}
                    {% else %}
                        <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="top left">
                            <i class="rcpch_light_blue dot circle outline icon"></i>
                        </span>
                        Uncompleted field
                    {% endif %}
                </td>
                <td>
                    {% if syndrome.syndrome_name is not None %}
                        {{syndrome.get_syndrome_name_display}}
                    {% else %}
                        <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="top left">
                            <i class="rcpch_light_blue dot circle outline icon"></i>
                        </span>
                        Uncompleted field
                    {% endif %}
                </td>
                <td>
                    <div 
                        class="ui rcpch_light_blue buttons">
                        <button 
                            {% if perms.epilepsy12.change_syndrome %}
                                class="ui rcpch_primary button"
                            {% else %}
                                class="ui rcpch_primary disabled button"
                            {% endif %}
                            hx-post='{% url "edit_syndrome" syndrome.pk %}'
                            hx-target='#syndromes'
                            hx-trigger='click'
                            hx-swap='innerHTML'
                        >
                            Edit
                        </button>
                        <button 
                            {% if perms.epilepsy12.delete_episode %}
                                class="ui rcpch_red icon button"
                            {% else %}
                                class="ui rcpch_red icon disabled button"
                            {% endif %}
                            hx-post='{% url "remove_syndrome" syndrome_id=syndrome.pk %}'
                            hx-target='#syndromes'
                            hx-trigger='click'
                            hx-swap='innerHTML'
                        >
                            <i class='trash alternate outline icon'></i>
                        </button>
                    </div>
                </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class='field'>
            <span data-tooltip="Uncompleted field. This must be scored to complete the record." data-inverted="" data-position="top left">
                <i class="rcpch_light_blue dot circle outline icon"></i>
            </span>
            There are no documented syndromes so far...
        </div>
    {% endif %}
    <button
            {% if perms.epilepsy12.add_syndrome %}
                class="ui rcpch_primary button"
            {% else %}
                class="ui rcpch_primary disabled button"
            {% endif %}
            hx-post="{% url 'add_syndrome' multiaxial_diagnosis_id=multiaxial_diagnosis.pk %}"
            hx-target="#syndromes"
            hx-swap='innerHTML swap:500ms settle:500ms'
            hx-trigger='click'
        >
        Add a new Syndrome
    </button>
</div>
{% if not perms.epilepsy12.add_syndrome or not perms.epilepsy12.change_syndrome or not perms.epilepsy12.delete_syndrome %}
    <div class='ui rcpch_warning basic label'>{% permission_text perms.epilepsy12.add_syndrome perms.epilepsy12.change_syndrome perms.epilepsy12.delete_syndrome 'syndrome' %}</div>
{% endif %}