<div class="ui segment" id="aed_checkboxes">
    <div class="two fields">
      <div class="field">
        <div class="ui toggle checkbox" 
              hx-post="{% url 'has_an_aed_been_given' registration_id=registration_id %}"
              hx-trigger="change"
              hx-target="#aed_checkboxes"
              hx-swap="outerHTML"
          >
          {% if assessment.has_an_aed_been_given %}
              <input 
                  type="checkbox" 
                  name="has_an_aed_been_given"
                  checked=""
              />
          {% else %}
              <input 
                  type="checkbox" 
                  name="has_an_aed_been_given"
              />
          {% endif %}
          <label>Has an Antiepilepsy Drug been given?</label>
        </div>
      </div>
      
      <div class="field">
        <div class="ui toggle checkbox" 
              hx-post="{% url 'rescue_medication_prescribed' registration_id=registration_id %}"
              hx-trigger="change"
              hx-target="#aed_checkboxes"
              hx-swap="outerHTML"
          >
          {% if assessment.rescue_medication_prescribed %}
              <input 
                  type="checkbox" 
                  name="rescue_medication_prescribed"
                  checked=""
              />
          {% else %}
              <input 
                  type="checkbox" 
                  name="rescue_medication_prescribed"
              />
          {% endif %}
          <label>Has a rescue medicine been prescribed?</label>
        </div>
      </div>

    </div>
  </div>