{% load epilepsy12_template_tags %}
<div hx-target='#case_table' hx-get="{% url 'cases' organisation_id=organisation.pk %}" hx-trigger='case_list from:body'
  hx-swap='innerHTML' name='case_table'>
  {% if case_list.end_index > 0 %}
  <table class="ui rcpch purple table cases_table">
    <thead>
      <tr>
        <th class="one wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>E12 ID</p>
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>Name</p>
            {% if sort_flag and sort_flag == "sort_by_name_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_name_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_name_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_name_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_name_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_name_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_name_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_name_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>Sex</p>
            {% if sort_flag and sort_flag == "sort_by_sex_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_sex_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_sex_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_sex_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_sex_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_sex_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_sex_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_sex_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>NHS Number</p>
            {% if sort_flag and sort_flag == "sort_by_nhs_number_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_nhs_number_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_nhs_number_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_nhs_number_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_nhs_number_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_nhs_number_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_nhs_number_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_nhs_number_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>Deadline</p>
            {% if sort_flag and sort_flag == "sort_by_deadline_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_deadline_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_deadline_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_deadline_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_deadline_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_deadline_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_deadline_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_deadline_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>Cohort</p>
            {% if sort_flag and sort_flag == "sort_by_cohort_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_cohort_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_cohort_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_cohort_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_cohort_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_cohort_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_cohort_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_cohort_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class="two wide">
          <div class="rcpch_td_data_indicator_wrapper">
            <p>Days remaining</p>
            {% if sort_flag and sort_flag == "sort_by_days_remaining_before_submission_down" %}
            <i class="sort icon" id="sort_button" name="sort_by_days_remaining_before_submission_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_days_remaining_before_submission_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% elif sort_flag and sort_flag == "sort_by_days_remaining_before_submission_up" %}
            <i class="sort icon" id="sort_button" name="sort_by_days_remaining_before_submission_down" hx-target="#case_table"
              hx-get="{% url 'sort_by_days_remaining_before_submission_down' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% else %}
            <i class="sort icon" id="sort_button" name="sort_by_days_remaining_before_submission_up" hx-target="#case_table"
              hx-get="{% url 'sort_by_days_remaining_before_submission_up' organisation_id=organisation.pk %}" hx-trigger="click"></i>
            {% endif %}
          </div>
        </th>
        <th class='two wide'></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for case in case_list %}
        
          {% if case.registration.days_remaining_before_submission == 0 %}
              <tr class='disabled'>
          {% elif case in cases_in_transfer %}
              <tr class='active_transfer'>
          {% else %}
              <tr>
          {% endif %}
          <td>
            {% if request.user.is_rcpch_audit_team_member %}
              {% with case|lead_site_for_case as lead_site  %}
                <span {% if lead_site %} data-tooltip="Lead site: {{lead_site.organisation}} ({{lead_site.organisation.trust}})" {% else %}  data-tooltip="There is no allocated lead site" {% endif %}data-position="top left">
                  <i class="rcpch question circle icon"></i>
                </span>
              {% endwith %}
            {% endif %}
            {{case.id}}
          </td>
          <td>
            {% none_masked case.first_name %} {% none_masked case.surname %}</td>
          <td>{% none_masked case.get_sex_display %}</td>
          <td data-mask="000 000 0000">{% none_masked case.nhs_number %}</td>
          <td>{% none_masked case.registration.audit_submission_date|date:'D j M Y' %}</td>
          <td>{% if case.registration.cohort is not None %}{{ case.registration.cohort }}{% endif %}</td>
          <td>{% if case.registration.days_remaining_before_submission is not None %}{{ case.registration.days_remaining_before_submission }}{% endif %}</td>
          <td class='two wide'>
            <div class='ui buttons'>
              <button 
                data-tooltip='Edit or delete child.'
                {% if case.locked or case.registration.days_remaining_before_submission == 0 %}
                  class="ui rcpch_purple icon disabled button"
                {% else %}
                  class="ui rcpch_purple icon button"
                {% endif %}
                tabindexed="0" {% if case.locked or not perms.epilepsy12.change_case %}disabled{% endif %}>
                <a href="{% url 'update_case' organisation_id=organisation_id case_id=case.id%}" class="rcpch_purple half_button">
                  <i class="edit outline icon icon_white"></i>
                  Edit
                </a>
              </button>
              
              {% if case.registration.first_paediatric_assessment_date %}
                {% if case.locked %}
                <button 
                  data-tooltip='Complete audit details.'
                  class="ui rcpch_dark_purple disabled button" 
                  tabindexed="2" 
                  onclick="location.href='{% url 'register'  case.id %}'"
                >Audit</button>
                {% else %}
                <button 
                  data-tooltip='Complete audit details.'
                  {% if case.registration.days_remaining_before_submission == 0 %}
                    class="ui rcpch_dark_purple disabled button"
                  {% else %}
                    class="ui rcpch_dark_purple button"
                  {% endif %}
                  tabindexed="2"
                  onclick="location.href='{% url 'register'  case.id %}'"
                  >Audit</button>
                
                {% endif %}
              {% else %}
                {% if case.locked %}

                <button 
                  class="ui rcpch_dark_purple disabled button" 
                  tabindexed="2"
                  onclick="location.href='{% url 'register' case_id=case.id %}'"
                >Audit</button>

                {% else %}

                <button 
                  class="ui rcpch_dark_purple button" 
                  tabindexed="2"
                  onclick="location.href='{% url 'register' case_id=case.id %}'"
                >Audit</button>

                {% endif %}
              {% endif %}
            </div>

            {% if not case.registration.audit_progress.audit_complete and not case.locked and case.registration.first_paediatric_assessment_date %}
            {% percentage_of_total case.registration.audit_progress.total_completed_fields case.registration.audit_progress.total_expected_fields as total_percent %}
              <div class="ui bottom attached tiny rcpch progress" data-percent='{{total_percent}}' id="{{case.pk}}_audit_progress_bar" _="init js $('#{{case.pk}}_audit_progress_bar').progress(); end">
                <div class='bar'></div>
              </div>

            {% endif %}
          </td>

          {% if case.registration.audit_progress.audit_complete %}
            {% comment %}
              If the audit for this child is complete, the upload button is enabled only if the submission deadline has not yet passed.
            {% endcomment %}
            {% url 'case_submit' organisation_id=organisation_id case_id=case.id as hx_post %}
            <td>
              <button
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                class="ui rcpch_primary icon button" 
                tabindexed="1" 
                hx-post="{{hx_post}}"
                hx_trigger='click' 
                hx-target="#case_table"
                {% if case.registration.days_remaining_before_submission == 0 or case.locked and not perms.epilepsy12.can_unlock_child_case_data_from_editing or not case.locked and not perms.epilepsy12.can_lock_child_case_data_from_editing  %}
                  disabled
                {% else %}
                    {% if case.locked %}
                      data-tooltip='Unsubmit to Epilepsy12'
                    {% else %}
                      data-tooltip='Submit to Epilepsy12'
                    {% endif %}
                {% endif %}
              >
              {% if case.locked %}
                <i class="cloud download icon"></i>
              {% else %}
                <i class="cloud upload icon"></i></button>
              {% endif %}

            </td>
          {% else %}
            <td>
              {% if not case.registration.audit_progress.audit_complete and not case.locked and case.registration.first_paediatric_assessment_date %}
                <h6>{{total_percent}}% ({{case.registration.audit_progress.total_completed_fields}}/{{case.registration.audit_progress.total_expected_fields}})</h6>
              {% endif %}
            </td>
          {% endif %}
            
            <td>
              {% if case in cases_in_transfer %}
                <div class="ui buttons">
                  {% url 'transfer_response' organisation_id=organisation_id case_id=case.id organisation_response="accept" as hx_post_transfer_accept %}
                  <button
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    class="ui rcpch_primary tiny icon button" 
                    tabindexed="1" 
                    hx-post="{{hx_post_transfer_accept}}"
                    hx_trigger='click' 
                    hx-target="#case_table"
                    {% if not perms.epilepsy12.can_transfer_epilepsy12_lead_centre %}disabled{% endif %}
                      _="on htmx:confirm(issueRequest)
                          halt the event
                          call Swal.fire({
                              title: 'Confirmation Required',
                              text: 'Please confirm you are happy to accept {{case}} onto your Epilepsy12 caseload.',
                              icon: 'warning',
                              iconColor: '#e00087',
                              showCancelButton: true,
                              confirmButtonColor: '#11a7f2',
                              cancelButtonColor: '#e60700',
                              confirmButtonText: 'I confirm'
                            })
                          if result.isConfirmed issueRequest()"
                    >
                    <span data-tooltip="Accept transfer request"><i class="handshake outline icon"></i></span>
                  </button>
                  {% url 'transfer_response' organisation_id=organisation_id case_id=case.id organisation_response="reject" as hx_post_transfer_reject %}
                  <button
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    class="ui rcpch_primary tiny icon button" 
                    tabindexed="1" 
                    hx-post="{{hx_post_transfer_reject}}"
                    hx_trigger='click' 
                    hx-target="#case_table"
                    {% if not perms.epilepsy12.can_transfer_epilepsy12_lead_centre %}disabled{% endif %}
                      _="on htmx:confirm(issueRequest)
                          halt the event
                          call Swal.fire({
                              title: 'Confirmation Required',
                              text: 'Please confirm you are rejecting the request to transfer {{case}} onto your Epilepsy12 caseload.',
                              icon: 'warning',
                              iconColor: '#e00087',
                              showCancelButton: true,
                              confirmButtonColor: '#11a7f2',
                              cancelButtonColor: '#e60700',
                              confirmButtonText: 'I confirm'
                            })
                          if result.isConfirmed issueRequest()"
                    >
                    <span data-tooltip="Reject transfer request"><i class="hand paper outline icon"></i></span>
                  </button>
                </div>
              {% else %}
                {% if case.registration.days_remaining_before_submission > 7 and case.registration.audit_progress.audit_complete %}
                  {% if case.locked %}
                    <span data-tooltip="Data complete and uploaded. {{case}}'s record can still be unlocked and edited up until {{case.registration.audit_submission_date|date:'D j M Y'}}"><i class="rcpch_pink check circle outline icon"></i></span>
                  {% else %}
                    <span data-tooltip="Data complete. Ready for upload by {{case.registration.audit_submission_date|date:'D j M Y'}}"><i class="rcpch_pink check circle outline icon"></i></span>
                  {% endif %}
                {% elif case.registration.days_remaining_before_submission <= 7 and case.registration.days_remaining_before_submission > 0 and case.registration.audit_progress.audit_complete %}
                  <span data-tooltip="Data complete. Ready imminently for upload before {{case.registration.audit_submission_date|date:'D j M Y'}}"><i class="rcpch_orange check circle outline icon"></i></span>
                {% elif case.registration.days_remaining_before_submission == 0 %}
                  <span data-tooltip="Data complete and submission date has passed. No further editing of {{case}}'s record is possible."><i class="rcpch_pink check circle outline icon"></i></span>
                {% else %}
                  <span data-tooltip="Data incomplete."><i class="rcpch_light_blue dot circle outline icon"></i></span>
                {% endif %}
              {% endif %}
            </td>
        </tr>

      {% endfor %}

    <tfoot>
      <tr>
        <th colspan="10" class="right aligned">
          {% if case_list.has_previous %}
          <div class="ui rcpch_primary button" hx-target="#case_table"
          hx-get="{% url 'cases' organisation_id=organisation.pk %}?page={{case_list.previous_page_number}}&sort_flag={{sort_flag}}"
          hx-swap="innerHTML">Previous 10</div>
          {% endif %}
          {% if case_list.has_next %}
            <div class="ui rcpch_primary button" name="next_button" hx-target="#case_table"
            {% if filtered_case_list %} {% comment %} items have been entered into the search box - return filtered_case_list and sort_flag{% endcomment %}
              hx-get="{% url 'cases' organisation_id=organisation.pk  %}?page={{ case_list.next_page_number }}&filtered_case_list={{filtered_case_list}}&sort_flag={{sort_flag}}"
            {% else %} {% comment %} no items in the search box - return only the sort_flag {% endcomment %}
              hx-get="{% url 'cases' organisation_id=organisation.pk  %}?page={{ case_list.next_page_number }}&sort_flag={{sort_flag}}"
            {% endif %}
            hx-swap="innerHTML">Next 10</div>
          {% endif %}
        </th> 
      </tr>
      <tr>
        <th colspan="12" class="right aligned">
          {% if case_list %}
            <label>Page {{case_list.number}} of {{case_list.paginator.num_pages}}</label>
          {% endif %}
        </th>
      </tr>
    </tfoot>

    </tbody>
  </table>
  {% else %}
  <div class='ui container'>
    <div class='padded_container'>
      <div class='ui rcpch_info fluid message'>No children found.</div>
    </div>
  </div>
  {% endif %}
</div>