<div class="ui blue segment">
    <h1>Comorbidities</h1>
    {% if comorbidities|length > 0 %}
        <table class="ui very basic celled table">
            <thead>
                <th>Comorbidity</th>
                <th>SNOMED-CT code</th>
                <th></th>
            </thead>
            <tbody>
                {% for comorbidity in comorbidities %}
                    <tr>
                        <td>{{ comorbidity.get_comorbidity_display }}</td>
                        <td>{{ comorbidity.comorbidity_snomed_code }}</td>
                        <td><button class="ui circular red round icon button"><i class="trash alternate outline icon"></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'create_comorbidity' case_id %}"><button class="ui mini button" id="action_button">Add Comorbidity</button></a>
    {% else %}
        <p>There are no reported comorbidities yet.</p>
        <a href="{% url 'create_comorbidity' case_id %}"><button class="ui mini button" id="action_button">Add Comorbidity</button></a>
    {% endif %}
</div>