
<form class="ui form">
    <div class="ui blue message">
         Write a freehand description of the episode, using as much detail as you can, to a maximum of 5000 characters. Any key words we recognise will automatically be gathered. Remove these from the collection if you feel they are not key words in the context.
    </div>
    
        <div class="field" hx-post="{% url 'edit_description' desscribe_id=desscribe.id %}" hx-target="#description_results" hx-trigger="keyup" hx-swap="innerHTML">
            {{description_form.description}}
        </div>
    
    <div>
        <i class="question circle icon link" id="choicesPopup"></i>
        <div class="ui flowing popup top left transition hidden">
            <p>Some examples of keywords to choose from...</p>
            {% for choice in choices %}
                <div class="ui label" style="margin-bottom: 5px;">{{choice.keyword}}</div>
            {% endfor %}
        </div>
    </div>
    <div id="description_results">
        {% include 'epilepsy12/partials/description_labels.html' with desscribe=desscribe %}
    </div>
</form>