<div class="field" id="diagnosis_of_epilepsy_withdrawn_result">
    <label>At any stage in the first year after first assessment, has a diagnosis of epilepsy been withdrawn because it has been subsequently deemed incorrect?</label>
    {% if epilepsy_context.diagnosis_of_epilepsy_withdrawn %}
        <div class="ui tiny buttons">
            <button 
                class="ui tiny toggle button active"
                name="diagnosis_of_epilepsy_withdrawn"
                hx-trigger='click' 
                hx-post="{% url 'diagnosis_of_epilepsy_withdrawn' epilepsy_context_id=epilepsy_context.pk %}" hx-target="#diagnosis_of_epilepsy_withdrawn_result" 
                hx-swap="outerHTML"
                name="diagnosis_of_epilepsy_withdrawn">Withdrawn</button>
            <button 
                class="ui tiny toggle button"
                name="diagnosis_of_epilepsy_withdrawn"
                hx-trigger='click' 
                hx-post="{% url 'diagnosis_of_epilepsy_withdrawn' epilepsy_context_id=epilepsy_context.pk %}" hx-target="#diagnosis_of_epilepsy_withdrawn_result" 
                hx-swap="outerHTML"
                name="diagnosis_of_epilepsy_withdrawn">Diagnosis Active</button>
        </div>
    {% else %}
        <div class="ui tiny buttons">
            <button 
                class="ui tiny toggle button"
                name="diagnosis_of_epilepsy_withdrawn"
                hx-trigger='click' 
                hx-post="{% url 'diagnosis_of_epilepsy_withdrawn' epilepsy_context_id=epilepsy_context.pk %}" hx-target="#diagnosis_of_epilepsy_withdrawn_result" 
                hx-swap="outerHTML"
                name="diagnosis_of_epilepsy_withdrawn">Withdrawn</button>
            <button 
                class="ui tiny toggle button active" 
                name="diagnosis_of_epilepsy_withdrawn"
                hx-trigger='click' 
                hx-post="{% url 'diagnosis_of_epilepsy_withdrawn' epilepsy_context_id=epilepsy_context.pk %}" 
                hx-target="#diagnosis_of_epilepsy_withdrawn_result" 
                hx-swap="outerHTML" 
                name="diagnosis_of_epilepsy_withdrawn">Diagnosis Active</button>
        </div>
    {% endif %}
</div>