<div class="ui segment" id="childrens_epilepsy_surgical_service_referral_criteria_met">
    <div class="field">
        <div class="ui toggle checkbox" 
            hx-post="{% url 'childrens_epilepsy_surgical_service_referral_criteria_met' registration_id=registration_id %}"
            hx-trigger="change"
            hx-target="#childrens_epilepsy_surgical_service_referral_criteria_met"
            hx-swap="outerHTML"
        >
        {% if assessment.childrens_epilepsy_surgical_service_referral_criteria_met %}
            <input 
                type="checkbox" 
                name="childrens_epilepsy_surgical_service_referral_criteria_met"
                checked=""
            />
        {% else %}
            <input 
                type="checkbox" 
                name="childrens_epilepsy_surgical_service_referral_criteria_met"
            />
        {% endif %}
        <label>Has a referral been made to a children's epilepsy surgery service?</label>
        </div>
    </div>
    {% if assessment.childrens_epilepsy_surgical_service_referral_criteria_met %}
        <div class="two fields">
            <div class="field"
                hx-post="{% url 'childrens_epilepsy_surgical_service_referral_date' assessment_id=assessment.pk %}"
                hx-target="#childrens_epilepsy_surgical_service_dates"
                hx-trigger="change"
            >
                <label>Date of referral to a children's epilepsy surgery service</label>
                <input 
                    type="date" 
                    name="childrens_epilepsy_surgical_service_referral_date" 
                    value={{assessment.childrens_epilepsy_surgical_service_referral_date|date:'Y-m-d'}}
                />
            </div>

            <div class="field"
                hx-post="{% url 'childrens_epilepsy_surgical_service_input_date' assessment_id=assessment.pk %}"
                hx-target="#childrens_epilepsy_surgical_service_dates"
                hx-trigger="change"
            >
                <label>Date seen by children's epilepsy surgery service</label>
                <input type="date" 
                    name="childrens_epilepsy_surgical_service_input_date" 
                    value="{{assessment.childrens_epilepsy_surgical_service_input_date|date:'Y-m-d'}}"/>
            </div>
        </div>
        <div id='childrens_epilepsy_surgical_service_dates'></div>
    {% endif %}
</div>