<div class="ui form" method="post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div 
        class="field">
        <label>Is a diagnosis of epilepsy definite, or uncertain?</label>
        <select 
            class='ui dropdown'
            name='epilepsy_or_nonepilepsy_status'
            hx-post="{% url 'epilepsy_or_nonepilepsy_status_changed' desscribe_id=desscribe.pk %}" 
            hx-trigger="load, change"
            hx-target="#epilepsy_nonepilepsy_dropdowns" 
            hx-swap="innerHTML">
            {% for item in epilepsy_nonepilepsy_status_choices %}
                {% if desscribe.epilepsy_or_nonepilepsy_status == item.0 %}
                    <option selected value={{item.0}}>{{item.1}}</option>
                {% else %}
                    <option value={{item.0}}>{{item.1}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div id="epilepsy_nonepilepsy_dropdowns"></div>
</div>
