<div class='ui rcpch_info icon message'>
    <i class="user secret icon"></i>
    <div class='content'>
        <div class='header'>
            Secret Frida Access
            {% url 'download_select' as hx_post %}
            {% include 'epilepsy12/partials/page_elements/frida_select.html' with choices=model_list hx_post=hx_post hx_target="#frida_button" test_positive=selected_model hx_trigger='change' hx_swap="innerHTML" hx_name='model' hx_default_text="Select a model..."  label='Select a model to download' reference='Select a model to download' data_position='top left' %}
            {% if is_selected %}
                <div class='ui rcpch_secret label'><i class="file excel icon"></i><a href='{% url "download" selected_model %}' >Download {{selected_model}} Table Data</a></div>
            {% endif %}
        </div>
    </div>

</div>