<div class="sixteen wide field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <select class="ui dropdown" name="seizure_cause_genetic_choice" hx-post="{% url 'seizure_cause_genetic_choice' desscribe_id=desscribe_id %}" hx-target="#seizure_cause_genetic_choice_result" hx-trigger="load, change">
        {% for added_item in selection %}
            {% if selected_gene_defect == added_item.0 %}
                <option selected value={{added_item.0}}>{{added_item.1}}</option>
            {% else %}
                <option value={{added_item.0}}>{{added_item.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div hidden id="seizure_cause_genetic_choice_result"></div>
</div>