<div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <label>Lead Centre</label>
    <select class="ui dropdown" name="hospital_trust" hx-post="{% url 'hospital_trust_select' registration_id=registration_id %}" hx-target="#lead_hospital_select_result" hx-trigger="load, change">
        {% for item in hospital_list %}
            {% if item.OrganisationName == selected_lead_hospital %}
                <option selected value="{{item.ParentName}}">{{item.OrganisationName}}</option>
            {% else %}
                <option value="{{item.ParentName}}">{{item.OrganisationName}}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
<div id="lead_hospital_select_result"></div>