<div class="sixteen wide field">
    <label>In what other way is the nonepileptic seizure described?</label>
    {% if desscribe.nonepileptic_seizure_unknown_onset_other_details|length > 0 %}
        {{desscribe.nonepileptic_seizure_unknown_onset_other_details}}
        <button class="ui tiny green button">Edit</div>
    {% else %}
        <input class="ui input" placeholder="Enter details..." name='nonepilepsy_generalised_onset_edit' hx-trigger="keyup" hx-post="{% url 'nonepilepsy_generalised_onset_edit' desscribe_id=desscribe.id %}" hx-target="#result" />
    {% endif %}
</div>
<div id="result" hidden></div>