{% load epilepsy12_template_tags %}

{% csrf_token %}
{% for field in form %}
    {% if field.hidden %}
        {{field.as_hidden}}
    {% else %}
        <div class="field org-audit-field">
            <div class="org-audit-cell">
                <label>
                    <em>{{field.help_text.question_number}}</em>
                    {{field.help_text.label}}
                </label>
                <div class="field">
                    {{field}}
                </div>
            </div>
            <dfn class="org-audit-cell">
                {{field.help_text.reference | safe}}
            </dfn>
        </div>
    {% endif %}
{% endfor %}