
<div class="ui form" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="three fields" 
        hx-get="{% url 'registration_status' registration_id=registration.pk %}"
        hx-swap="outerHTML"
        hx-trigger="registration_status from:body"
        id="registration_buttons">
        <div class="field">
            <label>Registration Date</label>
            {% if registration.registration_date %}
                <div class="field">
                    <button class="fluid ui disabled button" id="action_button">Registered {{registration.registration_date}}</button>
                </div>
            {% else %}
                {% if registration.eligibility_criteria_met %}
                    <div 
                        id="register_button"
                        class="field" 
                        hx-post="{% url 'registration_date' case_id=case_id %}" 
                        name='registration_date' 
                        hx-target="#registration_date_results" 
                        hx-swap='innerHTML'
                        hx-trigger="click">
                        <div class="fluid ui button" id="action_button">Register Now</div>
                    </div>
                {% else %}
                    <div class="field" >
                        <div 
                            class="fluid disabled ui button" 
                            id="action_button">Register Now</div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="field">
            <label>Registration Close Date</label>
            <input type="text" readonly="" placeholder="{{registration.registration_close_date}}"/>
        </div>
        <div class="field">
            <label>Cohort</label>
            <input type="text" readonly="" placeholder="{{registration.cohort}}"/>
        </div>
    </div>
</div>