{% load static %}
{% load epilepsy12_template_tags %}
{% csrf_token %}

<div class="ui grid container selected_organisation_container">
        <div class="view_label_container tables">
            <div class='back link'>
                <button class="ui rcpch_positive button jump" _="on click go to top of #kpis">Jump to All KPI Metrics</button>
            </div>
            <div class="ui rcpch_view label view_title">Organisation Dashboard</div>
            {% if request.user.is_rcpch_audit_team_member %}
                <div class="download link">
                    <a class="ui rcpch_positive button jump" href="{% url 'kpi_download' organisation_id=selected_organisation.pk %}">Download KPI metrics</a>
                </div>
            {% endif %}
        </div>

        
            <div class='sixteen wide column'>
                <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% url 'selected_organisation_summary_select' as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/rcpch_organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#rcpch_organisation_select" hx_trigger="change" hx_swap="innerHTML" hx_name="selected_organisation_summary_select" test_positive=selected_organisation.pk label="Select an organisation to view" hx_default_text="Search general paediatric organisations..." data_position="top left" %}
                </div>
            </div>
        


            <div class="fluid row stackable org_view_all_buttons_wrapper three column grid">
                {% if user.is_rcpch_audit_team_member or user.is_superuser %}
                        <!-- Only RCPCH Audit team members and superusers can publish aggregations to the open access page -->
                    <div class="column">
                        <a class="ui rcpch_grey button bold fluid" href="{% url 'epilepsy12_user_list' organisation_id=selected_organisation.pk %}">
                            View All Epilepsy12 Staff of 
                            {% with organisation_name=selected_organisation.trust.name|title %}
                            {{ organisation_name|capitalise_org_names }} 
                            {% endwith %}
                        </a>
                    </div>
                    <div class="column">
                        <a class="ui rcpch_primary button bold fluid " href="{% url 'cases' organisation_id=selected_organisation.pk %}">
                            View All Children of
                            {% if selected_organisation.trust %}
                                {% with organisation_name=selected_organisation.trust.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% elif selected_organisation.local_health_board %}
                                {% with organisation_name=selected_organisation.local_health_board.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% endif %}
                        </a>
                    </div>
                    <div class="column" id="publish_button">
                        {% include './organisation/publish_button.html' with selected_organisation=selected_organisation publish_success=publish_success %}
                    </div>

                {% else %}

                    <div class="eight wide column">
                        <a class="ui rcpch_grey button bold fluid" href="{% url 'epilepsy12_user_list' organisation_id=selected_organisation.pk %}">
                            View All Epilepsy12 Staff of
                            {% if selected_organisation.trust %}
                                {% with organisation_name=selected_organisation.trust.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% elif selected_organisation.local_health_board %}
                                {% with organisation_name=selected_organisation.local_health_board.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% endif %}
                        </a>
                    </div>
                    <div class="eight wide  column">
                        <a class="ui rcpch_primary button bold fluid" href="{% url 'cases' organisation_id=selected_organisation.pk %}">
                            View All Children of 
                            {% if selected_organisation.trust %}
                                {% with organisation_name=selected_organisation.trust.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% elif selected_organisation.local_health_board %}
                                {% with organisation_name=selected_organisation.local_health_board.name|title %}
                                {{ organisation_name|capitalise_org_names }} 
                                {% endwith %}
                            {% endif %}
                        </a>
                    </div>

                {% endif %}
        </div>

        <div class='sixteen wide fluid column'>


            <div class="ui three stackable cards">

                <div class="ui card">
                    <div class="content">
                            <div class="ui centered header">
                                <h3>{{ selected_organisation.name }}</h3>
                            </div>
                            <h4 class="ui horizontal divider">
                                <i class="ui  rcpch  small organisation icon "></i>Address
                            </h4>
                                <div class="organisation_details ">
                                    <div class="organisation_address">
                                        <div class="item">
                                            {%if selected_organisation.address1%}<p>{{ selected_organisation.address1 }}</p>{%endif%}
                                            {%if selected_organisation.address2%}<p>{{ selected_organisation.address2 }}</p>{%endif%}
                                            {%if selected_organisation.address3%}<p>{{ selected_organisation.address3 }}</p>{%endif%}
                                            {%if selected_organisation.city%}<p>{{ selected_organisation.city }}</p>{%endif%}
                                            {%if selected_organisation.postcode%}<p>{{ selected_organisation.postcode }}</p>{%endif%}
                                        </div>
                                    </div>
                                </div>
                                <h4 class="ui horizontal divider">
                                    <i class="ui rcpch small address book icon "></i>Details
                                </h4>
                                <div class="organisation_details ">
                                    {% if selected_organisation.telephone %}
                                        <div class="item middle aligned rcpch_icon_text_group">
                                            <i class="ui icon phone"></i>
                                            <p class="rcpch_icon_text">{{ selected_organisation.telephone }}</p>
                                        </div>
                                    {% endif %}
                                    {% if selected_organisation.email %}
                                        <div class="item middle aligned rcpch_icon_text_group">
                                            <i class="ui icon envelope"></i>
                                            <p class="rcpch_icon_text">{{ selected_organisation.email }}</p>
                                        </div>
                                    {% endif %}
                                    {% if selected_organisation.website %}
                                        <div class="item middle aligned rcpch_icon_text_group">
                                            <i class="ui icon linkify"></i>
                                            <p class="rcpch_icon_text">{{ selected_organisation.website }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                </div>


                {% include 'epilepsy12/partials/organisation/cohort_card.html' with cohort_data=cohort_data %}


                <div class="ui  card">
                    <div class="content">
                        <div class="ui centered header">
                            <h3>Completed Patient Records</h3>
                        </div>
                        <div class="">

                                <div class="column">

                                    <div class="four wide stackable column">
                                        {% include 'epilepsy12/partials/charts/progress.html' with percentage=percent_completed_organisation numerator=count_of_current_cohort_registered_completed_cases_in_this_organisation denominator=count_of_all_current_cohort_registered_cases_in_this_organisation title="Completed Patient Records - Organisation" pie_size='med' %}
                                        <div class='rcpch_centred_text'>
                                            <p><small>{{selected_organisation.name}}</small></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="column">
                                    <div class="four wide stackable column">
                                        {% include 'epilepsy12/partials/charts/progress.html' with percentage=percent_completed_trust numerator=count_of_current_cohort_registered_completed_cases_in_this_trust denominator=count_of_all_current_cohort_registered_cases_in_this_trust title="Completed Patient Records - Trust" pie_size='med' %}
                                        <div class='rcpch_centred_text'>
                                            {% if selected_organisation.trust %}
                                                <p><small>{{selected_organisation.trust.name}}</small></p>
                                            {% else %}
                                                <p><small>{{selected_organisation.local_health_board.name}}</small></p>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                        </div>
                    </div>
                </div>




            </div>

        </div>

        <div class="equal width row" style="height: 100%;">

            

                <div class="column" style="height: 100%;">
    
                    <div class="ui rcpch_light_blue fluid card" style="height: 350px;;">
                        <div class="content">
                            <h3 >Distribution by Ethnicity
                                <i
                                    class="info circle icon"
                                    id='ethnicity_help'
                                    data-title='Epilepsy12 Ethnicity Distribution'
                                    data-content="Distribution of ethnicity of children with epilepsy registered across all cohorts at {{selected_organisation}} in the Epilepsy12 audit."
                                    data-position='top right'
                                    _="init js $('#ethnicity_help').popup(); end"
                                ></i>
                            </h3>
                        </div>
    
                        <div class="description">
                                {% if cases_aggregated_by_ethnicity %}
                                    <div id="ethnicity_piechart" style="width:100%; height: 300px;"></div>
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                        </div>
    
                    </div>
    
                    <div class="ui rcpch_light_blue fluid card" style="height: 350px;">
                        <div class="content">
                                <h3>
                                    Distribution by Index of Multiple Deprivation
                                    <i
                                        class="info circle icon"
                                        id='deprivation_help'
                                        data-title='Epilepsy12 Index of Multiple Deprivation'
                                        data-content="1st quintile = most deprived. 5th quintile = least deprived. Distribution of Index of Multiple Deprivation scores of children with epilepsy registered across all cohorts at {{selected_organisation}} in the Epilepsy12 audit."
                                        data-position='top right'
                                        _="init js $('#deprivation_help').popup(); end"
                                    ></i>
                                </h3>
                        </div>
    
                        <div class='description'>
                            {% if cases_aggregated_by_deprivation %}
                                <div id="index_of_multiple_deprivation_score_piechart" style="width:100%; height: 300px;"></div>
                            {% else %}
                                <h5>No data yet!<h5>
                            {% endif %}
                        </div>
                        
                    </div>
                
                </div>
                
                <div class="column" style="height: 100%;">
    
                    <div class="ui rcpch_light_blue fluid card" style="height: 350px;">
                        <div class="content">
                                <h3>Distribution by Sex
                                    <i
                                        class="info circle icon"
                                        id='sex_help'
                                        data-title='Epilepsy12 Sex Distribution'
                                        data-content="Distribution of sex of children with epilepsy registered across all cohorts at {{selected_organisation}} in the Epilepsy12 audit."
                                        data-position='top right'
                                        _="init js $('#sex_help').popup(); end"
                                    ></i>
                                </h3>
                        </div>
                    
                        <div class='description'>
                                {% if cases_aggregated_by_sex %}
                                    <div id="sex_piechart" style="width:100%; height: 300px;"></div>
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                        </div>
    
                    </div>
                    
                    <div class="ui rcpch_light_blue fluid card" style="height: 350px;">
                        <div class="content">
                                <h3>Distribution by Age Range
                                    <i
                                        class="info circle icon"
                                        id='age_range_help'
                                        data-title='Epilepsy12 Age Range Distribution'
                                        data-content="Distribution of age ranges of children with epilepsy registered across all cohorts at {{selected_organisation}} in the Epilepsy12 audit."
                                        data-position='top right'
                                        _="init js $('#age_range_help').popup(); end"
                                    ></i>
                                </h3>
                        </div>
                    
                        <div class='description'>
                                {% if cases_aggregated_by_age_range %}
                                    <div id="age_range_piechart" style="width:100%; height: 300px;"></div>
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                        </div>
    
                    </div>
    
                </div>
                
                <div class="column" style="height:100%;">

                    <div class="ui rcpch_light_blue fluid card" style="height: 715px;">
                        <div class="content">
                            <h3>{{selected_organisation}}
                                <i
                                    class="info circle icon"
                                    id='organisation_cases_help'
                                    data-title='Epilepsy12 Cases Distribution'
                                    data-content="Distribution of children with epilepsy registered within cohort {{cohort}} at {{selected_organisation}} in the Epilepsy12 audit."
                                    data-position='top right'
                                    _="init js $('#organisation_cases_help').popup(); end"
                                ></i>
                            </h3>
                        </div>
                        <div id="organisation_cases_map" style="width:100%; height: 700px;"></div>
                        <div class="extra content">
                            <p style="color: white; font-family: Montserrat-Regular;">
                                Max: {{ aggregated_distances.max_distance_travelled_mi }} mi 
                                ({{ aggregated_distances.max_distance_travelled_km }} km)
                            </p>
                            <p style="color: white; font-family: Montserrat-Regular;">
                                Mean: {{ aggregated_distances.mean_distance_travelled_mi }} mi 
                                ({{ aggregated_distances.mean_distance_travelled_km }} km)
                            </p>
                            <p style="color: white; font-family: Montserrat-Regular;">
                                Median: {{ aggregated_distances.median_distance_travelled_mi }} mi 
                                ({{ aggregated_distances.median_distance_travelled_km }} km)
                            </p>
                            <p style="color: white; font-family: Montserrat-Regular;">
                                Std: {{ aggregated_distances.std_distance_travelled_mi }} mi 
                                ({{ aggregated_distances.std_distance_travelled_km }} km)
                            </p>
                        </div>
                    </div>

                </div>

            
            
        </div>

        <div class="sixteen wide right fluid column">
            <div class="ui three stackable cards">

                <div class="ui rcpch_light_blue fluid card">
                    <div class="content">
                        <!-- ENGLISH ORG -->
                        {% if selected_organisation.trust %}
                            <h3>
                                Integrated Care Board
                                <i
                                    class="info circle icon"
                                    id='icb_help'
                                    data-title='Epilepsy12 Cases Distribution'
                                    data-content="Density of children with epilepsy across ICBs, registered within cohort {{cohort}} only and who have completed one year of care at {{selected_organisation}} in the Epilepsy12 audit."
                                    data-position='top right'
                                    _="init js $('#icb_help').popup(); end"
                                ></i>
                            </h3>
                            
                        <!-- WELSH ORG -->
                        {% else %}
                            <h3>Local Health Board</h3>
                        {% endif %}
                    </div>
                    <div>
                        {% if selected_organisation.trust %}
                        <div 
                            id="icb_map" 
                            style="width:100%;height:600px;"
                        ></div>
                        {% else %}
                        <div 
                            id="lhb_map" 
                            style="width:100%;height:600px;"
                            _='init js 
                                var lhb_plotly_map = {{ lhb_heatmap|safe }}; 
                                Plotly.newPlot("lhb_map", lhb_plotly_map.data, lhb_plotly_map.layout);
                                end'></div>
                        {% endif %}
                    </div>
                </div>

                {% if selected_organisation.trust %}
                <div class="ui rcpch_light_blue fluid card">
                    <div class="content">
                        <h3>
                            NHS England Region
                            <i
                                class="info circle icon"
                                id='nhsregion_help'
                                data-title='Epilepsy12 Cases Distribution'
                                data-content="Density of children with epilepsy across NHS England Regions, registered within cohort {{cohort}} only and who have completed one year of care at {{selected_organisation}} in the Epilepsy12 audit."
                                data-position='top right'
                                _="init js $('#nhsregion_help').popup(); end"
                            ></i>
                        </h3>
                    </div>
                    <div>
                        <div 
                            id="nhs_region_map" style="width:100%;height:600px;"
                        ></div>
                    </div>
                </div>
                {% else %}
                <!-- leave a blank space in welsh orgs -->
                <div class="ui hidden card"></div>
                {% endif %}

                <div class="ui rcpch_light_blue fluid card">
                    <div class="content">
                        <h3>
                            Country
                            <i
                                class="info circle icon"
                                id='country_help'
                                data-title='Epilepsy12 Cases Distribution'
                                data-content="Density of children with epilepsy across countries, registered within cohort {{cohort}} only and who have completed one year of care at {{selected_organisation}} in the Epilepsy12 audit."
                                data-position='top right'
                                _="init js $('#country_help').popup(); end"
                            ></i>
                        </h3>
                    </div>
                    <div>
                        <div 
                            id="country_map" 
                            style="width:100%;height:600px;"></div>
                    </div>
                </div>

            </div>
        </div>

        {% if count_of_current_cohort_registered_completed_cases_in_this_organisation > 0 %}

            <div class="sixteen wide column">
                <div
                    class="sixteen wide rcpch segment"
                    hx-get="{% url 'selected_trust_kpis' organisation_id=selected_organisation.pk access='private' %}"
                    hx-trigger="load" hx-swap='innerHTML'
                    hx-indicator='#kpis'
                    hx-target="#kpis">
                    <div id='kpis'>
                        <div class="ui active centered inline loader"></div>
                    </div>

                </div>
            </div>

            {% include 'epilepsy12/partials/organisation/individual_metrics.html' with organisation_id=selected_organisation.pk cohort=cohort_data.submitting_cohort %}

        {% else %}
        
            <div class="ui rcpch_info icon message">
                <i class='exclamation circle icon'></i>
                <div class="content">
                    <div class="header">
                        No data
                    </div>
                    <p>There is no data for cohort {{cohort_data.submitting_cohort}} at {{selected_organisation.name}}. For further information on publication dates, please check <a href="www.epilepsy12.rcpch.ac.uk">our Epilepsy12 website</a></p>
                </div>
            </div>

        {% endif  %}

        </div>





</div>

<script>
    var organisation_plotly_map = {{ organisation_cases_map|safe }}
    
    var country_plotly_map = {{ country_heatmap|safe }}; 
    Plotly.newPlot("country_map", country_plotly_map.data, country_plotly_map.layout);
    Plotly.react('organisation_cases_map', organisation_plotly_map.data, organisation_plotly_map.layout)
    
    var nhs_region_data = {{ nhsregion_heatmap|safe }};
    var icb_data = {{ icb_heatmap|safe }};
    Plotly.react("icb_map", icb_data.data, icb_data.layout);
    Plotly.react("nhs_region_map", nhs_region_data.data, nhs_region_data.layout);

    var index_of_multiple_deprivation_score_piechart = {{ index_of_multiple_deprivation_score_piechart|safe }};
    var ethnicity_piechart = {{ ethnicity_piechart|safe }};
    var sex_piechart = {{ sex_piechart|safe }};
    var age_range_piechart = {{ age_range_piechart|safe }};
    Plotly.react('index_of_multiple_deprivation_score_piechart', index_of_multiple_deprivation_score_piechart.data, index_of_multiple_deprivation_score_piechart.layout);
    Plotly.react('ethnicity_piechart', ethnicity_piechart.data, ethnicity_piechart.layout);
    Plotly.react('sex_piechart', sex_piechart.data, sex_piechart.layout);
    Plotly.react('age_range_piechart', age_range_piechart.data, age_range_piechart.layout);
</script>
