{% load static %}
{% load epilepsy12_template_tags %}
{% csrf_token %} 

<div class="ui grid container selected_organisation_container">

        <div class="right aligned sixteen wide unpadded fluid column">
            <div class="ui rcpch_light_blue label">Organisation View</div>
        </div>
    
        {% if request.user.is_rcpch_audit_team_member or request.user.is_rcpch_staff or request.user.is_superuser %}
            <div class='sixteen wide column'>
                <div class="field" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                    {% url 'selected_organisation_summary' organisation_id=selected_organisation.pk as hx_post %}
                    {% include 'epilepsy12/partials/page_elements/rcpch_organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#rcpch_organisation_select" hx_trigger="change" hx_swap="innerHTML" hx_name="selected_organisation_summary" test_positive=selected_organisation.pk label="Select a organisation trust to view" hx_default_text="Search general paediatric organisations..." data_position="top left" %}
                </div>
            </div>
        {% endif %}

        <div class="fluid row stackable org_view_all_buttons_wrapper">
            <div class="eight wide column">
                <a class="ui rcpch_grey fluid button" href="{% url 'epilepsy12_user_list' organisation_id=selected_organisation.pk %}">
                    View All {{selected_organisation.ParentName}} Epilepsy12 Staff
                </a>
            </div>
            <div class="eight wide  column">
                <a class="ui rcpch_primary fluid button" href="{% url 'cases' organisation_id=selected_organisation.pk %}">
                    View All {{selected_organisation.ParentName}} Children
                    </a>
            </div>
        </div>

        <div class='sixteen wide fluid column'>

            
            <div class="ui three stackable cards">
                
                <div class="ui card">
                    <div class="content">
                        <div class="organisation_address_container">
                            <div class="ui centered header organisation_address">
                                <h3>{{ selected_organisation.ParentName }}</h3>
                            </div>
                            <h4 class="ui horizontal divider">
                                <i class="ui  rcpch  small organisation icon "></i>Address
                            </h4>
                                <div class="organisation_details ">
                                    <div class="organisation_address">
                                        <div class="item">
                                            {%if selected_organisation.Address1%}<p>{{ selected_organisation.Address1 }}</p>{%endif%}
                                            {%if selected_organisation.Address2%}<p>{{ selected_organisation.Address2 }}</p>{%endif%}
                                            {%if selected_organisation.Address3%}<p>{{ selected_organisation.Address3 }}</p>{%endif%}
                                            {%if selected_organisation.City%}<p>{{ selected_organisation.City }}</p>{%endif%}
                                            {%if selected_organisation.Postcode%}<p>{{ selected_organisation.Postcode }}</p>{%endif%}
                                        </div>
                                    </div>
                                </div>
                                <h4 class="ui horizontal divider">
                                    <i class="ui rcpch small address book icon "></i>Details
                                </h4>
                                <div class="organisation_details ">
                                    <div class="item middle aligned rcpch_icon_text_group">
                                        <i class="ui icon phone"></i>
                                        {%if selected_organisation.Phone%}
                                        <p class="rcpch_icon_text">{{ selected_organisation.Phone }}</p>
                                        {%else%}
                                        <p class="rcpch_icon_text">Can't find phone number</p>
                                        {%endif%}
                                    </div>
                                    <div class="item middle aligned rcpch_icon_text_group">
                                        <i class="ui icon envelope"></i>
                                        {%if selected_organisation.Email%}
                                        <p class="rcpch_icon_text">{{ selected_organisation.Email }}</p>
                                        {%else%}
                                        <p class="rcpch_icon_text">Can't find email</p>
                                        {%endif%}
                                    </div>
                                    <div class="item middle aligned rcpch_icon_text_group">
                                        <i class="ui icon linkify"></i>
                                        {%if selected_organisation.Website%}
                                        <p class="rcpch_icon_text">{{ selected_organisation.Website }}</p>
                                        {%else%}
                                        <p class="rcpch_icon_text">Can't find website</p>
                                        {%endif%}
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                
                <div class="ui card">
                    <div class="content">                      
                        <div class="rcpch_summary_stats">
                            
                            
                                <div class="rcpch_summary_stats_row">
                                    <h1 class="">{{cohort_data.cohort}}</h1>
                                    <h2>Current Cohort</h2>
                                    <h3>
                                        {% if cohort_data.days_remaining == 0 %}
                                            Actively recruiting
                                        {% else %}
                                            Recruitment closed
                                        {% endif %}
                                    </h3>
                                    <h4>{{cohort_data.cohort_start_date}}-{{cohort_data.cohort_end_date}}</h4>
                                </div>

                                <div class="rcpch_summary_stats_row">
                                    <h1>{{cohort_data.days_remaining}}</h1>
                                    <h2>Days remaining</h2>
                                    {% if cohort_data.days_remaining == 0 %}
                                        <h3>Submission date passed</h3>
                                    <h4>({{cohort_data.submission_date}})</h4>
                                                                {% endif %}
                                </div>
        
                         
                        </div>
                    </div>
                </div>
                

                <div class="ui  card">
                    <div class="content">
                        <div class="ui centered header">
                            <h3>Completed Patient Records</h3>
                        </div>
                        <div class="">
    
                                <div class="column">
                                    
                                    <div class="four wide stackable column">
                                        {% include 'epilepsy12/partials/charts/progress.html' with percentage=percent_completed_organisation numerator=count_of_current_cohort_registered_completed_cases_in_this_organisation denominator=count_of_all_current_cohort_registered_cases_in_this_organisation title="Completed Patient Records - Organisation" pie_size='med' %}
                                        <div class='rcpch_centred_text'>
                                            <p><small>{{selected_organisation.OrganisationName}}</small></p>
                                        </div>
                                    </div>
            
                                </div>
                                <div class="column">
                                    <div class="four wide stackable column">
                                        {% include 'epilepsy12/partials/charts/progress.html' with percentage=percent_completed_trust numerator=count_of_current_cohort_registered_completed_cases_in_this_trust denominator=count_of_all_current_cohort_registered_cases_in_this_trust title="Completed Patient Records - Trust" pie_size='med' %}
                                        <div class='rcpch_centred_text'>
                                            <p><small>{{selected_organisation.ParentOrganisation_OrganisationName}}</small></p>
                                        </div>
                                    </div>
                                    
                                </div>
    
                        </div>
                    </div>
                </div>

                
                

            </div>
    
        </div>

        
        
        <div class='sixteen wide fluid column'>

            
            <div class="ui three stackable cards">
                               
                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        
                        <h3 >Distribution by Ethnicity</h3>
                        
                    </div>

                        <div class="">
                            <div id="ethnicity_piechart" class="ui rcpch_chart_container stackable segment">
                                {% if cases_aggregated_by_ethnicity %}
                                    {% include 'epilepsy12/partials/charts/ethnicity_piechart.html' with cases_aggregated_by_ethnicity=cases_aggregated_by_ethnicity %}
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                            </div>
                        
                    </div>
                </div>
                
                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        
                            <h3>Distribution by Sex</h3>
                        
                    </div>
                    <div class="">
                        <div class='description'>
                            <div id="cases_aggregated_by_sex" class="ui rcpch_chart_container stackable segment">
                                {% if cases_aggregated_by_sex %}
                                    {% include 'epilepsy12/partials/charts/cases_aggregated_by_sex.html' with cases_aggregated_by_sex=cases_aggregated_by_sex %}
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        
                            <h3>
                                Distribution by Index of Multiple Deprivation
                                <i 
                                    class="info circle icon"
                                    id='deprivation_help'
                                    data-title='Epilepsy12 Index of Multiple Deprivation'
                                    data-content="1st quintile = most deprived"
                                    data-position='top right'
                                    _="init js $('#deprivation_help').popup(); end"
                                ></i>
                            </h3>
                        
                    </div>
                    <div class="">
                        <div class='description'>
                            <div id="cases_aggregated_by_ethnicity" class="ui rcpch_chart_container stackable segment">
                                {% if cases_aggregated_by_deprivation %}
                                    {% include 'epilepsy12/partials/charts/deprivation_scores.html' with cases_aggregated_by_ethnicity=cases_aggregated_by_ethnicity %}
                                {% else %}
                                    <h5>No data yet!<h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                
                

            </div>
    
        </div>
        
        <div class="sixteen wide right fluid column">
            <div class="ui three stackable cards">
                               
                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        {% if selected_organisation.ons_region.ons_country.Country_ONS_Name == "Wales" %}
                        <h3 >Local Health Board</h3>
                        {% else %}
                        <h3 >Integrated Care Board</h3>
                        {% endif %}
                    </div>
                    <div>
                        {% if selected_organisation.ons_region.ons_country.Country_ONS_Name == "Wales" %}
                            {% include 'epilepsy12/partials/charts/map.html' with abstraction_level='lhb' abstraction_level_border_colour='#ff8000' abstraction_level_data=lhb_tiles selected_organisation=selected_organisation hospital_region_name=selected_organisation.nhs_region.NHS_Region %}
                        {% else %}
                            {% include 'epilepsy12/partials/charts/map.html' with abstraction_level='icb' abstraction_level_border_colour='#ff8000' abstraction_level_data=icb_tiles selected_organisation=selected_organisation hospital_region_name=selected_organisation.integrated_care_board.ICB_Name %}
                        {% endif %}
                    </div>
                </div>

                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        <h3 >NHS Region</h3>
                    </div>
                    <div>
                        {% include 'epilepsy12/partials/charts/map.html' with abstraction_level='nhs_region' abstraction_level_border_colour='#ffd200' abstraction_level_data=nhsregion_tiles selected_organisation=selected_organisation hospital_region_name=selected_organisation.nhs_region.NHS_Region %}
                    </div>
                </div>
                
                <div class="ui rcpch_light_blue  card">
                    <div class="content">
                        <h3 >Country</h3>
                    </div>
                    <div>
                        {% include 'epilepsy12/partials/charts/map.html' with abstraction_level='country' abstraction_level_border_colour='#66cc33' abstraction_level_data=country_tiles selected_organisation=selected_organisation hospital_region_name=selected_organisation.ons_region.ons_country.Country_ONS_Name %}
                    </div>
                </div>

            </div>
        </div>

        
            
        <div 
            class="sixteen wide rcpch segment" 
            hx-get="{% url 'selected_trust_kpis' organisation_id=selected_organisation.pk %}" 
            hx-trigger="load" hx-swap='innerHTML'
            hx-indicator='#kpis'
            hx-target="#kpis">
            <div id='kpis'>
                <div class="ui active centered inline loader"></div>
            </div>
            
        </div>
        
        {% include 'epilepsy12/partials/organisation/individual_metrics.html' with organisation_id=selected_organisation.pk %}
            
        </div>
                
            
            

    
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>