<div class="ui segment">
    
    {% url 'consultant_paediatrician_referral_made' assessment_id=assessment.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.consultant_paediatrician_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#general_paediatric" hx_trigger="click" label="Has a referral been made to a consultant paediatrician with expertise in epilepsy?" data_position="top left" %}

    {% if assessment.consultant_paediatrician_referral_made %}

        <div class="ui message">

            {% url 'consultant_paediatrician_referral_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#general_paediatric" hx_trigger="change" label="Date of referral to a consultant paediatrician with expertise in epilepsy." date_value=assessment.consultant_paediatrician_referral_date input_date_field_name="consultant_paediatrician_referral_date" data_position="top left" %}
            
            {% url 'consultant_paediatrician_input_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#general_paediatric" hx_trigger="change" label="Date seen by a consultant paediatrician with expertise in epilepsy." date_value=assessment.consultant_paediatrician_input_date input_date_field_name="consultant_paediatrician_input_date" data_position="top left" %}

            <div class="inline field">
                <label class='toggle_button_label'>Time to Review</label>
                <input class="ui input" type="text" value="{{assessment.consultant_paediatrician_wait}}" disabled/>
            </div>

            {% comment%}New Code here{% endcomment%}

            {% if active_general_paediatric_site %}
                <div class="field">
                    <span>
                        <i class="green check circle outline icon"></i>
                            <label>General paediatric centre actively involved in care</label>
                        <div class="ui right action input">
                            
                            <input disabled value="{{active_general_paediatric_site.hospital_trust.OrganisationName}} ({{active_general_paediatric_site.hospital_trust.ParentName}})">
                            <div class="ui buttons">
                                <button 
                                    class="ui positive button"
                                    hx-post="{% url 'delete_general_paediatric_centre' site_id=active_general_paediatric_site.pk assessment_id=assessment.pk %}"
                                    hx-target="#general_paediatric"
                                    hx-swap="innerHTML"
                                    hx-trigger="click"
                                >Delete</button>
                                <button 
                                    class="ui positive button"
                                    hx-post="{% url 'update_general_paediatric_centre_pressed' assessment_id=assessment.pk site_id=active_general_paediatric_site.pk action='edit' %}"
                                    hx-target="#general_paediatric"
                                    hx-swap="innerHTML"
                                    hx-trigger="click"
                                >Edit</button>
                                {% if general_paediatric_edit_active %}
                                    <button 
                                    class="ui negative button"
                                    hx-post="{% url 'update_general_paediatric_centre_pressed' assessment_id=assessment.pk site_id=active_general_paediatric_site.pk action='cancel' %}"
                                    hx-target="#general_paediatric"
                                    hx-swap="innerHTML"
                                    hx-trigger="click"
                                >Cancel</button>
                                {% endif %}
                            </div>    
                            
                        </div>
                    </span>
                
                </div>  
                {% if general_paediatric_edit_active %}
                
                    <div class="field" id="allocate_general_paediatric_centre" hx-get="{% url 'hospital_list' %}" hx-target="#allocate_general_paediatric_centre" hx-swap="innerHTML" hx-trigger="load once" name="edit_general_paediatric_centre" hx-vals='{"hx_target":"#general_paediatric", "hx_assessment_id": "{{assessment.pk}}", "hx_site_id":"{{active_general_paediatric_site.pk}}", "hx_name":"general_paediatric_centre"}'>
                        {% include 'epilepsy12/partials/page_elements/hospitals_select.html' %}
                    </div>
                {% endif %}
                
            {% else %}
                <div class="field" id="allocate_general_paediatric_centre" hx-get="{% url 'hospital_list' %}" hx-target="#allocate_general_paediatric_centre" hx-swap="innerHTML" hx-trigger="load once" name="general_paediatric_centre" hx-vals='{"hx_target":"#general_paediatric", "hx_assessment_id": "{{assessment.pk}}", "hx_name":"general_paediatric_centre"}'>
                    <p>There is currently no general paediatric centre involved in the care of {{assessment.registration.case.first_name}} {{assessment.registration.case.surname}}</label>
                    {% include 'epilepsy12/partials/page_elements/hospitals_select.html' %}
                </div>
            {% endif %}

            {% if historical_general_paediatric_sites|length > 0 %}
                
                <div class="field">
                    <label>General paediatric centres previously involved in care</label>
                    {% for historical_general_paediatric_site in historical_general_paediatric_sites %}
                        <li>{{historical_general_paediatric_site.hospital_trust.OrganisationName}}</li>
                    {% endfor %}
                </div>
                

            {% else %}
                
                <div class="field">
                    
                    <p>No general paediatric centres have previously been involved in the care of {{assessment.registration.case.first_name}} {{assessment.registration.case.surname}}</p>
                    
                </div>
                

            {% endif %}


            {% comment%}Ends here{% endcomment%}

        </div>

    {% endif %}
    
</div>