{% load epilepsy12_template_tags %}
<div class="ui segment">

    <div class="ui rcpch_info message">
    
      <div class="header">
        <i class="circle info icon"></i>Criteria for referral to a children's epilepsy surgery service:
      </div>
      <ol>
        <li>Children with catastrophic early onset epilepsy with evidence of lateralisation of the seizure onset</li>
        <li>All children under 24 months old with evidence of focality of seizure onset, with or without an MRI evident lesion</li>
        <li>Children of any age with evident focal epilepsy, or lateralised seizures associated with congenital hemiplegia, resistant to two appropriate anti-epileptic drugs (AEDs)</li>
        <li>Children who have epilepsy associated with a lateralised abnormality seen on a brain scan</li>
        <li>Children with epilepsy associated with Sturge Weber syndrome, benign tumours with developmental issues and/or ongoing seizures, or Rasmussen’s syndrome</li>
        <li>Children of any age with epilepsy associated with tuberous sclerosis resistant to two AEDs where seizures may arise from a single focus (probably from a single tuber)</li>
        <li>Children who have ‘drop attacks’ as part of a more complex epilepsy</li>
        <li>Children with epilepsy associated with hypothalamic hamartoma</li>
      </ol>
        {% url 'childrens_epilepsy_surgical_service_referral_criteria_met' assessment_id=assessment.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.childrens_epilepsy_surgical_service_referral_criteria_met hx_post=hx_post hx_swap="innerHTML" hx_target="#childrens_epilepsy_surgical_service" hx_trigger="click" tooltip_id='childrens_epilepsy_surgical_service_referral_criteria_met_tooltip' label=assessment.get_childrens_epilepsy_surgical_service_referral_criteria_met_help_label_text reference=assessment.get_childrens_epilepsy_surgical_service_referral_criteria_met_help_reference_text data_position="top left" enabled=perms.epilepsy12.change_assessment %}

  </div>
    
    
        {% url 'childrens_epilepsy_surgical_service_referral_made' assessment_id=assessment.pk as hx_post %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.childrens_epilepsy_surgical_service_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#childrens_epilepsy_surgical_service" hx_trigger="click" tooltip_id='childrens_epilepsy_surgical_service_tooltip' label=assessment.get_childrens_epilepsy_surgical_service_referral_made_help_label_text reference=assessment.get_childrens_epilepsy_surgical_service_referral_made_help_reference_text data_position="top left" enabled=perms.epilepsy12.change_assessment %}

        {% if assessment.childrens_epilepsy_surgical_service_referral_made %}

            <div class="ui rcpch_important message">
                
                {% url 'childrens_epilepsy_surgical_service_referral_date' assessment_id=assessment.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#childrens_epilepsy_surgical_service" hx_trigger="change delay:1s" label=assessment.get_childrens_epilepsy_surgical_service_referral_date_help_label_text reference=assessment.get_childrens_epilepsy_surgical_service_referral_date_help_reference_text date_value=assessment.childrens_epilepsy_surgical_service_referral_date input_date_field_name="childrens_epilepsy_surgical_service_referral_date" error_message=error_message enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}
            
                {% url 'childrens_epilepsy_surgical_service_input_date' assessment_id=assessment.pk as hx_post %}
                {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#childrens_epilepsy_surgical_service" hx_trigger="change delay:1s" label=assessment.get_childrens_epilepsy_surgical_service_input_date_help_label_text reference=assessment.get_childrens_epilepsy_surgical_service_input_date_help_reference_text date_value=assessment.childrens_epilepsy_surgical_service_input_date input_date_field_name="childrens_epilepsy_surgical_service_input_date" error_message=error_message enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}

                
                <div class="inline field">
                    <label class='toggle_button_label'>Time to Review</label>
                    <input class="ui input" type="text" value="{% wait_days_and_weeks assessment.childrens_epilepsy_surgery_wait %}" disabled/>
                </div>

                {% if error_message %}
                    <div class='ui rcpch_warning message'>
                        {{ error_message }}
                    </div>
                {% endif %}

                {% if active_surgical_site %}

                    <div class="field">
                        <span>
                            <i class="rcpch_pink check circle outline icon"></i>
                                <label>Surgical centre actively involved in care</label>
                            <div class="ui right action input">
                                
                                <input disabled value="{{active_surgical_site.organisation.OrganisationName}} ({{active_surgical_site.organisation.ParentOrganisation_OrganisationName}})">
                                <div class="ui buttons">
                                
                                    {% if not surgery_edit_active %}
                                        
                                        <button 
                                            {% if perms.epilepsy12.change_assessment %}
                                                class="ui rcpch_primary button"
                                            {% else %}
                                                class="ui rcpch_primary disabled button"
                                            {% endif %}
                                            hx-post="{% url 'update_epilepsy_surgery_centre_pressed' assessment_id=assessment.pk site_id=active_surgical_site.pk action='edit' %}"
                                            hx-target="#childrens_epilepsy_surgical_service"
                                            hx-swap="innerHTML"
                                            hx-trigger="click"
                                        >Edit</button>

                                        <button 
                                            {% if perms.epilepsy12.delete_site %}
                                                class="ui rcpch_danger button"
                                            {% else %}
                                                class="ui rcpch_danger disabled button"
                                            {% endif %}
                                            hx-post="{% url 'delete_epilepsy_surgery_centre' site_id=active_surgical_site.pk assessment_id=assessment.pk %}"
                                            hx-target="#childrens_epilepsy_surgical_service"
                                            hx-swap="innerHTML"
                                            hx-include="[name='organisation']"
                                            hx-trigger="click"
                                        >Delete</button>

                                    {% endif %}
                                </div>    
                                
                            </div>
                        </span>
                    
                    </div>  
                    {% if surgery_edit_active %}
                    
                        <div class="field" id="allocate_surgical_centre">
                            {% url 'edit_epilepsy_surgery_centre' assessment_id=assessment.pk site_id=active_surgical_site.pk as hx_post %}
                            {% url 'update_epilepsy_surgery_centre_pressed' assessment_id=assessment.pk site_id=active_surgical_site.pk action='cancel' as hx_cancel %}
                            {% include 'epilepsy12/partials/page_elements/organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#childrens_epilepsy_surgical_service" hx_trigger="click" hx_swap="innerHTML" hx_name="edit_epilepsy_surgery_centre" test_positive=active_surgical_site.pk label="Update Children's Surgical Centre" hx_default_text="Search children's surgical centres..." data_position="top left" enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}
                        </div>

                    {% endif %}
                    
                {% else %}

                    <div class="field" id="allocate_surgical_centre">
                        <p>There is currently no surgical centre involved in the care of {{assessment.registration.case.first_name}} {{assessment.registration.case.surname}}</label>
                        {% url 'epilepsy_surgery_centre' assessment_id=assessment.pk as hx_post %}
                        {% url 'update_epilepsy_surgery_centre_pressed' assessment_id=assessment.pk site_id=active_surgical_site.pk action='cancel' as hx_cancel %}
                        {% include 'epilepsy12/partials/page_elements/organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#childrens_epilepsy_surgical_service" hx_trigger="click" hx_swap="innerHTML" hx_name="epilepsy_surgery_centre" test_positive=None label="Allocate Children's Surgical Centre" hx_default_text="Search children's surgical centres..." data_position="top left" enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}
                    </div>
                    
                {% endif %}

            </div>

        {% endif %}
    
    
</div>
