


<div class="ui segment">

    {% url 'epilepsy_specialist_nurse_referral_made' assessment_id=assessment.pk as hx_post %}
    {% if perms.epilepsy12.change_assessment %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.epilepsy_specialist_nurse_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#epilepsy_specialist_nurse" hx_trigger="click" label=assessment.get_epilepsy_specialist_nurse_referral_made_help_label_text reference=assessment.get_epilepsy_specialist_nurse_referral_made_help_reference_text data_position='top left' disabled=False %}
    {% else %}
        {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.epilepsy_specialist_nurse_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#epilepsy_specialist_nurse" hx_trigger="click" label=assessment.get_epilepsy_specialist_nurse_referral_made_help_label_text reference=assessment.get_epilepsy_specialist_nurse_referral_made_help_reference_text data_position='top left' disabled=True %}
    {% endif %}

    {% if assessment.epilepsy_specialist_nurse_referral_made %}

        <div class="ui rcpch_lightest_blue message">

            {% url 'epilepsy_specialist_nurse_referral_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#epilepsy_specialist_nurse" hx_trigger="change" label=assessment.get_epilepsy_specialist_nurse_referral_date_help_label_text reference=assessment.get_epilepsy_specialist_nurse_referral_date_help_reference_text date_value=assessment.epilepsy_specialist_nurse_referral_date data_position='top left' input_date_field_name="epilepsy_specialist_nurse_referral_date" %}
                
            {% url 'epilepsy_specialist_nurse_input_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#epilepsy_specialist_nurse" hx_trigger="change" label=assessment.get_epilepsy_specialist_nurse_input_date_help_label_text reference=assessment.get_epilepsy_specialist_nurse_input_date_help_reference_text date_value=assessment.epilepsy_specialist_nurse_input_date data_position='top left' input_date_field_name="epilepsy_specialist_nurse_input_date" %}

            <div class="inline field">
                <label class='toggle_button_label'>Time to Review</label>
                <input class="ui input" type="text" value="{{assessment.epilepsy_nurse_specialist_wait}}" disabled/>
            </div>
        
        </div>

    {% endif %}
</div>