{% load epilepsy12_template_tags %}
<div class="ui segment">
    
    {% url 'paediatric_neurologist_referral_made' assessment_id=assessment.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.paediatric_neurologist_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurology" hx_trigger="click" tooltip_id='paediatric_neurologist_referral_made_tooltip' label=assessment.get_paediatric_neurologist_referral_made_help_label_text reference=assessment.get_paediatric_neurologist_referral_made_help_reference_text data_position="top left" enabled=perms.epilepsy12.change_assessment %}

    {% if assessment.paediatric_neurologist_referral_made %}

        <div class="ui rcpch_important message">

            {% url 'paediatric_neurologist_referral_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurology" hx_trigger="change delay:1s" label=assessment.get_paediatric_neurologist_referral_date_help_label_text reference=assessment.get_paediatric_neurologist_referral_date_help_reference_text date_value=assessment.paediatric_neurologist_referral_date input_date_field_name="paediatric_neurologist_referral_date" error_message=error_message enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}
            
            {% url 'paediatric_neurologist_input_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurology" hx_trigger="change delay:1s" label=assessment.get_paediatric_neurologist_input_date_help_label_text reference=assessment.get_paediatric_neurologist_input_date_help_reference_text date_value=assessment.paediatric_neurologist_input_date input_date_field_name="paediatric_neurologist_input_date" error_message=error_message enabled=perms.epilepsy12.change_assessment has_permission=perms.epilepsy12.change_assessment %}

            <div class="inline field">
                <label class='toggle_button_label'>Time to Review</label>
                <input class="ui input" type="text" value="{% wait_days_and_weeks assessment.paediatric_neurologist_wait %}" disabled/>
            </div>

            {% if error_message %}
                <div class='ui rcpch_warning message'>
                    {{ error_message }}
                </div>
            {% endif %}

            

            {% if active_neurology_site %}

                            <div class="field">
                                <span>
                                    <i class="rcpch_pink check circle outline icon"></i>
                                     <label>Paediatric neurology centre actively involved in care</label>
                                    <div class="ui right action input">
                                        
                                        <input disabled value="{{active_neurology_site.organisation.OrganisationName}} ({{active_neurology_site.organisation.ParentOrganisation_OrganisationName}})">

                                        {% if not neurology_edit_active %}

                                            <div class="ui buttons">

                                                    <button 
                                                        {% if perms.epilepsy12.delete_assessment %}
                                                            class="ui rcpch_danger button"
                                                        {% else %}
                                                            class="ui rcpch_danger disabled button"
                                                        {% endif %}
                                                        hx-post="{% url 'delete_paediatric_neurology_centre' site_id=active_neurology_site.pk assessment_id=assessment.pk %}"
                                                        hx-target="#paediatric_neurology"
                                                        hx-swap="innerHTML"
                                                        hx-include="[name='organisation']"
                                                        hx-trigger="click"
                                                    >Delete</button>

                                                    <button 
                                                        {% if perms.epilepsy12.change_assessment %}
                                                            class="ui rcpch_primary button"
                                                        {% else %}
                                                            class="ui rcpch_primary disabled button"
                                                        {% endif %}
                                                        hx-post="{% url 'update_paediatric_neurology_centre_pressed' assessment_id=assessment.pk site_id=active_neurology_site.pk action='edit' %}"
                                                        hx-target="#paediatric_neurology"
                                                        hx-swap="innerHTML"
                                                        hx-trigger="click"
                                                    >Edit</button>
                                                
                                            </div>

                                        {% endif %}
                                        
                                    </div>
                                </span>
                            
                            </div>
                            {% if neurology_edit_active %}
                            
                                <div class="field" id="allocate_paediatric_neurology_centre">
                                    {% url 'update_paediatric_neurology_centre_pressed' assessment_id=assessment.pk site_id=active_neurology_site.pk action='cancel' as hx_cancel %}
                                    {% url 'edit_paediatric_neurology_centre' assessment_id=assessment.pk site_id=active_neurology_site.pk as hx_post %}
                                    {% include 'epilepsy12/partials/page_elements/organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#paediatric_neurology" hx_trigger="click" hx_swap="innerHTML" hx_name="edit_paediatric_neurology_centre" test_positive=active_paediatric_neurology_centre.pk label="Update Paediatric Neurology Centre" hx_default_text="Search paediatric neurology centres..." data_position="top left" enabled=perms.epilepsy12.change_assessment hx_cancel=hx_cancel %}
                                </div>

                            {% endif %}
                            
            {% else %}

                <div class="field" id="allocate_paediatric_neurology_centre">
                    <p>There is currently no paediatric neurology centre involved in the care of {{assessment.registration.case.first_name}} {{assessment.registration.case.surname}}</label>
                    {% url 'paediatric_neurology_centre' assessment_id=assessment.pk as hx_post %}
                    {% url 'update_paediatric_neurology_centre_pressed' assessment_id=assessment.pk site_id=active_neurology_site.pk action='cancel' as hx_cancel %}
                    {% include 'epilepsy12/partials/page_elements/organisations_select.html' with organisation_list=organisation_list hx_post=hx_post hx_target="#paediatric_neurology" hx_trigger="click" hx_swap="innerHTML" hx_name="paediatric_neurology_centre" test_positive=None label="Allocate Paediatric Neurology Centre" hx_default_text="Search paediatric neurology centres..." data_position="top left" enabled=perms.epilepsy12.change_assessment hx_cancel=hx_cancel %}
                </div>

            {% endif %}

        </div>

    {% endif %}
    
</div>