<div class="ui segment">
    
    {% url 'paediatric_neurologist_referral_made' assessment_id=assessment.pk as hx_post %}
    {% include 'epilepsy12/partials/page_elements/toggle_button.html' with test_positive=assessment.paediatric_neurologist_referral_made hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurologist" hx_trigger="click" label="Has a referral been made to a consultant paediatric neurologist?" data_position="top left" %}

    {% if assessment.paediatric_neurologist_referral_made %}

        <div class="ui message">

            {% url 'paediatric_neurologist_referral_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurologist" hx_trigger="change" label="Date of referral to a consultant paediatric neurologist." date_value=assessment.paediatric_neurologist_referral_date input_date_field_name="paediatric_neurologist_referral_date" %}
            
            {% url 'paediatric_neurologist_input_date' assessment_id=assessment.pk as hx_post %}
            {% include 'epilepsy12/partials/page_elements/date_field.html' with hx_post=hx_post hx_swap="innerHTML" hx_target="#paediatric_neurologist" hx_trigger="change" label="Date seen by a consultant paediatric neurologist." date_value=assessment.paediatric_neurologist_input_date input_date_field_name="paediatric_neurologist_input_date" %}

            <div class="inline field">
                <label class='toggle_button_label'>Time to Review</label>
                <input class="ui input" type="text" value="{{assessment.paediatric_neurologist_wait}}" disabled/>
            </div>

        </div>

    {% endif %}
    
</div>