# ENVIRONMENT VARIABLES FOR DEVELOPMENT VPS ONLY
# THIS FILE MUST NEVER BE ADDED TO VERSION CONTROL
# SECTIONS IN ALPHABETICAL ORDER ASCENDING
# VARIABLES WITHIN SECTIONS IN ALPHABETICAL ORDER ASCENDING

# CADDY (WEB SERVER & HTTPS)
SITE_DOMAIN="example.com" # the domain the site is being served from - this configures Caddy. This should also be in DJANGO_ALLOWED_HOSTS and DJANGO_CSRF_TRUSTED_ORIGINS
LETSENCRYPT_EMAIL_ADDRESS="letsencrypt@example.com" # the email address to send LetsEncrypt notifications to
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # Optionally set to Letsencrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory)

# CELERY
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

# CENSUS PLATFORM (Deprivation Scores)
RCPCH_CENSUS_PLATFORM_TOKEN= # API key for RCPCH Census Platform (Deprivation scoring service API)
RCPCH_CENSUS_PLATFORM_URL="https://api.rcpch.ac.uk/deprivation/v1"

# DJANGO
DEBUG="True" # Set DEBUG=True for Local dev and Development, not Staging or Live
DJANGO_ALLOWED_HOSTS= # this should contain the hosts which you are serving the site from
DJANGO_CSRF_TRUSTED_ORIGINS= # this should contain the https:// domains which you are serving the site from
E12_SECRET_KEY= # secret key for Django

# DJANGO POSTGRES DATABASE CONNECTION
E12_POSTGRES_DB_HOST="postgis"
E12_POSTGRES_DB_NAME="epilepsy12db"
E12_POSTGRES_DB_PASSWORD="password"
E12_POSTGRES_DB_PORT="5432"
E12_POSTGRES_DB_USER="epilepsy12user"

# EMAIL
EMAIL_DEFAULT_FROM_EMAIL="admin-email@example.com"
EMAIL_HOST_PASSWORD= # password for SMTP service
EMAIL_HOST_PORT= # port of SMTP service
EMAIL_HOST_SERVER= # hostname of SMTP service
EMAIL_HOST_USER= # username for SMTP service
# To output emails to console, set SMTP_EMAIL_ENABLED=False
SMTP_EMAIL_ENABLED=True # To output emails to console, set SMTP_EMAIL_ENABLED=False

# FLOWER
FLOWER_PORT=8888

# HERMES (SNOMED CT)
RCPCH_HERMES_SERVER_URL= # SNOMED server API URL

# NHS ODS API
NHS_ODS_API_URL="https://directory.spineservices.nhs.uk/ORD/2-0-0"

# MATERIAL FOR MKDOCS INSIDERS
ENABLE_GIT_COMMITTERS="True" # Disables git committer extension
ENABLE_PDF_EXPORT=1 # Disables automatic PDF generation

# POSTCODES API
POSTCODE_API_BASE_URL="https://findthatpostcode.uk"

# POSTGRES SETUP
POSTGRES_DB=epilepsy12db
POSTGRES_PASSWORD=password
POSTGRES_USER=epilepsy12user

# SUPERUSER (will be created on first run of docker-compose up)
DJANGO_SUPERUSER_EMAIL= # superuser email
DJANGO_SUPERUSER_FIRST_NAME= # superuser first name
DJANGO_SUPERUSER_IS_RCPCH_AUDIT_TEAM_MEMBER= # superuser is RCPCH Audit Team member (True/False)
DJANGO_SUPERUSER_PASSWORD= # superuser password
DJANGO_SUPERUSER_ROLE=1 # Clinician role (see epilepsy12.constants.user_types.ROLES for details)
DJANGO_SUPERUSER_SURNAME= # superuser surname
DJANGO_SUPERUSER_USERNAME= # superuser username

# TIMEZONE
TZ="Europe/London"
