# ENVIRONMENT VARIABLES FOR DEVELOPMENT VPS ONLY
# THIS FILE MUST NEVER BE ADDED TO VERSION CONTROL
# SECTIONS IN ALPHABETICAL ORDER ASCENDING
# VARIABLES WITHIN SECTIONS IN ALPHABETICAL ORDER ASCENDING

# *** ALL NEW ENV VARS NEED TO BE ADDED TO GITHUB SECRETS ***
# *** ALL NEW ENV VARS NEED TO BE ADDED TO .github/workflows/run-docker-compose-test-on-pr.yml ***

# CADDY (WEB SERVER & HTTPS)
SITE_DOMAIN="example.com" # the domain the site is being served from - this configures Caddy. This should also be in DJANGO_ALLOWED_HOSTS and DJANGO_CSRF_TRUSTED_ORIGINS
LETSENCRYPT_EMAIL_ADDRESS="letsencrypt@example.com" # the email address to send LetsEncrypt notifications to
LETSENCRYPT_ENDPOINT="https://acme-staging-v02.api.letsencrypt.org/directory" # Optionally set to Letsencrypt staging endpoint for testing (https://acme-staging-v02.api.letsencrypt.org/directory)
TLS_SOURCE="internal" # for localhost with SSL, or use "acme" for LetsEncrypt in production

# CELERY
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

# CENSUS PLATFORM (Deprivation Scores)
RCPCH_CENSUS_PLATFORM_TOKEN= # API key for RCPCH Census Platform (Deprivation scoring service API)
RCPCH_CENSUS_PLATFORM_URL="https://api.rcpch.ac.uk/deprivation/v1"

# DJANGO
AUTO_LOGOUT_DELAY_SECONDS=1800 # default 30 minutes
DEBUG="True" # Set DEBUG=True for Local dev and Development, not Staging or Live
DJANGO_ALLOWED_HOSTS="${SITE_DOMAIN}"
DJANGO_CSRF_TRUSTED_ORIGINS="https://${SITE_DOMAIN}"
DJANGO_STARTUP_COMMAND="python manage.py runserver 0.0.0.0:8000" # for local development with auto-reload
# DJANGO_STARTUP_COMMAND="gunicorn --bind=0.0.0.0:8000 --timeout 600 rcpch-audit-engine.wsgi" # for live deployment
E12_SECRET_KEY= # secret key for Django
SITE_CONTACT_EMAIL="sitecontactemail@example.com" # email address for site contact

# DJANGO LOGGING
CONSOLE_DJANGO_LOG_LEVEL="WARNING" # default Django-specific console logs [DEBUG, INFO, WARNING, ERROR, CRITICAL]
CONSOLE_LOG_LEVEL="DEBUG" # Epilepsy12 App console logs [DEBUG, INFO, WARNING, ERROR, CRITICAL]
FILE_LOG_LEVEL="DEBUG" # All logs, but to file [DEBUG, INFO, WARNING, ERROR, CRITICAL]

# DJANGO POSTGRES DATABASE CONNECTION
E12_POSTGRES_DB_HOST="postgis"
E12_POSTGRES_DB_NAME="epilepsy12db"
E12_POSTGRES_DB_PASSWORD="password"
E12_POSTGRES_DB_PORT="5432"
E12_POSTGRES_DB_USER="epilepsy12user"

# EMAIL
EMAIL_DEFAULT_FROM_EMAIL="fromemail@example.com"
EMAIL_HOST_PASSWORD= # password for SMTP service
EMAIL_HOST_PORT= # port of SMTP service
EMAIL_HOST_SERVER= # hostname of SMTP service
EMAIL_HOST_USER= # username for SMTP service
# To output emails to console, set SMTP_EMAIL_ENABLED=False
SMTP_EMAIL_ENABLED=True # To output emails to console, set SMTP_EMAIL_ENABLED=False

# FLOWER
FLOWER_PASSWORD="SET_ME"
FLOWER_PORT=8888
FLOWER_USER="flower@example.com"

# HERMES (SNOMED CT)
RCPCH_HERMES_SERVER_URL= # SNOMED server API URL

# NHS ODS API
NHS_ODS_API_URL="https://directory.spineservices.nhs.uk/ORD/2-0-0"

# MATERIAL FOR MKDOCS INSIDERS
ENABLE_GIT_COMMITTERS="True" # Disables git committer extension
ENABLE_PDF_EXPORT=1 # Disables automatic PDF generation
DOCS_URL="https://${SITE_DOMAIN}/docs" # URL of the documentation site

# POSTCODES API
POSTCODE_API_BASE_URL="https://findthatpostcode.uk"

# POSTGRES SETUP
POSTGRES_DB=epilepsy12db
POSTGRES_PASSWORD=password
POSTGRES_USER=epilepsy12user

# TIMEZONE
TZ="Europe/London"
