<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="The Epilepsy12 National Audit for Childhood Epilepsy."
    />
    <meta name="keywords" content="Epilepsy12 RCPCH Audit Childhood Epilepsy" />
    <meta name="author" content="RCPCH" />
    <meta name="theme-color" content="#ffffff" />
    <title>Epilepsy12</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      type="text/css"
    />
    <link rel="icon" href="{% static 'favicon.ico' %}"/>
    {% comment %} <link rel="stylesheet" href="{% static 'style.css' %}"> {% endcomment %}
  </head>

  <body id="root">
    <div class="ui container">
      {% block nav %}
        <div class="ui secondary pointing menu">
            <a {% if request.resolver_match.url_name == 'index' %}class="active item" {% else %} class="item" {% endif %} href={% url 'index' %}>
              Home
            </a>
          <a {% if request.resolver_match.url_name == 'admin:index' %}class="active item" {% else %} class="item" {% endif %} href={% url 'admin:index' %}>
            Database Management
          </a>
            <a {% if request.resolver_match.url_name == 'hospital_reports' %}class="active item" {% else %} class="item" {% endif %} id="link" href={% url 'hospital_reports' %}>
              Hospital Clinician
            </a>
            <a {% if request.resolver_match.url_name == 'eeg' %}class="active item" {% else %} class="item" {% endif %} id="link" href={% url 'eeg' %}>
              EEG Department
            </a>
            <a {% if request.resolver_match.url_name == 'patient' %}class="active item" {% else %} class="item" {% endif %} id="link" href={% url 'patient' %}>
              Patient Access
            </a>
          <div class="right menu">
          {% if user.is_authenticated %}
              <a class="item" href={% url 'logout' %}>
                Logout {{ user.username }}
              </a>
          {% else %}
            <a class="item" href="{% url 'login' %}">
              Log In
            </a>
          {% endif %}
          </div>
        </div>
      {% endblock %}
        
        {% if messages %}
          <div class="ui green message">
            <i class="close icon"></i>
                {% for message in messages %}
                  {% if message.tags %} {% endif %}{{ message }}
                {% endfor %}
          </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        
        <div class="ui red message">This site is currently under development.</div>
        
        
          <div class="ui container">
            <div class="ui equal width centered middle aligned grid">
              <div class="ui column">
                <i class="github icon"></i>
                  <a href="https://github.com/rcpch/epilepsy12-server">Follow us on Github</a>
              </div>
              <div class="ui right aligned column">
                  <i class="copyright icon" id="logo"></i>
                  RCPCH 2021. All Rights Reserved
              </div>
            </div>
          </div>
        
    </div>
          
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </body>
  
</html>
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  });

  $('#casecompletionprogress')
    .progress({
    label: 'ratio',
    text: {
      ratio: '{value} of {total}'
    }
  });

  $('div.ui.search.desscribeSearch').search({
    apiSettings: {
      url: "https://{{request.get_host}}/epilepsy12/semiology-keyword-autocomplete/?q={query}"
    },
    fields: {
      results: 'results',
      title: 'text'
    }
  });

  $('.ui.search.hospitalSearch').search({
    apiSettings: {
      url: "https://{{request.get_host}}/epilepsy12/hospital-autocomplete/?q={query}"
    },
    fields: {
      results: 'results',
      title: 'text'
    }
  });
  $('#choicesPopup').popup();
  $('#investigationsManagementPopup').popup();
  $('.question.circle.icon.link').popup();
  /*
  $('.prompt').on("input", function(data){
    console.log($('prompt').val());
    $('.text').text($('.prompt').val())
  })
  */

</script>