<!DOCTYPE html>
<html>
  {% load static %}
  {% load epilepsy12_template_tags %}
  {% csrf_token %}
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="The Epilepsy12 National Audit for Childhood Epilepsy."
    />
    <meta name="keywords" content="Epilepsy12 RCPCH Audit Childhood Epilepsy" />
    <meta name="author" content="RCPCH" />
    <meta name="theme-color" content="#ffffff" />
    <title>Epilepsy12</title>
    <link
      rel="stylesheet"
      href="{% static 'styles/semantic.min.css' %}"
      type="text/css"
    />
    <link rel="shortcut icon" type='image/png' href="/favicon"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    
  </head>

  <body id="root">

      <div class="ui fluid rcpch container">

        {% block nav %}

          <div class="ui text menu">
            <div class="right menu">
              {% if user.is_authenticated %}
                  <a class="item" href={% url 'logout' %}>
                    Log out {{ user.username }}
                  </a>
              {% else %}
                <a class="item" href="{% url 'login' %}">
                  Sign in
                </a>
                <a class="item" href="{% url 'signup' %}">
                  Sign up
                </a>
              {% endif %}
            </div>
          </div>

          <div class="ui secondary pointing menu">

              <a {% if request.resolver_match.url_name|is_in:'index' %} class="active item" id="active_menu_item" {% else %} class="item" {% endif %} href={% url 'index' %}>
                <span>
                  <img id="nav-rcpch" src="{% static 'images/rcpch-logo-mobile.4d5b446caf9a.svg' %}" class="item">
                </span>
              </a>
                  <h3>Epilepsy12 audit platform</h3>

              <div class='right menu'>
                {% if user.is_authenticated %}
                  <a {% if request.resolver_match.url_name|is_in:'admin:index'  %} class="active item" id="active_menu_item" {% else %} class="item" {% endif %} href={% url 'admin:index' %}>
                    Database management
                  </a>
                
                <a {% if request.resolver_match.url_name|is_in:"hospital_reports,cases,register,initial_assessment,multiaxial_description,multiaxial_diagnosis,epilepsy_context,assessment,investigations,management,create_comorbidity,update_comorbidity" %} class="active item" id="active_menu_item" {% else %} class="item" {% endif %} id="link" href={% url 'hospital_reports' %}>
                  Clinician access
                </a>
                {% endif %}
                <a {% if request.resolver_match.url_name|is_in:'patient' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %} id="link" href={% url 'patient' %}>
                  Patient access
                </a>
                <a {% if request.resolver_match.url_name|is_in:'docs' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %} id="link" href={% url 'docs' %}>
                  Documentation
                </a>
                <a {% if request.resolver_match.url_name|is_in:'tsandcs' %}class="active item" id="active_menu_item" {% else %} class="item" {% endif %} id="link" href={% url 'tsandcs' %}>
                  Terms and conditions
                </a>
              </div>

          </div>

      
        {% endblock %}

      </div>


    <div class='ui fluid container'>

        
        {% if messages %}
          <div class="ui green message">
            <i class="close icon"></i>
                {% for message in messages %}
                  {% if message.tags %} {% endif %}{{ message }}
                {% endfor %}
          </div>
        {% endif %}

        {% block content %}
        {% endblock %}
        

    </div>
        
        
    <div class="ui fluid rcpch container">

      <div class='ui grid'>
        
        <div class="sixteen wide centered column">
          <div class="ui rcpch_warning message">This site is currently under development.</div>
        </div>
        

          <div class="eight wide column">
              <a href="https://github.com/rcpch/epilepsy12-server">
                <i class="github icon"></i>
                <p>Follow us on Github</p>
              </a>
          </div>

          <div class="eight wide right aligned column">
            <a href='{% url "tsandcs" %}'>
              <i class="copyright icon"></i>
              <p>RCPCH 2021. All rights reserved</p>
              </a>
          </div>
      </div>
        

    </div>
        
    <div class='ui fluid container'>

      {% include 'epilepsy12/footer.html'%}

    </div>
          
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'htmx_1.7/htmx.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      $('.message .close').on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      });

      $('#casecompletionprogress').progress({
        label: 'ratio',
        text: {
          ratio: '{value} of {total}'
        }
      });

      $('div.ui.search.desscribeSearch').search({
        apiSettings: {
          url: "https://{{request.get_host}}/epilepsy12/semiology-keyword-autocomplete/?q={query}"
        },
        fields: {
          results: 'results',
          title: 'text'
        }
      });

      $('.ui.search.hospitalSearch').search({
        apiSettings: {
          url: "https://{{request.get_host}}/epilepsy12/hospital-autocomplete/?q={query}"
        },
        fields: {
          results: 'results',
          title: 'text'
        }
      });
      $('#choicesPopup').popup();
      $('#investigationsManagementPopup').popup();
      $('.question.circle.icon.link').popup();
      $('#postcodeIdPopup').popup();
      /*
      $('.prompt').on("input", function(data){
        console.log($('prompt').val());
        $('.text').text($('.prompt').val())
      })
      */
      $('.ui.dropdown').dropdown();
      
    </script>
  </body>
  
</html>