{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="ui container">
        {% if user.is_authenticated and not user.is_verified %}
            <div class="ui top attached rcpch_403 segment">
                <div class="ui header">
                    <img src='{% static "images/epilepsy12-logo-1.png" %}'>
                    <div class="content">
                        <h2>Nearly there....</h2>
                    </div>
                </div>
            </div>
            <div class="ui rcpch_403 segment">
                <div class="ui two column grid">
                    <div class="row">
                        <div class="right aligned column">
                            <img class="image403"
                                 src="{% static 'styles/images/doodle_epilepsy12.png' %}" />
                        </div>
                        <div class="column">
                            <h3 class="header">
                                You are seeing this message because you have not yet enabled two-factor authentication on your account, or you have not yet entered your one-time login code.
                            </h3>
                            <h3 class="header">
                                You can enable two-factor authentication from your <a href="{% url 'two_factor:profile' %}" class="rcpch_blue_link">Account</a> page.
                            </h3>
                            <h3 class="header">
                                If you have enabled it already, try logging out and signing in again, ensuring you complete the one-time login code entry step.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui centered grid">
            <div class="column">
                <div class="ui sizer vertical segment">
                    <h2 class="ui left aligned header">You may need to sign in again to go further</h2>
                    <h5 class="ui subheader">
                        You are seeing this message because you are trying to access a page where you are not logged in or you don't have the right permissions.
                        If this persists, please contact your local Epilepsy12 administrator or the RCPCH at
                        {% include 'epilepsy12/partials/contact_email.html' %}
                        .
                    </h5>
                </div>
            </div>
        </div> 
        <div class='centered_button_container'>
            <a class="ui rcpch_light_blue button re_sign_in" href="{% url 'login' %}">
                Sign In Again
            </a>
        </div>
        <div>
            <img class="ui fluid image"
                    src="{% static 'styles/images/RCPCH_Epilepsy12_2018_Illustrations_R522.png' %}" />
        </div> 
    {% endif %}
    {% endblock %}
    