{% csrf_token %}
<div class="ui fluid container">
  <p>
    Within the clinical audit there are 12 'Performance Indicator' measures
    which are derived from national guidelines and recommendations.
  </p>
  {% url "selected_trust_select_kpi" organisation_id=selected_organisation.pk as hx_post%} 
  {% include 'epilepsy12/partials/page_elements/kpi_select.html' with hx_post=hx_post hx_target='#selected_trust_selected_kpi' hx_trigger='change' hx_swap='innerHTML' label='Select a measure' reference="Select one of the 12 measures to view how it compares." choices=individual_kpi_choices test_positive=individual_kpi_choices.0.0 hx_name='kpi_name' %}
  <div
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-post="{% url 'selected_trust_select_kpi' organisation_id=selected_organisation.pk %}"
    hx-target="#selected_trust_select_kpi"
    hx-swap="innerHTML"
    hx-trigger="change, load"
    hx_indicator="#select_trust_selected_kpi"
  >
    <div 
      id="selected_trust_select_kpi"

    >
        <div class="ui active centered inline loader"></div>
    </div>
    
  </div>
</div>
