{% csrf_token %}
<div class="sixteen wide column">
  <div class="ui top attached inverted clearing segment" id="audit_top_attached_segment">
    <div class='ui header'>
      <div class='content kpi_header'>
        <p>Real-time Individual Key Performance Indicator (KPI) Metrics for Cohort {{ cohort_number }}</p>
        {% if selected_organisation.trust %}
        <p>{{selected_organisation.name}} ({{ selected_organisation.trust.name }})</p>
        {% else %}
        <p>{{selected_organisation.name}} ({{ selected_organisation.local_health_board.name }})</p>
        {% endif %}
      </div>
      
<div class="all-kpis-header">
  <button class="ui right floated rcpch_primary button" _="on click go to top of #kpis">Jump to All KPI Metrics</button>

  <div class="ui floating rcpch_primary dropdown button"
      id="cohortDropdown"
      _="init js $('.ui.dropdown').dropdown();"
     _="on change 
         set #cohortValueHolder.value to event.target.dataset.value 
         then set #cohortValueHolder @hx-vals to JSON.stringify({cohort: event.target.dataset.value})"
    >
    <input 
      type="hidden"
      id="cohortValueHolder"
      name="cohort"
      value="{{ cohort_number }}"
      hx-get="{% url 'individual_metrics' organisation_id=selected_organisation.pk %}"
      hx-target="#individual_metrics"
      hx-swap="innerHTML"
      hx-trigger="change"
      hx-include='#cohortValueHolder'
    >

    <i class="dropdown icon"></i>
    <span class="text" id="cohortDropdownText">Cohort {{ cohort_number }}</span>
    <div class="menu">
      <div class="item" data-value="{{ cohort_data.currently_recruiting_cohort }}">Cohort {{ cohort_data.currently_recruiting_cohort }}</div>
      <div class="item" data-value="{{ cohort_data.submitting_cohort }}">Cohort {{ cohort_data.submitting_cohort }}</div>
      <div class="item" data-value="{{ cohort_data.submitting_cohort|add:"-1" }}">Cohort {{ cohort_data.submitting_cohort|add:"-1" }}</div>
    </div>
  </div>

</div>


      <div class="ui raised attached rcpch_dark_blue segment" id="selected_trust_select_kpi_marker">

        <div class="ui rcpch_info message">
          <p>
            Within the clinical audit there are 12 'Performance Indicator' measures
            which are derived from national guidelines and recommendations.
          </p>
        </div>
          {% url "selected_trust_select_kpi" organisation_id=selected_organisation.pk as hx_post%}
          {% include 'epilepsy12/partials/page_elements/kpi_select.html' with hx_post=hx_post hx_target='#selected_trust_select_kpi' hx_trigger='change, load' hx_swap='innerHTML' label='Select a measure and then click on a region' reference="Select one of the 12 measures and then click on a region to view how it compares." choices=individual_kpi_choices test_positive=individual_kpi_choices.0.0 hx_name='kpi_name' %}
          <div
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-post="{% url 'selected_trust_select_kpi' organisation_id=selected_organisation.pk %}"
            hx-target="#selected_trust_select_kpi"
            hx-swap="innerHTML"
            hx-trigger="change, load"
            hx-indicator="#selected_trust_select_kpi"
            hx-vals='{"cohort":"{{cohort_number}}"}'
          >

            <div id="selected_trust_select_kpi">
                <div class="ui active centered inline loader"></div>
            </div>

          </div>

      </div>

      <div class="ui bottom attached rcpch_footer info icon message">
        <i class="info circle icon"></i>
        These are key indicators for your Health Board/Trust, compared to the percentages for your relevant ICB, NHS England Region, OPEN UK Region, Country and England and Wales combined.
      </div>

</div>
<script>
  // Ensure the dropdown text reflects the current cohort
  document.addEventListener('DOMContentLoaded', function() {
    const cohortDropdownText = document.getElementById('cohortDropdownText');
    const cohortValueHolder = document.getElementById('cohortValueHolder');
    cohortDropdownText.textContent = `Cohort ${cohortValueHolder.value}`;
  });
</script>