{% load static %}
{% load epilepsy12_template_tags %}
{% csrf_token %}


{% with 'eligible children and young people diagnosed with epilepsy' as CYP_TEXT %}
<div class="individual_measures_pies_wrapper">

        <div class="rcpch_cards_wrapper">
            {% with all_data.ORGANISATION_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
                <div class="rcpch_card">
                    <div class="title">
                        <h3>Organisation</h3>
                    </div>
                    <div class="visualisation">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                        {% else %}
                            <h5>No data yet!<h5>
                        {% endif %}
                    </div>
                    <div class="caption">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            
                            {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                            {% if pct_passed_kpi is not None %}
                                <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}

            {% if all_data.TRUST_KPIS.aggregation_model %}
                {% with all_data.TRUST_KPIS as KPI_DATA %}
                {% with KPI_DATA.total_cases_registered as total_cases %}
                {% with KPI_DATA.aggregation_model as aggregation_model %}
                <div class="rcpch_card">
                    <div class="title">
                        <h3>Trust</h3>
                    </div>
                    <div class="visualisation">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                        {% else %}
                            <h5>No data yet!<h5>
                        {% endif %}
                    </div>
                    <div class="caption">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            
                            {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                            {% if pct_passed_kpi is not None %}
                                <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}

                {% with all_data.ICB_KPIS as KPI_DATA %}
                {% with KPI_DATA.total_cases_registered as total_cases %}
                {% with KPI_DATA.aggregation_model as aggregation_model %}
                    <div class="rcpch_card clickable_card" _="on click go to the top of #parent_org_kpi_ranking">
                        <div class="title">
                            <h3>ICB</h3>
                        </div>
                        <div class="visualisation">
                            {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                                {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                            {% else %}
                                <h5>No data yet!<h5>
                            {% endif %}
                        </div>
                        <div class="caption">
                            {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                                
                                {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                                {% if pct_passed_kpi is not None %}
                                    <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                                {% endif %} 
                            {% endif %}
                        </div>
                    </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% else %}
                {% with all_data.LOCAL_HEALTH_BOARD_KPIS as KPI_DATA %}
                {% with KPI_DATA.total_cases_registered as total_cases %}
                {% with KPI_DATA.aggregation_model as aggregation_model %}

                <div class="rcpch_card clickable_card" _="on click go to the top of #parent_org_kpi_ranking">
                    <div class="title">
                        <h3>Local Health Board</h3>
                    </div>
                    <div class="visualisation">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                        {% else %}
                            <h5>No data yet!<h5>
                        {% endif %}
                    </div>
                    <div class="caption">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            
                            {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                            {% if pct_passed_kpi is not None %}
                                <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                            {% endif %}
                        
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endif %}

            {% if all_data.NHS_ENGLAND_REGION_KPIS.aggregation_model %}
                {% with all_data.NHS_ENGLAND_REGION_KPIS as KPI_DATA %}
                {% with KPI_DATA.total_cases_registered as total_cases %}
                {% with KPI_DATA.aggregation_model as aggregation_model %}
                <div class="rcpch_card clickable_card" _="on click go to the top of #nhs_region_kpi_ranking">
                    <div class="title">
                        <h3>NHS Region</h3>
                    </div>
                    <div class="visualisation">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                        {% else %}
                            <h5>No data yet!<h5>
                        {% endif %}
                    </div>
                    <div class="caption">
                        {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                            
                            {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                            {% if pct_passed_kpi is not None %}
                                <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                            {% endif %}
                        
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
            {% endif %}

            {% with all_data.OPEN_UK_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
            <div class="rcpch_card clickable_card" _="on click go to the top of #open_uk_kpi_ranking">
                <div class="title">
                    <h3>OPENUK</h3>
                </div>
                <div class="visualisation">
                    {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                        {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                    {% else %}
                        <h5>No data yet!<h5>
                    {% endif %}
                </div>
                <div class="caption">
                    {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                        
                        {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                        {% if pct_passed_kpi is not None %}
                            <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                        {% endif %}
                   
                    {% endif %}
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}

            {% with all_data.NATIONAL_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
            <div class="rcpch_card clickable_card" _="on click go to the top of #country_kpi_ranking">
                <div class="title">
                    <h3>National</h3>
                </div>
                <div class="visualisation">
                    {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                        {{ KPI_DATA.charts.passed_pie.get_html|safe }}
                    {% else %}
                        <h5>No data yet!<h5>
                    {% endif %}
                </div>
                <div class="caption">
                    {% if total_cases is not None and total_cases > 0 and aggregation_model.aggregation_performed %}
                        
                        {% get_pct_passed_for_kpi_from_agg_model aggregation_model kpi_name as pct_passed_kpi %}
                        {% if pct_passed_kpi is not None %}
                            <b>{{ pct_passed_kpi }}%</b> ({% get_n_passed_and_total aggregation_model kpi_name %}) of {{CYP_TEXT}} passed this measure.
                        {% endif %}
                    
                    {% endif %}
                </div>
            </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>

</div>
<div class='bar_charts_wrapper'>
    
    <div id="parent_org_kpi_ranking">
        {% if all_data.ICB_KPIS.aggregation_model %}
            {% with all_data.ICB_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
                {{ KPI_DATA.charts.passed_bar.get_html|safe }}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% include 'epilepsy12/partials/organisation/navigation_buttons.html' %}
        {% else %}
            {% with all_data.LOCAL_HEALTH_BOARD_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
                {{ KPI_DATA.charts.passed_bar.get_html|safe }}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% include 'epilepsy12/partials/organisation/navigation_buttons.html' %}
        {% endif %}
    </div>
    
    <div id="open_uk_kpi_ranking">
        {% with all_data.OPEN_UK_KPIS as KPI_DATA %}
        {% with KPI_DATA.total_cases_registered as total_cases %}
        {% with KPI_DATA.aggregation_model as aggregation_model %}
            {{ KPI_DATA.charts.passed_bar.get_html|safe }}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% include 'epilepsy12/partials/organisation/navigation_buttons.html' %}
    </div>
    {% if all_data.NHS_ENGLAND_REGION_KPIS.aggregation_model %}
        <div id="nhs_region_kpi_ranking">
            {% with all_data.NHS_ENGLAND_REGION_KPIS as KPI_DATA %}
            {% with KPI_DATA.total_cases_registered as total_cases %}
            {% with KPI_DATA.aggregation_model as aggregation_model %}
                {{ KPI_DATA.charts.passed_bar.get_html|safe }}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% include 'epilepsy12/partials/organisation/navigation_buttons.html' %}
        </div>
    {% endif %}
    <div id="country_kpi_ranking">
        {% with all_data.COUNTRY_KPIS as KPI_DATA %}
        {% with KPI_DATA.total_cases_registered as total_cases %}
        {% with KPI_DATA.aggregation_model as aggregation_model %}
            {{ KPI_DATA.charts.passed_bar.get_html|safe }}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% include 'epilepsy12/partials/organisation/navigation_buttons.html' %}
    </div>


</div>
{% endwith %}