.ui.rcpch.form input:not([type]),
.ui.rcpch.form input[type="date"],
.ui.rcpch.form input[type="datetime-local"],
.ui.rcpch.form input[type="email"],
.ui.rcpch.form input[type="number"],
.ui.rcpch.form input[type="password"],
.ui.rcpch.form input[type="search"],
.ui.rcpch.form input[type="tel"],
.ui.rcpch.form input[type="time"],
.ui.rcpch.form input[type="text"],
.ui.rcpch.form input[type="file"],
.ui.rcpch.form input[type="select"],
.ui.rcpch.form input[type="url"] {
  font-family: var(--rcpch_standard_font);
  font-weight: 400;
  margin: 0em;
  outline: none;
  border: 3px solid rgba(17, 167, 242, 1);
  border-radius: 0%;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}

.ui.form .field.field input:-webkit-autofill {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  background-color: #ffffff !important;
}

.ui.form .field.field input:-webkit-autofill:focus {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  -webkit-box-shadow: 0px 0px 0px 100px var(--rcpch_light_blue_tint2) inset !important;
  box-shadow: 0px 0px 0px 100px var(--rcpch_light_blue_tint2) inset !important;
}

.ui.form .field.field input:-webkit-autofill {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  -webkit-box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  box-shadow: 0px 0px 0px 100px #ffffff inset !important;
}

.ui.rcpch.icon.input > input {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  -webkit-box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  border-radius: 0rem;
}

.ui.rcpch.input > input {
  border-radius: 0%;
  border-width: medium;
  border-color: var(--rcpch_light_blue);
  color: var(--rcpch_dark_blue);
}

.ui.rcpch.input > input:focus {
  border-radius: 0%;
  border-width: medium;
  border-color: var(--rcpch_light_blue);
  color: var(--rcpch_dark_blue);
}

.ui.rcpch.icon.input > input:focus {
  color: var(rcpch_light_blue);
}

.ui.rcpch.icon.input > i.icon {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  -webkit-box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  border-radius: 0em 0rem 0rem 0em;
}

.ui.rcpch.icon.input > i.icon::after {
  border: 3px solid rgba(17, 167, 242, 1) !important;
  -webkit-box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  box-shadow: 0px 0px 0px 100px #ffffff inset !important;
  border-radius: 0em 0rem 0rem 0em;
  color: var(--rcpch_light_blue);
}

.ui.form .field .ui.input input {
  border-radius: 0%;
}

.ui.rcpch_light_blue.circular.search.link.icon {
  color: var(--rcpch_light_blue);
  background: var(--rcpch_light_blue);
}