/* spinner */

.htmx-indicator.spinner.loading.icon {
    display: none;
  }
  
  .htmx-request .htmx-indicator.spinner.loading.icon {
    display: inline;
  }
  
  .htmx-request.htmx-indicator.spinner.loading.icon {
    display: inline;
  }

  .fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 500ms ease-out;
  }
  
  .fade-in.htmx-added {
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }