
/* base label */
.ui.label {
  list-style: none;
  font-family: var(--rcpch_standard_font);
  font-weight: 400;
}

a label {
  padding-top: 0.5em;
}

/* used in the is eligible success label */
.ui.rcpch_pink.label {
    border-radius: 0%;
    border: 1px solid rgba(224, 0, 135, 0.3);
    color: var(--rcpch_pink);
    background-color: transparent;
    margin: 5px;
    font-weight: 400;
  }
  
  /* used in the is eligible error label */
  .ui.rcpch_red.label {
    border-radius: 0%;
    border: 1px solid var(--rcpch_red_light_tint2);
    color: var(--rcpch_red_light_tint2);
    background-color: transparent;
    margin: 5px;
    font-weight: 400;
  }
  
  /* these labels are used for the description key words in episode description */
  .ui.rcpch_light_blue.label {
    border-radius: 0% !important;
    color: white;
    background-color: var(--rcpch_light_blue);
    margin: 5px;
    font-family: 'Montserrat-Bold';
    font-size: smaller;
  }
  
  .topbar > .ui.rcpch_light_blue.label {
    margin:0%;
  }
  
  /* .ui.rcpch_purple.label {
    border-radius: 0% !important;
    color: white;
    background-color: var(--rcpch_purple_light_tint1);
    margin: 5px;
  } */

  /* this label is used to denote organisation view */
  .ui.rcpch_view.label {
    border-radius: 0% !important;
    color: black;
    background-color: white;
    margin: 5px;
    font-family: 'Montserrat-Bold';
    font-size: large;
  }

  .topbar > .ui.rcpch_view.label {
    margin:0%;
  }

  /* used in the Fridah button */
  .ui.rcpch_secret.label {
    background-color: var(--rcpch_light_blue_tint2);
    color: var(--rcpch_dark_grey);
    border-radius: 0%;
  }

  /* ADDS SPACING FOR HEADERS ON TABLE VIEWS USERLIST/CASES */
  .view_label_container.tables {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-bottom: 1em;
  }

  .ui.rcpch_view.label.view_title {
    font-size: 25px;
    text-align: center;
    margin-left: 30px ;
  }

  .ui.rcpch_secret.label > i {
    color: var(--rcpch_pink);
  }

  /* used in episodes, focal epilepsy, syndromes and multiple toggle */
  .ui.rcpch_warning.basic.label {
    color: var(--rcpch_dark_red);
    background-color: var(--rcpch_red_light_tint3);
    border-radius: 0%;
    border-color: var(--rcpch_red);
    margin-top: 1em;
  }

  /* widely used error label */
  .rcpch_warning_label {
    color: var(--rcpch_red);
  }

  /* statistics in cohort view */
  .ui.two.mini.statistics .rcpch_light_blue.statistic div.value {
    color: var(--rcpch_light_blue) !important;
    font-family: var(--rcpch_standard_font);
    font-weight: 400;
  }
  
  .ui.two.mini.statistics .rcpch_light_blue.statistic div.label {
    font-family: var(--rcpch_standard_font);
    /* color: var(--rcpch_charcoal); */
    color: var(--rcpch_light_blue);
    font-weight: 400;
  }

  .ui.rcpch_stats.statistic > .rcpch_stats_value {
    color: var(--rcpch_light_blue);
    /* font-size: 5rem; */
  }
  
  /* summary stats css */
  
  .rcpch_summary_stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  div.rcpch_summary_stats > div.rcpch_summary_stats_row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em 0em;
    text-align: center;
  }
  
  .rcpch_summary_stats > .rcpch_summary_stats_row > * {
    margin: 0em;
    color: var(--rcpch_charcoal);
  }
  
  .rcpch_summary_stats > .rcpch_summary_stats_row > h1 {
    color: var(--rcpch_light_blue);
    font-size: 4em;
  }
  
  .rcpch_summary_stats > .rcpch_summary_stats_row > h2 {
    font-size: 1.5em;
  }
  
  .rcpch_summary_stats > .rcpch_summary_stats_row > h3 {
    font-size: 1em;
  }
  
  .rcpch_summary_stats > .rcpch_summary_stats_row > h4 {
    font-size: 0.8em;
  }
  
  /* error label is case form and create user */
  .ui.pointing.red.basic.label {
    border-radius: 0%;
    box-shadow: 0px 0em 0em 0em var(--rcpch_dark_red) inset;
    border-color: var(--rcpch_dark_red);
    padding: 0%;
    margin-left: 0%;
  }

  .summary_kpi_pie_title {
    text-align: center;
  }

  /* DESSCRIBE */

.ui.rcpch_pink.circular.label {
  color: white;
  background-color: var(--rcpch_pink);
  border: transparent;
  border-radius: 50%;
}

.ui.rcpch_light_grey.circular.label {
  color: white;
  background-color: var(--rcpch_light_grey);
}

/* multiaxial diagnosis form */
.ui.rcpch.header {
  margin-top: 10px;
}
  
  