.ui.attached.tabular.menu {
    border-color: var(--rcpch_light_blue);
  }
  
  .ui.attached.tabular.menu .active.item {
    border-color: var(--rcpch_light_blue) !important;
    border-width: 3px;
  }
  
  .ui.bottom.attached.segment {
    border-color: var(--rcpch_light_blue) !important;
    border-width: 3px;
    border-radius: 0;
  }