@font-face {
  font-family: Montserrat-Bold;
  src: local('Montserrat-Bold'),
    url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Italic;
  src: local('Montserrat-Italic'),
    url("fonts/Montserrat/static/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: local('Montserrat-Regular'),
    url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

body {
  color: white;
  font-family: Montserrat-Regular;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arial";
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.label {
  list-style: none;
  font-family: Montserrat-Regular;
}

#patient {
  color: pink;
}

/* menu */
#active_menu_item {
  color: #3366cc;
  border-width: 5px;
  border-color: #3366cc;
  line-height: 45px;
  font-family: Montserrat-Regular;
}

#nav-rcpch {
  width: 75px;
  height: auto;
  padding: 0;
  font-family: Montserrat-Regular;
}

.ui.secondary.pointing.menu .item {
  line-height: 50px;
}

/* epilepsy12 landing */

#landing_card {
  border-radius: 0%;
  background-color: #0d0d58;
}

#landing_card .content .header {
  color: white;
}

#landing_card .meta .category {
  color: white;
}

#epilepsy12landinginfo {
  background-color: #11a7f2;
}

#tsandcssegment {
  background-color: #11a7f2;
}

#hospital_segment {
  background-color: white;
  border-color: #d9d9d9;
  font-family: Montserrat-Regular;
}

#piechartContainer {
  width: 400px;
  height: auto;
}

#bottom_attached_message {
  background-color: #3366cc;
}

.ui.card {
  background-color: #11a7f2;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

#description {
  color: white;
  font-family: Montserrat-Regular;
}

#chat {
  background-color: white;
  font-family: "Montserrat-Regular";
  font-family: Montserrat-Regular;
}

#stats_box {
  background-color: white;
}

/* general navigation */
#continue_button {
  background-color: #e00087;
  border-radius: 0%;
  color: white;
  font-weight: bold;
  font-family: Montserrat-Regular;
}

#continue_button:hover {
  background-color: #9E1F66;
}

#negative_button {
  border-radius: 0%;
  color: white;
  font-weight: bold;
  background-color: #e60700;
  font-family: Montserrat-Regular;
}

#action_button {
  background-color: #3366cc;
  color: white;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

/* children */
#cases_list_segment {
  background-color: white;
  font-family: Montserrat-Regular;
}

#cases_list_segment_header {
  border-radius: 0%;
  background-color: #3366cc;
}

#cases_list_segment_footer {
  border-radius: 0%;
  background-color: white;
  font-family: Montserrat-Regular;
}

#table_header {
  background-color: #11a7f2;
  color: white;
  border-radius: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

#centredData {
  text-align: center;
}

#sort_button:hover {
  color: #e00087;
}

#sort_button {
  margin: 0px;
  padding: 0%;
}

/* audit sections */
#info_message {
  background-color: #00bdaa;
  color: white;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

#warning_message {
  background-color: #00bdaa;
  border-radius: 0%;
  color: white;
  font-family: Montserrat-Regular;
}

#audit_top_attached_segment {
  border-radius: 0%;
  background-color: #3366cc;
  color: white;
  font-family: Montserrat-Regular;
}

#audit_body_segment {
  border-radius: 0%;
  background-color: white;
  font-family: Montserrat-Regular;
}

#ribe_result {
  margin-top: 10px;
}

#form_header {}