@font-face {
  font-family: Montserrat-Bold;
  src: local('Montserrat-Bold'),
    url("fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Italic;
  src: local('Montserrat-Italic'),
    url("fonts/Montserrat/static/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: local('Montserrat-Regular'),
    url("fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}

:root {
  --rcpch_lightest_blue: #f0fafe;
  --rcpch_lightest_grey: #f3f3f3;
  --rcpch_strong_blue: #3366cc;
  --rcpch_dark_blue: #0d0d58;
  --rcpch_light_blue: #11a7f2;
  --rcpch_pink: #e00087;
  --rcpch_light_grey: #d9d9d9;
  --rcpch_mid_grey: #b3b3b3;
  --rcpch_dark_grey: #808080;
  --rcpch_charcoal: #4d4d4d;
  --rcpch_black: #000000;
}

body {
  color: white;
  font-family: Montserrat-Regular;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Arial";
  color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.label {
  list-style: none;
  font-family: Montserrat-Regular;
}

#patient {
  color: pink;
}

/* menu */
#active_menu_item {
  color: #3366cc;
  border-width: 5px;
  border-color: #3366cc;
  line-height: 45px;
  font-family: Montserrat-Regular;
}

#nav-rcpch {
  width: 75px;
  height: auto;
  padding: 0;
  font-family: Montserrat-Regular;
}

.ui.secondary.pointing.menu .item {
  line-height: 50px;
}

/* epilepsy12 landing */

#landing_card {
  border-radius: 0%;
  background-color: #0d0d58;
}

#landing_card .content .header {
  color: white;
}

#landing_card .meta .category {
  color: white;
}

#epilepsy12landinginfo {
  background-color: #11a7f2;
}

#tsandcssegment {
  background-color: #11a7f2;
}

#hospital_segment {
  background-color: white;
  border-color: #d9d9d9;
  font-family: Montserrat-Regular;
}

#piechartContainer {
  width: 400px;
  height: auto;
}

#bottom_attached_message {
  background-color: #3366cc;
}

.ui.card {
  background-color: #11a7f2;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

#description {
  color: white;
  font-family: Montserrat-Regular;
}

#chat {
  background-color: white;
  font-family: "Montserrat-Regular";
  font-family: Montserrat-Regular;
}

#stats_box {
  background-color: white;
}

/* general navigation */
#continue_button {
  background-color: #e00087;
  border-radius: 0%;
  color: white;
  font-weight: bold;
  font-family: Montserrat-Regular;
}

#continue_button:hover {
  background-color: #9E1F66;
}

#negative_button {
  border-radius: 0%;
  color: white;
  font-weight: bold;
  background-color: #e60700;
  font-family: Montserrat-Regular;
}

#action_button {
  background-color: #3366cc;
  color: white;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

/* children */
#cases_list_segment {
  background-color: white;
  font-family: Montserrat-Regular;
}

#cases_list_segment_header {
  border-radius: 0%;
  background-color: #3366cc;
}

#cases_list_segment_footer {
  border-radius: 0%;
  background-color: white;
  font-family: Montserrat-Regular;
}

#table_header {
  background-color: #11a7f2;
  color: white;
  border-radius: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

#centredData {
  text-align: center;
}

#sort_button:hover {
  color: #e00087;
}

#sort_button {
  margin: 0px;
  padding: 0%;
}

/* audit sections */
#info_message {
  background-color: #00bdaa;
  color: white;
  border-radius: 0%;
  font-family: Montserrat-Regular;
}

#warning_message {
  background-color: #00bdaa;
  border-radius: 0%;
  color: white;
  font-family: Montserrat-Regular;
}

#audit_top_attached_segment {
  border-radius: 0%;
  background-color: #3366cc;
  color: white;
  font-family: Montserrat-Regular;
}

#audit_body_segment {
  border-radius: 0%;
  background-color: white;
  font-family: Montserrat-Regular;
}

#ribe_result {
  margin-top: 10px;
}

.ui.rcpch_dark_blue.buttons {
  background-color: #a9a9a9;
  border-radius: 0%;
  border-color: #a9a9a9;
}

/* message */
.ui.rcpch_dark_blue.message {
  background-color: var(--rcpch_dark_blue);
  color: #fff;
}

.ui.rcpch_lightest_blue.message {
  background-color: var(--rcpch_lightest_blue);
  color: var(--rcpch_black);
}

.ui.rcpch_light_blue.message {
  background-color: var(--rcpch_light_blue);
  color: #fff;
}

.ui.rcpch_light_grey.message {
  background-color: var(--rcpch_light_grey);
}

.ui.rcpch_lightest_grey.message {
  background-color: var(--rcpch_lightest_grey);
}

/* toggle buttons / date_field input */
.toggle_button_label {
  color: black;
}

.ui.rcpch_dark_blue.button {
  transition-duration: 0.4s;
}

.ui.rcpch_dark_blue.button {
  background-color: var(--rcpch_light_grey);
  color: black;
  border-radius: 0% !important;
}

.ui.rcpch_dark_blue.button:active {
  background-color: var(--rcpch_pink);
  color: white;
  border-radius: 0% !important;
}

.ui.rcpch_dark_blue.positive.button {
  background-color: var(--rcpch_light_blue);
  color: white;
  border-radius: 0% !important;
}

.ui.rcpch_dark_blue.button:hover {
  background-color: var(--rcpch_dark_blue);
  color: white;
  border-radius: 0% !important;
}

.ui.rcpch_dark_blue.positive.button:hover {
  background-color: var(--rcpch_dark_blue);
  color: white;
  border-radius: 0% !important;
}

.rcpch_pink.icon {
  color: var(--rcpch_pink);
}

.rcpch_light_blue.icon {
  color: var(--rcpch_light_blue);
}

/* buttons */
.ui.rcpch_light_blue.buttons {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_light_blue);
}

.ui.rcpch_light_blue.buttons:active {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_pink);
}

.ui.rcpch_light_blue.buttons:hover {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_dark_blue);
}

.ui.rcpch_light_blue.button {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_light_blue);
}

.ui.rcpch_light_blue.button:active {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_pink);
}

.ui.rcpch_light_blue.button:hover {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_dark_blue);
}

/* spinner */
.htmx-indicator.spinner.loading.icon {
  display: none;
}

.htmx-request .htmx-indicator.spinner.loading.icon {
  display: inline;
}

.htmx-request.htmx-indicator.spinner.loading.icon {
  display: inline;
}

/* description labels */
.ui.rcpch_light_blue.label {
  border-radius: 0% !important;
  color: white;
  background-color: var(--rcpch_light_blue);
  margin: 5px;
}

.icon.close:hover {
  color: var(--rcpch_dark_blue);
}

/* radio buttons */

.radio-tile-group {
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.radio-tile-group .input-container {
  position: relative;
  height: 2rem;
  width: 2rem;
  margin: 0.75rem;
}

.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-tile-group .input-container .radio-tile {
  width: 100%;
  height: 100%;
  border: 2px solid var(--rcpch_light_blue);
  border-radius: 0px;
  padding: 1rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.radio-tile-group .input-container .radio-tile {
  display: flex;
  align-items: center;
}

.radio-tile-group .input-container .radio-tile-label {
  text-align: left;
  color: var(--rcpch_black);
  padding-left: 25px;
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile {
  background-color: var(--rcpch_light_blue);
  border: 2px solid var(--rcpch_light_blue);
  color: white;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.radio-tile-group .input-container .radio-button:checked+.radio-tile .radio-tile-label {
  color: var(--rcpch_black);
}

/* selects */
.ui.rcpch_light_blue.selection.dropdown {
  border-radius: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui.rcpch_light_blue.dropdown .item:hover {
  background-color: var(--rcpch_light_blue);
  color: white;
}

/* DESSCRIBE */

.ui.rcpch_pink.circular.label {
  color: white;
  background-color: var(--rcpch_pink);
}

.ui.rcpch_pink.segment {
  border-top-color: var(--rcpch_pink);
}