# standard imports
python-dateutil
requests

# third party imports
celery
dj_database_url
django
django-auto-logout
django-htmx
django-semantic-admin
django-simple-history
django-widget-tweaks
djangorestframework
django-two-factor-auth
phonenumbers # though not currently using phonenumbers, this is a dependency of dj-2fa
docutils
nhs-number
psycopg2-binary
pytest-django
pytest-factoryboy
rapidfuzz
redis
whitenoise
django-filter
plotly
pandas