# standard imports
requests
python-dateutil

# third party imports
django
docutils
psycopg2-binary
rapidfuzz
dj_database_url
django-widget-tweaks
django-htmx
whitenoise
django-semantic-admin
djangorestframework
django-simple-history
django-auto-logout
pytest-django
factory_boy