# standard imports
requests
python-dateutil

# third party imports
django
psycopg2-binary
dj_database_url
django-autocomplete-light
rapidfuzz
django-widget-tweaks
django-htmx
whitenoise

# RCPCH imports