{% load epilepsy12_template_tags %}
<div class="field">
    {% url 'epilepsy_cause_categories' multiaxial_diagnosis_id=multiaxial_diagnosis.pk as hx_post %}
    {% if not perms.epilepsy12.change_multiaxial_diagnosis %}
        {% include 'epilepsy12/partials/page_elements/multiple_choice_multiple_toggle_button.html' with choices=epilepsy_cause_selection hx_post=hx_post hx_target="#epilepsy_cause_categories" hx_trigger="click" hx_swap="innerHTML" test_positive=multiaxial_diagnosis.epilepsy_cause_categories label="Which category/categories best apply to this epilepsy?" data_position="top left" disabled=True %}
    {% else %}
        {% include 'epilepsy12/partials/page_elements/multiple_choice_multiple_toggle_button.html' with choices=epilepsy_cause_selection hx_post=hx_post hx_target="#epilepsy_cause_categories" hx_trigger="click" hx_swap="innerHTML" test_positive=multiaxial_diagnosis.epilepsy_cause_categories label="Which category/categories best apply to this epilepsy?" data_position="top left" disabled=False %}
    {% endif %}
</div>
