{% extends "two_factor/_base.html" %}
{% load i18n %}
{% load two_factor_tags %}
{% load static %}

{% block extra_media %}
{{ form.media }}
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}

<div class='ui rcpch container'>
  <div class="ui two column centered grid">
    <div class="column">

      {% if wizard.steps.current == 'auth' %}
      <div class="ui header">
        <img src='{% static "images/epilepsy12-logo-1.png" %}'>
        <div class="content">
          <h2>Sign In</h2>
        </div>
      </div>
      {% elif wizard.steps.current == 'token' %}
      <p>{{ device|as_verbose_action }}</p>
      {% elif wizard.steps.current == 'backup' %}
      <p>{% blocktrans trimmed %}Use this form for entering backup tokens for logging in.
        These tokens have been generated for you to print and keep safe. Please
        enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
      {% endif %}

      <form action="" method="post" class="ui rcpch form">
        {% csrf_token %}
        {% include "two_factor/_wizard_forms.html" %}

        {# hidden submit button to enable [enter] key #}
        <input type="submit" value="" hidden />

        {% include "two_factor/_wizard_actions.html" %}
      </form>

      {% block 'backup_tokens' %}
      {% if backup_tokens %}
      <hr>
      <div class="backup_tokens_form">
        <form action="" method="post">
          {% csrf_token %}
          <p>{% trans "As a last resort, you can use a backup token:" %}</p>
          <p>
            <button name="wizard_goto_step" type="submit" value="backup" class="btn btn-sm btn-secondary btn-block">{%
              trans "Use Backup Token" %}</button>
          </p>
        </form>
      </div>
      {% endif %}
      {% endblock %}

    </div>
  </div>
</div>
{% endblock %}