{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<div class='ui rcpch container'>
  <div class="ui two column centered grid">
    <div class="column">
      <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>

      <p>{% blocktrans trimmed %}Congratulations, you've successfully enabled two-factor
        authentication.{% endblocktrans %}</p>
        
      {% if request.user.organisation_employer.pk is not None %}
        <p><a href="{% url 'selected_organisation_summary' organisation_id=request.user.organisation_employer.pk  %}" class="ui rcpch_primary button">{% trans "Go to Organisation View" %}</a></p>
      {% else %}
        <p><a href="{% url 'selected_organisation_summary' organisation_id=1  %}" class="ui rcpch_primary button">{% trans "Go to Organisation View" %}</a></p>
      {% endif %}
      
      
    </div>
  </div>
</div>
{% endblock %}